<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{AREA_NAME}{TYPE_NAME}</title>
<link href="../images/hushi.css" rel="stylesheet" type="text/css" />
<link href="../images/bao.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<!--主框架 -->
	<div id="container">
		<!--头部-->
		<div class="top"><img src="../images/banner.gif" /></div>
		<!--导航-->
		<div class="nav">
			<ul>
				<li style="background:none; padding:0px;"><a href="http://nurse.bokee.com/">大赛首页</a></li>
				<li><a href="../gonggao.shtml" target="_blank">大赛公告</a></li>
				<li><a href="../signup_1.shtml" target="_blank">现在报名</a></li>
				<li style="margin-left:315px; background:none; padding:0px;" onmouseover="document.getElementById('subarea').style.visibility='visible'" onmouseout="document.getElementById('subarea').style.visibility='hidden'"><a href="javascript:void(0)">八大赛区</a></li>
				<li><a href="http://blogs.bokee.com/contribute/channel.php?id=92" target="_blank">投稿</a></li>
				<li><a href="http://nursefund.bokee.com/">基金</a></li>
				<li><a href="http://group.bokee.com/angelsosoku">天使群</a></li>
			</ul>
			<div id="subarea" style="z-index:99;position:absolute;left:705px;top:302px;width:70px;height:180px;border:1px solid #f767ad;background-color:#fbeef5;font-size:14px;line-height:160%;text-align:center;visibility:hidden;"  onmouseover="this.style.visibility='visible'" onmouseout="this.style.visibility='hidden'">
				<div onmouseover="this.style.backgroundColor='#ed1e88'" onmouseout="this.style.backgroundColor='#fbeef5'"><a style="font-size:14px;color:#ed1e88;" onmouseover="this.style.color='#ffffff';" onmouseout="this.style.color='#ed1e88';" href="user_list.php?area=1" target="_blank">华北赛区</a></div>
				<div onmouseover="this.style.backgroundColor='#ed1e88'" onmouseout="this.style.backgroundColor='#fbeef5'"><a style="font-size:14px;color:#ed1e88;" onmouseover="this.style.color='#ffffff';" onmouseout="this.style.color='#ed1e88';" href="user_list.php?area=2" target="_blank">东北赛区</a></div>
				<div onmouseover="this.style.backgroundColor='#ed1e88'" onmouseout="this.style.backgroundColor='#fbeef5'"><a style="font-size:14px;color:#ed1e88;" onmouseover="this.style.color='#ffffff';" onmouseout="this.style.color='#ed1e88';" href="user_list.php?area=3" target="_blank">华东赛区</a></div>
				<div onmouseover="this.style.backgroundColor='#ed1e88'" onmouseout="this.style.backgroundColor='#fbeef5'"><a style="font-size:14px;color:#ed1e88;" onmouseover="this.style.color='#ffffff';" onmouseout="this.style.color='#ed1e88';" href="user_list.php?area=4" target="_blank">华中赛区</a></div>
				<div onmouseover="this.style.backgroundColor='#ed1e88'" onmouseout="this.style.backgroundColor='#fbeef5'"><a style="font-size:14px;color:#ed1e88;" onmouseover="this.style.color='#ffffff';" onmouseout="this.style.color='#ed1e88';" href="user_list.php?area=5" target="_blank">华南赛区</a></div>
				<div onmouseover="this.style.backgroundColor='#ed1e88'" onmouseout="this.style.backgroundColor='#fbeef5'"><a style="font-size:14px;color:#ed1e88;" onmouseover="this.style.color='#ffffff';" onmouseout="this.style.color='#ed1e88';" href="user_list.php?area=6" target="_blank">西南赛区</a></div>
				<div onmouseover="this.style.backgroundColor='#ed1e88'" onmouseout="this.style.backgroundColor='#fbeef5'"><a style="font-size:14px;color:#ed1e88;" onmouseover="this.style.color='#ffffff';" onmouseout="this.style.color='#ed1e88';" href="user_list.php?area=7" target="_blank">西北赛区</a></div>
				<div onmouseover="this.style.backgroundColor='#ed1e88'" onmouseout="this.style.backgroundColor='#fbeef5'"><a style="font-size:14px;color:#ed1e88;" onmouseover="this.style.color='#ffffff';" onmouseout="this.style.color='#ed1e88';" href="user_list.php?area=8" target="_blank">海外赛区</a></div>
			</div>
		</div>
		<!--内容-->
		<div class="con">
			<div class="layout">
				<!--第二屏左侧-->
				<div class="leftdiv">
					<!--登录 -->
					<div class="login" style="border:1px solid #f767ad;display:{LOGINFORM_DISPLAY};">
						<form id="loginForm" name="loginForm" method="post" action="http://reg.bokee.com/account/LoginCtrl.b">
						<p><input name="username" type="text"  class="logintext" value="用户名" onclick="this.value=''"/> <input type="submit" class="loginbtn" value="登录"/></p>
						<p><input name="password" type="password"  class="logintext" /> <input type="button" class="loginbtn" onclick="window.open('http://reg.bokee.com/account/Register.b')" value="注册"/></p>
						<p style="padding-left:0px;"><input type="button" class="bmbtn" onclick="window.open('../signup_1.shtml')" value="我要报名"/></p>
						<input name="url" id="url" type="hidden" value="http://nurse.bokee.com/nurse/redirect_to_me.php" />
						</form>
					</div>
					<!--投票排行-->
					<div class="bowen mtop">
						<h1>
							<span class="lt">投票排行</span>
							<span class="lr"><a href="#">更多>></a></span>
							<div class="clear"></div>
						</h1>
						<div class="tplist">
							<ul>
								<li style="width:64px;">排行</li>
								<li style="width:102px; text-align:left; padding-left:14px;">姓名</li>
								<li style="width:79px; border:none;">投票</li>
							</ul>
							<div class="clear"></div>
						</div>
						<div class="toupai">
							<ul>
								<!-- BEGIN tplist -->
								<li><span class="lt"><a href="{tplist.BLOGURL}" target="_blank" title="{tplist.BLOGNAME0}">{tplist.REALNAME}</a></span><span class="lr"><input type="button" value="投票" class="liubtn" onclick="window.open('smspoll.php?id={tplist.ID}','','width=700,height=360,toolbar=no,status=no,scrollbars=auto,resizable=yes')"/></span></li>
								<!-- END tplist -->
							</ul>
						</div>
					</div>	
					<!--鲜花排行-->
					<div class="bowen mtop">
						<h1>
							<span class="lt">鲜花排行</span>
							<span class="lr"><a href="#">更多>></a></span>
							<div class="clear"></div>
						</h1>
						<div class="tplist">
							<ul>
								<li style="width:64px;">排行</li>
								<li style="width:102px; text-align:left; padding-left:14px;">姓名</li>
								<li style="width:79px; border:none;">鲜花数</li>
							</ul>
						</div>
						<div class="toupai">
							<ul>
								<!-- BEGIN xhlist -->
								<li><span class="lt"><a href="{xhlist.BLOGURL}" target="_blank" title="{xhlist.BLOGNAME0}">{xhlist.REALNAME}</a></span><span class="lr">{xhlist.COUNT}</span></li>
								<!-- END xhlist -->
							</ul>
						</div>
					</div>
					<!--留言排行-->
					<div class="bowen mtop">
						<h1>
							<span class="lt">留言排行</span>
							<span class="lr"><a href="#">更多>></a></span>
							<div class="clear"></div>
						</h1>
						<div class="tplist">
							<ul>
								<li style="width:64px;">排行</li>
								<li style="width:102px; text-align:left; padding-left:14px;">姓名</li>
								<li style="width:79px; border:none;">鲜花数</li>
							</ul>
						</div>
						<div class="toupai">
							<ul>
								<!-- BEGIN lylist -->
								<li><span class="lt"><a href="{lylist.BLOGURL}" target="_blank" title="{lylist.BLOGNAME0}">{lylist.REALNAME}</a></span><span class="lr">{lylist.COUNT}</span></li>
								<!-- END lylist -->
							</ul>
						</div>
					</div>
				</div>
				<div class="saiqu" style=" width:660px;border:1px solid #faacd3; margin:0px 0px 0px 20px;">
					<div class="husou" style=" width:660px; margin-top:10px;">
						<form name="searchForm" action="search.php" method="post" target="_blank">
						护士搜索：按
						<input name="type" type="radio" value="id" class="radio" checked/>参赛编号
						<input name="type" type="radio" value="realname" class="radio" />真实姓名
						<input name="value" type="text" class="type" />
						<input name="submit" type="submit" class="button" value="搜索"/>
						</form>
					</div>	
					<h1 style="color:#ed1e88; background:none; margin-left:0px;">
						<span class="lt">{AREA_NAME}{TYPE_NAME}</span>
						<span class="lt" style="margin:2px 0px 0px 10px;"><a href="#" class="namelink">(本赛区共{COUNT}选手)</a></span>
						<span class="lr"><a href="#">更多>></a></span>
						<div class="clear"></div>
					</h1>
					<!-- BEGIN list -->
					<div class="saitu">
						<a href="{list.BLOGURL}" target="_blank" title="{list.BLOGNAME0}"><img src="photo/{list.AREA}/{list.PHOTO}" /></a>
						<ul>
							<li>编号：{list.ID}</li>
							<li><a href="{list.BLOGURL}" target="_blank" title="{list.BLOGNAME0}">{list.REALNAME}</a></li>
							<li><a href="#">{list.HOSPITAL}</a></li>
							<li><input type="button" class="toubtn" value="投 票" onclick="window.open('smspoll.php?id={list.ID}','','width=700,height=360,toolbar=no,status=no,scrollbars=auto,resizable=yes')"/></li>
							<li><a href="comment.php?id={list.ID}" target="_blank" class="morelink">留言</a> | <a href="poll.php?id={list.ID}" class="morelink" target="iframe1">献花</a></li>
						</ul>
					</div>
					<div class="jiantu"></div>
					<!-- END list -->
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<!--合作媒体-->
		<div class="layout">
			<div class="bowen" style=" width:948px;">
				<h1>
					<span class="lt">合作媒体</span>
					<span class="lr"><a href="#">更多>></a></span>
					<div class="clear"></div>
				</h1>
				<div class="hezuo">
					<ul>
						<li><a href="#"><img src="../images/tu09.gif" /></a></li>
						<li><a href="#"><img src="../images/tu10.gif" /></a></li>
						<li><a href="#"><img src="../images/tu11.gif" /></a></li>
						<li><a href="#"><img src="../images/tu12.gif" /></a></li>
						<li><a href="#"><img src="../images/tu13.gif" /></a></li>
						<li><a href="#"><img src="../images/tu14.gif" /></a></li>
						<li><a href="#"><img src="../images/tu15.gif" /></a></li>
						<div class="clear"></div>
					</ul>
				</div>
			</div>
		</div>
		<style>
		.bottom{margin:0 auto; padding: 22px 0px 5px 0px; width: 830px; border-bottom:1px solid #808080; text-align:center; color:#808080;}
		.bottom a:link {font-size: 12px;color:#000;text-decoration: none;}
		.bottom a:visited {font-size: 12px;color:#000;text-decoration: none;}
		.bottom a:hover {font-size: 12px;color: #B41F0B;text-decoration: none;}
		.copyright { line-height:22px; text-align:center; color:#808080;}
		</style>
		<div class="bottom">
			<a href="http://www.bokee.com/new/about/aboutus.html">关于本站</a> | <a href="http://adimage.bokee.com/images/ad/minisite/service/serve.htm">广告服务</a> | <a href="http://www.bokee.com/new/about/contact.html">联系我们</a> | <a href="http://www.bokee.com/new/about/service.htm">服务条款</a> | <a href="http://www.bokee.com/new/about/privacy.htm">隐私保护</a> | <a href="http://service.bokee.com/">客服中心</a> | <a href="http://column.bokee.com/37233.html">人员招聘 </a>| <a href="http://www.bokee.com/new/about/morelink.htm">友情链接</a> | <a href="http://www.bokee.com/new/about/sitemap.html">导航</a> | <a href="mailto:annzeng#bokee.com">主编信箱</a> | <a href="http://reg.bokee.com/account/Register.b">注册</a>
		</div><!--版权信息开始-->
		<div class="copyright">
			Copyright 2002 - 2005 Bokee.com, All Rights Reserved<br/>增值电信业务经营许可证编号：B2-20050016<br/><a href="http://www.allyes.com/"><img src="../images/icp.gif" alt="icp" /></a> <a href="http://net.china.cn/chinese/index.htm"> 京ICP证050706号 </a> <a href="http://www.allyes.com/"><img src="../images/netcn.gif" alt="不良信息举报中心"/></a>  <a href="http://www.allyes.com/"> <img src="../images/allyes.gif" alt="all"/></a>
		</div><!--底部结束-->
	</div>
</body>
</html>
