<!-- 第二届美博专题调用 -->
		  <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <!-- BEGIN list1 -->
				<td><a href="{list1.LINK}" alt="{list2.TITLE}"><img src="{list1.PHOTO}" width="100" height="100" border="0" /></a></td>
                <td>&nbsp;</td>
                <!-- END list1 -->
              </tr>
              <tr>
                <!-- BEGIN list1 -->
				<td height="28" align="center">编号：{list1.ID} [<a href="{list1.LINK}" title="{list1.TITLE}">投票</a>]</td>
                <td>&nbsp;</td>
                <!-- END list1 -->
              </tr>
              <tr>
                <!-- BEGIN list2 -->
				<td><a href="{list2.LINK}" alt="{list2.TITLE}"><img src="{list2.PHOTO}" width="100" height="100" border="0" /></a></td>
                <td>&nbsp;</td>
                <!-- END list2 -->
              </tr>
              <tr>
                <!-- BEGIN list2 -->
				<td height="28" align="center">编号：{list2.ID} [<a href="{list2.LINK}">投票</a>]</td>
                <td>&nbsp;</td>
                <!-- END list2 -->
              </tr>
          </table>