<!-- BEGIN top60list -->
<div class="order_unit2"> <a href="{top60list.BLOGURL}" target="_blank"><img src="mm2007/photo/{top60list.AREA}/{top60list.PHOTO}" alt="{top60list.BLOGNAME}" /></a>
	<p class="order_unit_b2"> ±àºÅ£º{top60list.ID}<br />
		<a href="{top60list.BLOGURL}" target="_blank" title="{top60list.BLOGNAME}">{top60list.TMP_BLOGNAME}</a><br />
		<input type="button" class="btn_s" value="Í¶Æ±" onclick="window.open('mm2007/poll.php?type=sms&id={top60list.ID}&area={top60list.AREA}','','width={list.SMSPOLLWIDTH},height={list.SMSPOLLHEIGHT},toolbar=no,status=no,scrollbars=auto,resizable=yes')" />
		<input type="button" class="btn_s" value="ÁôÑÔ" onclick="window.open('mm2007/comment.php?id={top60list.ID}','','')" />
	</p>
</div>
<!-- END top60list -->
