<!-- BEGIN list -->
<div class="order_unit2"> <a href="{list.BLOGURL}" target="_blank"><img src="mm2007/photo/{list.AREA}/{list.PHOTO}" alt="{list.BLOGNAME}" /></a>
	<p class="order_unit_b2"> ±àºÅ£º{list.ID}<br />
		<a href="{list.BLOGURL}" target="_blank" title="{list.BLOGNAME}">{list.TMP_BLOGNAME}</a><br />
		<input type="button" class="btn_s" value="Í¶Æ±" onclick="window.open('mm2007/poll.php?type=sms&id={list.ID}&area={list.AREA}','','width={list.SMSPOLLWIDTH},height={list.SMSPOLLHEIGHT},toolbar=no,status=no,scrollbars=auto,resizable=yes')" />
		<input type="button" class="btn_s" value="ÁôÑÔ" onclick="window.open('mm2007/comment.php?id={list.ID}','','')" />
	</p>
</div>
<!-- END list -->
