			<select id="key">
			{% if pub_track_count %}
				<option value=''>查看他人公开的轨迹</option>
				{% for item in pub_track %}
				<option value="{{ item.key }}">
				{% if item.description %}
				{{ item.description }}
				{% else %}
				{{ item.begin_time|date:"m-d H:i" }} ~ {{ item.end_time|date:"m-d H:i" }}
				{% endif %}
				(by {{ item.user }})</option>
				{% endfor %}
			{% else %}
				<option value=''>选择行动时间</option>
				{% for item in user_track %}
				<option value="{{ item.key }}" id="{{ item.private }}" label="{{ item.description }}">
				{% if item.description %}
				{{ item.description }}
				{% else %}
				{{ item.begin_time }} ~ {{ item.end_time }}
				{% endif %}
				[{% if item.private %}私有{% else %}公开{% endif %}]</option>
				{% endfor %}
			{% endif %}
			</select>
			<div class="clear"></div>
			<span id="description" style="display:none">简短说明：<input type="text" id="descr" value="" size="25" maxlength="30"/><input type="button" id="submit" value="设置"/></span>
			<br />

			播放速度：<input type="text" id="speed" name="speed" value="500" size="3" onchange="changeSpeed()" />
			<span id="slider_speed"></span>
			<input type="button" id="play" value="播放" />
			<input type="button" id="pause" value="暂停" disabled="true"/>
			<input type="button" id="delete" value="删除" style="display:none"/>
			<input type="button" id="pub" value="设为公开" style="display:none"/>
			<input type="button" id="hold" value="设为私有" style="display:none"/>
			<br />
			<br />
			<span id="progressMsg"></span><br />
			<span id="currentElevation"></span><br />
			<span id="currentSpeed"></span><br />
			<span id="averageSpeed"></span><br />
			<span id="distance"></span><br />
			<span id="timespan"></span>