* { padding: 0; margin: 0; font-size: 12px; font-family:Geneva, Arial, Helvetica, sans-serif; }
body { margin: 10px 15px 10px 15px; overflow: auto; }
a { text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
img { border: none; }
li { list-style: none; white-space: nowrap; }

input,textarea { border: 1px solid #ccc; padding-left: 2px; padding-right: 2px; }
textarea { overflow: auto; }

.clr, .clrl { line-height: 0; height: 0; clear: both; }
.clrl { border-bottom: 1px solid #dbdbdb; padding-top: 15px; }

#loading { position: absolute; left: 80px; top: 160px; z-index: 89; display: none; }
#br { clear: both; height: 50px; }
#counter { display: none; position: absolute; left: -1000px; top: -900px; }

/*************    顶部    **************/
#toper { text-align: right; height: 40px !important; height: 35px; margin-top: 15px; }
#toper a, #toper strong { padding-left: 10px; padding-right: 10px; font-size: 12px; color: #000; border-right: 1px solid #dbdbdb; }
#toper a.lm { border: none; clear: right; padding-right: 0; }
#toper #logo { float: left; border: none; padding-left: 0; }

#toper_cache { text-align: right; height: 40px !important; height: 35px; margin-top: 15px; padding-top: 5px; }
#toper_cache a, #toper strong { padding-left: 10px; padding-right: 10px; font-size: 12px; color: #000; border-right: 1px solid #dbdbdb; }
#toper_cache a.lm { border: none; clear: right; padding-right: 0; }
#toper_cache #logo { float: left; border: none; padding-left: 0; margin-top: -10px; }

/*************  布局   **************/
#mainLeft, #blogLeft { clear: left; overflow: hidden; display: block; margin-right: 10px !important; margin-right: 210px; }
#myright, #blogright { width: 200px; float: right; clear: right; margin-right: -10px !important; margin-right: -5px; } 

/*网志布局*/
#blogLeft { margin-right: 240px; }
#blogright { width: 230px; }

.clrl { border-bottom: 1px solid #dbdbdb; padding-top: 15px; }

/*************    底部    **************/
#footer { clear: both; border-top: 1px solid #dbdbdb; padding-top: 13px; padding-bottom: 15px; }
#footer a { float: left; color: #000; border-left: 1px solid #ddd; padding-right: 5px; padding-left: 5px }
#footer a.fm { border-left: 0; padding-left: 0; }
#footer span { float: right; }
#bottom { clear: left; overflow: hidden; height: 0px; line-height: 0px; }

/*************    弹出筐    **************/
#itemopen { z-index: 3; position: absolute; left: -200px; top: -200px; visibility: hidden; width:200px; }
#itemopen2 { z-index: 2; position: absolute; left: -200px; top: -200px; visibility: hidden; width:360px; background-color:#E0E9ED; text-align: center; margin-left: auto; margin-right: auto; cursor: move; }
#note { background-color: #fdfbe0; border: 1px solid #000000; padding: .2em; overflow: hidden; }
#note img { max-width: 200px; }
img.spc { max-width: 200px; }

/************     itemOpen2        **************/
.ititle { height: 25px; line-height: 25px; background-color: #e0e9ed; }
.ititle img { float: right; text-align: right; cursor: pointer; border: 0; margin-top: 5px; }
.ititle span { font-weight: bold; font-size: 12px; }

/*************  搜索条   **************/
#searcher { height: 35px; border: 1px solid #eaeef1; margin-bottom: 10px; padding: 0px 8px 0 6px; background-image:url('topbg.gif') }
#searcher ul { float: left; }
#searcher ul li { border: 1px solid #eaeef1; float: left; margin-top: 5px; margin-right: 12px; padding-left: 3px; padding-right: 3px; background-color: #F0FAFB; background-image:url('menu.gif') }
#searcher ul li a { display: block; float: left; margin-top: 5px !important; margin-bottom: 2px !important; padding: 0 !important; margin-top: 0px; margin-bottom: 0px; padding-top: 3px; padding-bottom: 3px; }
#searcher ul li img { float: left; margin-top: 3px !important; margin-top: 2px; margin-right: 4px; height: 16px; width: 16px; }
#searcher form { float: right; margin-top: 7px; }
#searcher form #searchBox { position: absolute; margin-left: -163px; height: 17px; margin-top: 1px; border: none; }
#searcher #submit { margin-left: -12px; border: none; }
#searcher a { color: #898989; }
#searcher .curr { color: #53BA15; }
#searcher a:hover { color: #53BA15; }

#searcher #cacher { float: left; margin-top: 5px; margin-right: 12px; padding: 3px 5px 3px 5px; }

/*************  分页    **************/
#page { position: relative; margin-left: -3px !important; margin-left: -6px; margin-bottom: 10px; }
#page a { color: #666; border: 1px #eee solid; padding: 1px 6px; margin-right: 3px; margin-left: 3px; display: block; float: left; }
#page a:hover { color: #fff; background-color: #64ca26; text-decoration: none; }
#page span { color: #54ba16; padding: 1px 6px; margin-right: 3px; margin-left: 3px; display: block; float: left; }
#page .dot { color: #ccc; }

/*************  sub menu    **************/
#smenu { display: block; height: 34px; }
#smenu a { color: #666; border: 1px #eee solid; padding: 2px 6px; margin-right: 3px; margin-left: 3px; display: block; float: left; }
#smenu a:hover { color: #fff; background-color: #64ca26; text-decoration: none; }

/*************  favs    **************/
#favs { display: block; clear: left; padding-bottom: 20px; padding-top: 10px !important; padding-top: 0; }
.fav { display: block; margin-bottom: 10px; overflow: hidden; }

.fav .fi { width: 20px; float: left; }
.fav .fi .fimg { border: 0; width: 16px; height: 16px; cursor: pointer; }

.fav .furl { margin-bottom: 3px; margin-left: 20px; }
.fav .furl a.url { font-size: 13px; color: #261cdc; }
.fav .furl a:hover { text-decoration: underline; }
.fav .furl a.dig { color: #999; margin-left: 10px; }

.fav .preview img { height: 32px; margin-left: 22px; }

.fadd { color: #999; margin-left: 22px; }
.fadd a { color: #999; }
.fadd .fs { margin-left: 8px; margin-right: 8px; }
.fadd a.tag { color: #999; } 
.fadd a.tag:hover {  color: #fff; background-color: #54ba16; text-decoration: none; } 

.fav .pimg { margin-left: auto; margin-right: auto; text-align: center; }
.fav .notes { margin-left: 20px; padding: 3px; background-color:#fffff9; color: #444; max-width: 300px; width: 300px; }
.fav .wmaplayer { color:#999999; font-family:Geneva, Arial, Helvetica, sans-serif; font-size:10px; }
.fav .edit { cursor: pointer; }

.fadd span.edit { margin-left: 20px; visibility: hidden; }

.fav2 { display: block; margin-bottom: 10px; overflow: hidden; }
.fav2:hover { background-color: #eee; }

.fav2 .fi { width: 20px; float: left; }
.fav2 .fi img { position: absolute; z-index: 9; width: 50px; border: 1px solid #666; margin-top: 1px; }

.fav2 .furl { margin-bottom: 3px; margin-left: 60px; }
.fav2 .furl a.url { font-size: 13px; color: #261cdc; }
.fav2 .furl a:hover { text-decoration: underline; }
.fav2 .furl a.dig { color: #999; margin-left: 10px; }

.fav2 .preview img { height: 32px; margin-left: 60px; }

.fav2 .fadd { color: #999; margin-left: 60px; }
.fav2 .fadd a { color: #999;}
.fav2 .fadd .fs { margin-left: 8px; margin-right: 8px; }
.fav2 .fadd a.tag { color: #999; } 
.fav2 .fadd a.tag:hover {  color: #fff; background-color: #54ba16; text-decoration: none; } 

.fav2 .faddr { color: #999; margin-left: 60px; margin-top: 3px; margin-bottom: 3px; }
.fav2 .faddr a { color: #999; margin-right: 8px; }

.fav2 .pimg { margin-left: auto; margin-right: auto; text-align: center; }
.fav2 .notes { margin-left: 60px; padding: 3px; background-color:#fffff9; color: #444; max-width: 300px; width: 300px; }
.fav2 .wmaplayer { color:#999999; font-family:Geneva, Arial, Helvetica, sans-serif; font-size:10px; }
.fav2 .edit { cursor: pointer; }

.fav2 .fadd span.edit { margin-left: 60px; visibility: hidden; }

/***********************************************/
/*                   首页  	                   */
/***********************************************/
/*************  受欢迎   **************/
#hottags { padding-right: 10px; }
#hottagt { border: 1px solid #eaeef1; height:25px; padding-left: .5em; background-image:url('toptagt.gif') }
#hottagt a { font-size: 14px; color: #72A5C2; line-height: 25px; position: absolute; }
#hottagt img { margin-right: 10px; margin-top: 8px; cursor: pointer; }
#hottag { border: 1px solid #eaeef1; border-top: none; padding: 5px 0 10px 10px; margin-bottom: 15px; }
#hottag a { font-size:12px; color: #333; line-height: 150%; display: block; }

#hotusers { padding-right: 10px; }
#hotusert { border: 1px solid #eaeef1; height:25px; padding-left: .5em; background-image:url('toptagt.gif') }
#hotusert a { font-size: 14px; color: #72A5C2; line-height: 25px; position: absolute; }
#hotusert img { margin-right: 10px; margin-top: 8px; cursor: pointer; }
#hotuser { border: 1px solid #eaeef1; border-top: none; padding: 5px 0 10px 10px; }
#hotuser img { height: 16px; width: 16px; float: left; margin-right: 6px; }
#hotuser a { font-size:12px; color:#16397D; line-height: 20px; display: block; }

/***********************************************/
/*                   标签  	                   */
/***********************************************/
/*************  受欢迎   **************/
#urlpurs { padding-right: 10px; margin-bottom: 15px; }
#urlpurt { border: 1px solid #eaeef1; height:25px; padding-left: .5em; background-image:url('toptagt.gif') }
#urlpurt a { font-size: 14px; color: #72A5C2; line-height: 25px; position: absolute; }
#urlpurt img { margin-right: 10px; margin-top: 8px; cursor: pointer; }
#urlpur { border: 1px solid #eaeef1; border-top: none; padding: 5px 0 10px 10px; }
#urlpur a { font-size:12px; color: #333; line-height: 150%; display: block; }

#goads { padding-right: 10px; margin-bottom: 15px; }
#goadt { border: 1px solid #eaeef1; height:25px; padding-left: .5em; background-image:url('toptagt.gif') }
#goadt a { font-size: 14px; color: #72A5C2; line-height: 25px; position: absolute; }
#goadt img { margin-right: 10px; margin-top: 8px; cursor: pointer; }
#goad { border: 1px solid #eaeef1; border-top: none; padding: 5px 0 10px 10px; }
#goad img { height: 16px; width: 16px; float: left; margin-right: 6px; }
#goad a { font-size:12px; color:#16397D; line-height: 20px; display: block; }



/***********************************************/
/*                   用户  	                   */
/***********************************************/
/*************  右侧   **************/
#mytags { padding-right: 10px; margin-bottom: 15px; }
#mytagt { border: 1px solid #eaeef1; height:25px; padding-left: .5em; background-image:url('toptagt.gif') }
#mytagt img { margin-right: 10px; margin-top: 8px; cursor: pointer; }
#mytagt a { font-size: 14px; color: #72A5C2; line-height: 25px; position: absolute; }
#mytagt #editbundle { position: absolute; right: 20px; color: #72a5c2; font-size: 12px; }
#mytag { border: 1px solid #eaeef1; border-top: none; padding: 5px 0 10px 15px; }/* background-image:url('11.jpg'); background-position: bottom; background-repeat: repeat-x;*/
#mytag .bundle { font-size:13px; display: block; color: #666; border-bottom: 1px solid #eee; line-height: 20px; margin-bottom: 5px; padding-bottom: 2px; margin-left: -5px; cursor: pointer; }
#mytag .nb { border: none; }
#mytag ul { margin-bottom: 8px; }
#mytag a { color: #6295b2; line-height: 20px; margin-left: 5px; }
#mytag li .num { color: #ccc; line-height: 20px; position: absolute; right: 30px; }

#myfriends { padding-right: 10px; margin-bottom: 10px; }
#myfriendt { border: 1px solid #eaeef1; height:25px; padding-left: .5em; background-image:url('toptagt.gif') }
#myfriendt img { margin-right: 10px; margin-top: 8px; cursor: pointer; }
#myfriendt a { font-size: 14px; color: #72A5C2; line-height: 25px; position: absolute; }
#myfriendt #addfriend { position: absolute; right: 20px; color: #72a5c2; font-size: 12px; }
#myfriend { border: 1px solid #eaeef1; border-top: none; padding: 5px 0 10px 0px; }
#myfriend img { margin-left: 8px !important; margin-left: -5px; margin-right: 5px;  }
#myfriend a { color: #024562;  line-height: 20px; }

#mefriends { padding-right: 10px; margin-bottom: 10px; }
#mefriendt { border: 1px solid #eaeef1; height:25px; padding-left: .5em; background-image:url('toptagt.gif') }
#mefriendt img { margin-right: 10px; margin-top: 8px; cursor: pointer; }
#mefriendt a { font-size: 14px; color: #72A5C2; line-height: 25px; position: absolute; }
#mefriend { border: 1px solid #eaeef1; border-top: none; padding: 5px 0 10px 0px; }
#mefriend img { margin-left: 8px !important; margin-left: -5px; margin-right: 5px;  }
#mefriend a { color: #024562;  line-height: 20px; }



/***********************************************/
/*                   用户个人资料	           */
/***********************************************/
/*资料右侧   **************/
#addmefriends { padding-right: 10px; margin-top: 15px; margin-bottom: 10px; }
#addmefriendt { border: 1px solid #eaeef1; height:25px; padding-left: .5em; background-image:url('toptagt.gif') }
#addmefriendt img { margin-right: 10px; margin-top: 8px; cursor: pointer; }
#addmefriendt a { font-size: 14px; color: #72A5C2; line-height: 25px; position: absolute; }
#addmefriend { border: 1px solid #eaeef1; border-top: none; padding: 5px 0 10px 15px; }
#addmefriend a { color: #024562; line-height: 20px; display: list-item; list-style: none; }
/*资料左侧   **************/
#myDetails {}

#myInfo { float: left; height: 98px; width: 300px; }
#myInfo img {width: 96px; height: 96px; border: 1px solid #eee; float: left; }
#myInfo ul { display: block; margin-left: 116px;  }
#myInfo ul li { line-height: 19px; font-size: 14px; }
#myInfo ul li a { color: #72A5C2; margin-bottom: 5px; }

#myFeeling { background-color: #f7f7f7; padding: 8px 10px 20px 12px; margin-right: -10px; font-size: 13px; line-height: 25px; display: block; margin-left: 310px; }
#myFeeling h3 { font-size: 13px; font-weight: bold; margin-top: 0; }

.clr2 { line-height: 0; height: 0; clear: left; border-bottom: 1px dashed #eee; margin-top: 20px; margin-bottom: 10px; }

#addmsg #status a { color: #fff; background-color: #54ba16; float: right; padding-bottom: 1px !important; padding: 2px 6px 0px 6px; }
#addmsg #status span { color: #64ca26; margin-left: 3px; margin-right: 3px; }

#addmsg #addnow { color: #666; text-align: right; line-height: 28px; display: block; height: 140px; }
#addmsg #addnow #privy { border: none;  }
#addmsg #status { display: block; margin-bottom: 5px; }
#addmsg #addnow #cancle { color: #fff; background-color: #ccc; padding-bottom: 1px !important; padding: 2px 8px 0px 8px; margin-left: 10px; }
#addmsg #addnow #submit { color: #fff; background-color: #64ca26; padding-bottom: 1px !important; padding: 2px 8px 0px 8px; margin-left: 10px; }
#addmsg #addnow #error { color: #f00; margin-right: 10px; }
#addmsg #msgcontent { margin-top: 4px !important; margin-top: 24px; width: 100%; position: inherit !important; position: absolute; left: 15px; }
#addmsg #msgcontent textarea { height: 100px; width: 100%; position: inherit !important; position: absolute; left: 0; }


#msgs { display: block; margin-top: 30px; }
#msgs .mhead { float: left; width: 38px; padding-top: 3px; }
#msgs .mhead img { width: 32px; height: 32px; }
#msgs .msg .ndd { text-align: right; background-color: #f7f7f7; color: #999; padding: 3px 6px; margin-left: 40px; }
#msgs .msg .ndd a { float: left; color: #5499ba; font-weight: bold; }
#msgs .msg .ndd span { cursor: pointer; }
#msgs .msg .ndd span:hover { text-decoration: underline; cursor: pointer; }
#msgs .msgcon { color: #666; padding: 6px; line-height: 20px; margin-bottom: 10px; margin-left: 40px; }




/***********************************************/
/*                   用户网络日志	               */
/***********************************************/
/*网志右侧   **************/
#myDetails { padding-right: 10px; margin-bottom: 10px; }
#myDetailt { border: 1px solid #eaeef1; height:25px; padding-left: .5em; background-image:url('toptagt.gif') }
#myDetailt img { margin-right: 10px; margin-top: 8px; cursor: pointer; }
#myDetailt a { font-size: 14px; color: #72A5C2; line-height: 25px; position: absolute; }

#myDetail { border: 1px solid #eaeef1; border-top: none; padding: 15px 10px 10px 15px; height: 108px; }
#myDetail img { float: left; width: 96px; height: 96px; border: 1px solid #eee; margin-right: 10px; }
#myDetail li { line-height: 20px; }
#myDetail a { color: #000; }


#mynewblogs { padding-right: 10px; margin-top: 15px; margin-bottom: 10px; }
#mynewblogt { border: 1px solid #eaeef1; height:25px; padding-left: .5em; background-image:url('toptagt.gif') }
#mynewblogt img { margin-right: 10px; margin-top: 8px; cursor: pointer; }
#mynewblogt a { font-size: 14px; color: #72A5C2; line-height: 25px; position: absolute; }
#mynewblogt #addblog { position: absolute; right: 20px; color: #72a5c2; font-size: 12px; }
#mynewblog { border: 1px solid #eaeef1; border-top: none; padding: 5px 10px 10px 15px; }
#mynewblog li { line-height: 24px; border-bottom: 1px dotted #ccc; }
#mynewblog a { color: #000; }

#mynewreplays { padding-right: 10px; margin-top: 15px; margin-bottom: 10px; }
#mynewreplayt { border: 1px solid #eaeef1; height:25px; padding-left: .5em; background-image:url('toptagt.gif') }
#mynewreplayt img { margin-right: 10px; margin-top: 8px; cursor: pointer; }
#mynewreplayt a { font-size: 14px; color: #72A5C2; line-height: 25px; position: absolute; }
#mynewreplayt #addreplay { position: absolute; right: 20px; color: #72a5c2; font-size: 12px; }
#mynewreplay { border: 1px solid #eaeef1; border-top: none; padding: 5px 10px 10px 15px; }
#mynewreplay li { line-height: 24px; border-bottom: 1px dotted #ccc; }
#mynewreplay a { color: #000; }



/*网志左侧  **************/
#blogLeft #page { margin-top: 20px; }

.mblog { padding-bottom: 5px; display: block; margin-bottom: 10px; }
.mblog .title { text-align: right; background-color: #f7f7f7; color: #999; padding: 3px 3px 2px 10px; }
.mblog .title a { color: #999; }
.mblog .title .mtitle { float: left; font-size: 13px; margin-left: 8px; color:#016599; }
.mblog .title .e { float: left; position: absolute; left: 20px !important; left: 20px; margin-top: 4px !important; margin-top: 2px; }
.mblog .title span { color: #84C427; margin-left: 2px; margin-right: 2px; }
.mblog .title .pri { float: left; }
.mblog .con { margin-bottom: 10px; margin-top: 10px; padding-left: 10px; overflow: auto; }
.mblog .con td { color: #222; font-size: 13px; }


#mblog { padding-bottom: 5px; padding-top: 10px; display: block; margin-bottom: 10px; }
#mblog .title a { text-align: right; color: #00659A; font-size: 14px; font-weight: bold; padding: 3px 3px 2px 0; }
#mblog .title .mtitle { float: left; font-size: 13px; margin-left: 8px; color:#016599; }
#mblog .title img { position: absolute; margin-top: 0 !important; margin-top: 2px; }
#mblog .title span { color: #84C427; margin-left: 2px; margin-right: 2px; }
#mblog .con { margin-bottom: 10px; margin-top: 10px; overflow: auto; }
#mblog .con td { color: #222; font-size: 13px; }
#mblog .sub { text-align: right; color: #999; padding-bottom: 3px; padding-top: 10px; border-bottom: 1px #ddd dotted; }
#mblog .sub span { color: #84C427; margin-left: 2px; margin-right: 2px; }
#mblog .sub a { color: #999; }

#msgnum { text-align: right; font-weight: bold; color: #84C427; }

#rblogs { display: block; margin-top: 10px; }
#rblogs .mhead { float: left; width: 38px; padding-top: 3px; }
#rblogs .mhead img { width: 32px; height: 32px; }
#rblogs .ndd { text-align: right; background-color: #f7f7f7; color: #999; padding: 3px 6px; margin-left: 40px; }
#rblogs .ndd a { float: left; color: #5499ba; font-weight: bold; }
#rblogs .ndd span { cursor: pointer; }
#rblogs .con .title { color: #5499ba; margin-right: 4px; display: block; }
#rblogs .con { color: #666; padding: 6px; line-height: 20px; margin-bottom: 10px; margin-left: 40px; }

#addreplay #status a { color: #fff; background-color: #54ba16; padding-bottom: 1px !important; padding: 2px 6px 0px 6px; }
#addreplay #status { display: block; margin-bottom: 5px; text-align: right; }

#addreplay form { color: #666; text-align: right; line-height: 28px; display: block; height: 140px; }
#addreplay form #privy { border: none; }
#addreplay form #error { color: #f00; margin-right: 10px; }
#addreplay form #cancle { color: #fff; background-color: #ccc; padding-bottom: 1px !important; padding: 2px 8px 0px 8px; margin-left: 10px; }
#addreplay form #submit { color: #fff; background-color: #64ca26; padding-bottom: 1px !important; padding: 2px 8px 0px 8px; margin-left: 10px; }
#addreplay form #msgcontent { margin-top: 4px !important; margin-top: 24px; width: 100%; position: inherit !important; position: absolute; left: 15px; }
#addreplay form #Tcontent { height: 100px; width: 100%; position: inherit !important; position: absolute; left: 0; }



/*回复网志  **************/
#replayblog { border: 1px dashed #ccc; padding: 25px 10px 10px 25px; margin-bottom: 20px; }
#replayblog input, #replayblog textarea { border: 1px solid #ccc; padding-left: 3px; }
#replayblog div { margin-bottom: 5px; vertical-align: text-top; }
#replayblog div span { float: left; display: block; margin-top: 1px; width: 50px; }
#replayblog img { height: 19px; width: 19px; }
#replayblog #em, #replayblog #sure { margin-left: 50px; }
#replayblog #sure input { padding-left: 5px; padding-right: 5px; margin-right: 20px; }

#rbem { position: absolute; right: 250px; margin-top: -5px; }
#rbem img { margin-left: 3px; }


/***********  gblog  *************/
#gblogt { margin-bottom: 5px; margin-left: -5px; line-height: 20px; }
#gblogt a { color: #000; text-decoration: underline; font-weight: bold; border-right: 1px solid #999; padding-right: 20px; margin-left: 20px; }
#gblogt a.lm  { padding-right: 0; border-right: none; }
#gblogt a:hover { color: #cc0; }

.gblogst { margin-bottom: 8px; height: 20px; background-color: #eee; margin-left: -15px; padding-left: 15px; }
.gblogst div { float: left; line-height: 20px; color:#666;  padding-bottom: 3px; }
.gblogst .title { width: 400px; padding-left: 20px; }
.gblogst .name { width: 100px; }
.gblogst .date { width: 200px; }
.gblogst .view { width: 60px; text-align: center; margin-left: auto; margin-right: auto; }
.gblogst .replay { width: 60px; text-align: center; margin-left: auto; margin-right: auto; }

.gblogs { width: 890px; background-position:bottom; background-image:url(/images/dotline.gif); background-repeat: repeat-x; margin-top: 0px; margin-bottom: 8px; height: 20px; }
.gblogs div { float: left; line-height: 20px; color:#666666;  padding-bottom: 3px; }
.gblogs .title { font-size: 13px; width: 400px; padding-left: 20px; }
.gblogs .title a { color: #06c; margin-right: 10px; }
.gblogs .kind { color: #f00; }
.gblogs .name { width: 100px; }
.gblogs .name a { color: #666; }
.gblogs .date { width: 200px; }
.gblogs .date a { margin-left: 20px; color: #666; }
.gblogs .view { width: 60px; text-align: center; margin-left: auto; margin-right: auto; font-family: Tahoma; }
.gblogs .replay { width: 60px; text-align: center; margin-left: auto; margin-right: auto; font-family: Tahoma; }

.blogl { margin-bottom: 8px; height: 15px; background-color: #eee; margin-left: -15px; margin-right: -5px; } /*** line ***/



/***********************************************/
/*                   其它页面                  */
/***********************************************/
/*************     云     **************/
#cloud { font-weight: bold; line-height: normal; text-align: center; text-decoration: none; margin: 4%; }
#cloud a { margin: 12px; line-height: 36px; overflow: auto; white-space: nowrap; }
#cloud a:hover { color: #161; background-color: #ff0; text-decoration: none; }
#cloud a.bs1 { font-size: 9pt; color: #dFbE8D }
#cloud a.bs2 { font-size: 9pt; color: #D2B48C }
#cloud a.bs3 { font-size: 9pt; color: #EE8262 }
#cloud a.bs4 { font-size: 10.5pt; color: #87CEEB }
#cloud a.bs5 { font-size: 10.5pt; color: #cc9 }
#cloud a.bs6 { font-size: 10.5pt; color: #F4A460 }
#cloud a.bs7 { font-size: 14pt; color: #FF7F50 }
#cloud a.bs8 { font-size: 14pt; color: #DB7093 }
#cloud a.bs9 { font-size: 14pt; color: #EECBAD }
#cloud a.bs10 { font-size: 16pt; color: #EE3B3B }

/************ view *************/
#viewright { background: #F7F7F7; float: right; width: 350px; height: 350px;  margin: 20px 0px 5px 0px; overflow: hidden; }
#viewleft { background: #FFFFFF; margin-right: 400px; margin-top: 20px; }


/************ register / login / set **************/
#left { float: left; clear: left; width: 170px; margin-right: 20px; }
#left .head { margin-bottom: 10px; font-size: 13px; }
#left .item { margin-bottom: 3px; display: block; height: 20px; line-height: 20px; }
#left .item span { float: left; clear: left; margin-left: 1em;  }
#left .item input { float: right; clear: right; width: 100px;  }
#left .item textarea { margin-left: 27px; position: absolute; }
#left .error { color: #f00; margin-left: 2em; line-height: 20px; }
#left .sure { padding-left: 3em; margin-top: 15px; display: block; }
#left .sure input { float: left; padding-left: 3px; padding-right: 3px; margin-left: 20px; }
#left .item select { position: absolute; margin-left: 30px; border: 1px solid #ccc; }
#left .sure a { font-size: 14px; line-height: 24px; }
#right { padding: 10px 10px 15px 5px; float: left; line-height: 150%; background-color: #eee; width: 340px; margin-left: 20px; }
#right h4 { margin: 5px 0 0 0; font-weight: normal; }
#right p { margin-left: 0px; }
#right .learn-more { float: right; clear: right; margin-right: 30px; display: block; margin-top: 5px; }
#right .learn-more a { margin-left: 10px; color: #666; }
#left #head { vertical-align: top; display: block; padding-top: 3px; padding-left: 1em; }
#left #head #myhead { vertical-align: text-top; border: 1px solid #eee; width: 96px; height: 96px; margin-left: 25px !important; margin-left: 23px; }
#left #head #Fhead { position: absolute; margin-top: 104px; margin-left: -100px; width: 200px; }
#left #heads { position: absolute; margin-left: 155px !important; margin-top: -100px !important; margin-left: 5px; margin-top: 2px; padding: 2px; }
#left #head_sys { background-color: #fff; border: 1px solid #ccc; }
#left #head_sys img.head_mouse_off { border: 1px solid #fff; }
#left #head_sys img.head_mouse_on { border: 1px solid #96f; }

/************ post **************/
#form { margin: 3%; }
#form .line { margin-bottom: 1px; clear: both; line-height: 20px; height: 20px; }
#form .line2 { margin-bottom: 10px; clear: both; line-height: 20px; height: 20px; }
#form .d1 { width: 30px; margin-right: 5px; float: left; }
#form .d2 { float: left; }
#form .sure { padding-left: 3em; margin-top: 10px; display: block; }
#form .error { clear: both; color: #f00; margin-left: 2em; line-height: 20px; }
#mytags2 { margin-left: 3%; margin-right: 10%; }
#mytags2 span { display: block; line-height: 22px; } 
#mytags2 a.cho { margin-right: 1em; text-decoration: none; color: #8c8cff; white-space: nowrap; }
#mytags2 a.cho:hover { color: #161; background-color: yellow; text-decoration: none; }
#mytags2 .bundle { float: left; clear: left; color: #f69; margin-right: 20px; width: 50px; text-align: right; line-height: 22px; }
#tips { margin-top: 130px; width: 600px; }
#tips a { color: #8c8cff; }
#form #tcontent { width: 450px; height: 160px; padding: 3px; }
#form #ttitle { padding: 2px; width: 380px; }
#form #ttags, #form #Turl, #form #Tdescription, #form #Tnotes { width: 360px; margin-bottom: 4px; }


/********  postb    *********/
#em img { border: 0; margin-left: 5px; cursor: pointer; }
.myPic .d1 { height: 40px; margin-bottom: 5px; padding-top: 10px; }
.myPic .d2 { height: 40px; margin-bottom: 5px; padding-top: 10px; }

.myPic img { cursor: pointer; height: 40px; width: 40px; }
.myPic table { float: left; width: 50px; height: 50px; margin-right: 15px; }
.myPic td { vertical-align: middle; text-align: center; }


/************ import **************/
.utitle { font-size: 14px; color: #5599bb; margin-top: -2px; }
.utitle a { font-size: 12px; color: #5599bb; margin-top: -2px; margin-left: 40px; }


/*********   bundle *************/
#buleft { float: left; width: 250px; margin-bottom: 40px; }
#buleft #mybag { margin-bottom: 5px; }
#buleft #mybags2 h6 { margin: 0; }
#buleft .cbundle { font-size: 10.5pt; color: #f93; background-color: #eee; }
#buleft .bundle a { font-size: 10.5pt; text-decoration: none; color: #444; }
#buleft .bundle a:hover{ font-size: 10.5pt; text-decoration: none; color: #f93; }
#buleft h5 { font-size: 10.5pt; margin-top: 20px; margin-bottom: 0; padding-bottom: 0; }
#buleft p { margin-bottom: 3px; margin-top: 3px; font-size: 10pt; }

#buright { padding: 5px; background-color: #eee; margin-left:250px; min-width: 500px; }
#buright #bundlessave { vertical-align: top; margin-left: 5px; margin-top: 2px;  }
#buright #mytags2 { display: block; margin-left: 0px; margin-top: 15px; margin-bottom: 10px; }
#buright #Ttags { width: 380px; height: 160px; }


/*************    其它页面    **************/
#spacer { display: block; margin: 40px; }
h1 { font-size: 12pt; margin-top: 25px; font-weight: bold; color: #FF9933; text-decoration: none; line-height:150%; }
h3, h3 a { font-size: 13px; color: #000; text-decoration: none; margin-top: 20px; margin-bottom: 5px; font-weight: bold; }
h3 a:hover { color: #f93; text-decoration: none; }
h4, h4 a { font-size: 12px; color: #000; text-decoration: none; margin-top: 5px; margin-bottom: 5px; margin-left: 8px; font-weight: bold; }
h4 a:hover { color: #f93; text-decoration: none; }
.au-c { display: none; line-height: 150%; }
.au-c2 { display: block; line-height: 150%; }
.au-c div, .au-c2 div { margin-left: 30px; margin-bottom: 6px; }
.private { color: #f93; margin-left: 20px; }


#cache
{
}

#cache *
{
    font-size: 14px;
    line-height: 120%;
}

#cahce a
{
    display: inline; padding-left: 5px; padding-right: 5px; margin-right: 100px;
}

#cache li
{
    display: inline; margin-right: 10px;    
}

/*************    非标准 
.fav .notes { word-break: break-all; }
.mblog .con td { word-break:break-all; }
.rblog .con td { word-break:break-all; }
#note { word-break: break-all; }
.ititle { word-break:break-all; }
   **************/



#users { display: block; }
#users ul { display: block; height: 40px; margin-bottom: 8px; padding-left: 40px; border-bottom: 1px solid #f1f1f1; }
#users ul li { list-style: none; float: left; margin-right: 15px; }
#users ul .head { position: absolute; margin-left: -40px; }
#users ul .head img { border: 1px solid #f1f1f1; padding: 2px;}
#users ul .feel { clear: left;  }

