<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Cobalt 2.0 phpBB Template - Manual and Installation Guide</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="Cobalt.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
a {
	text-decoration: underline;
}

a:visited {
	text-decoration: underline;
}

a:hover {
	text-decoration: underline;
}
-->
</style>
</head>
<body>

<a name="top"></a>

<table border="0" cellspacing="0" cellpadding="0" align="center" width="100%">
  <tr>
    <td width="0%" class="mainboxLefttop"><img src="images/spacer.gif" width="6" height="6"></td>
    <td width="100%" class="mainboxTop"><img src="images/spacer.gif" width="6" height="6"></td>
    <td width="0%" class="mainboxRighttop"><img src="images/spacer.gif" width="6" height="6"></td>		  	
  </tr>
  <tr> 
    <td width="0%" class="mainboxLeft"><img src="images/spacer.gif" width="6" height="6"></td>
    <td width="100%" class="mainbox">
	
	<table width="100%" cellpadding="15">
		<tr>			
          <td> 
		  
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td width="22%" valign="top"><img src="images/logo_phpbb.jpg" width="224" height="96" /></td>
                <td width="78%" align="center"><span class="maintitle">Cobalt 
                  2.0 phpBB Template<br />
                  </span> <p class="gen"><strong>Manual and Installation Guide</strong><br />
                    <br />
                    <span class="genmed">By Jakob Persson (<a href="http://www.jakob-persson.com">http://www.jakob-persson.com</a>)<br />
                    Copyright &copy; Jakob Persson 2002-2004</span></p></td>
              </tr>
              <tr> 
                <td colspan="2" valign="top">
				
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr> 
                      <td>&nbsp;</td>
                    </tr>
                    <tr> 
                      <td><hr size="1" class="hr_whitesolid" /></td>
                    </tr>
                  </table>
				  
				  </td>
              </tr>
              <tr> 
                <td colspan="2" valign="top">&nbsp;</td>
              </tr>
              <tr> 
                <td colspan="2" valign="top" class="maintitle">Table of Contents</td>
              </tr>
              <tr> 
                <td colspan="2" valign="top">&nbsp;</td>
              </tr>
              <tr> 
                <td colspan="2" valign="top"> <span class="gen"> 
                  <ul type="square">
                    <li><a href="#info">Template Information</a></li>
                    <li><a href="#installation">Installation</a></li>
                    <li><a href="#extras">Blank Logo and Extras</a></li>
                    <li><a href="#faq">Frequently Asked Questions</a></li>
                    <li><a href="#license">License and Disclaimer</a></li>
                    <li><a href="#credits">Credits</a></li>
                  </ul>
                  </span> </td>
              </tr>
              <tr> 
                <td colspan="2" valign="top">&nbsp;</td>
              </tr>
              <tr> 
                <td colspan="2" valign="top">&nbsp;</td>
              </tr>
              <tr> 
                <td colspan="2" valign="top" class="genmed">Last revision: 7th 
                  of January 2004</td>
              </tr>
              <tr> 
                <td colspan="2" valign="top"><hr size="1"  class="hr_whitesolid" /></td>
              </tr>
              <tr> 
                <td colspan="2" valign="top">&nbsp;</td>
              </tr>
              <tr> 
                <td colspan="2" valign="top" class="maintitle"><a name="info" id="info"></a>Template 
                  Information</td>
              </tr>
              <tr> 
                <td colspan="2" valign="top">&nbsp;</td>
              </tr>
              <tr> 
                <td colspan="2" valign="top"><p><span class="gen"> Thank you for 
                    installing Cobalt 2.0. This is the second incarnation of the 
                    hugely popular <em>Cobalt</em> template for phpBB 2. This 
                    new version improves on the old one with an improved look 
                    and feel as well as fixes for a number of problems and bugs. 
                    <br />
                    <br />
                    Before you start using this template please read this whole 
                    document as it contains important information. It's important 
                    that you understand the <a href="#license">license</a> as 
                    you by installing Cobalt are legally bound to it.<br />
                    <br />
                    With that in mind I hope you'll have much fun with this template 
                    and that it'll make running your own Internet community even 
                    more fun.<br />
                    <br />
                    - Jakob Persson, 7th of January 2004<br />
                    <br />
                    </span></p></td>
              </tr>
              <tr> 
                <td colspan="2" valign="top">&nbsp;</td>
              </tr>

              <tr> 
                <td colspan="2" valign="top">
				
				<table width="100%" border="0" cellspacing="8" style="border: 1px #FFFFFF solid">
                    <tr class="gen">
                      <td valign="top"><span class="gen"><strong>Details</strong></span></td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr class="gen"> 
                      <td width="19%" valign="top"><strong>Template name:</strong></td>
                      <td width="81%">Cobalt 2.0</td>
                    </tr>
                    <tr class="gen"> 
                      <td valign="top"><strong>Template version:</strong></td>
                      <td>2.0 (second major release)</td>
                    </tr>
                    <tr class="gen"> 
                      <td valign="top"><strong>Compatible with:</strong></td>
                      <td>Tested with phpBB 2.0.6</td>
                    </tr>
                    <tr class="gen"> 
                      <td valign="top"><strong>Author</strong></td>
                      <td><a href="http://www.jakob-persson.com" target="_blank">Jakob 
                        Persson</a></td>
                    </tr>
                    <tr class="gen"> 
                      <td valign="top"><strong>Template description:</strong></td>
                      <td>A high-tech template in blue with brushed metal style 
                        buttons and details.</td>
                    </tr>
                    <tr class="gen"> 
                      <td valign="top"><strong>Localization:</strong></td>
                      <td>English language graphics included. An image set will 
                        be made available to enable users to release translated 
                        graphics. Visit my <a href="http://www.jakob-persson.com" target="_blank">website</a> 
                        or the <a href="http://www.phpbb.com/phpBB/viewforum.php?f=23" target="_blank">phpBB 
                        Styles Development forum</a> for the latest news regarding 
                        this.</td>
                    </tr>
                  </table>
				  
				  </td>
              </tr>
              <tr> 
                <td colspan="2" valign="top">&nbsp;</td>
              </tr>
              <tr> 
                <td colspan="2" valign="top"><span class="gen"><strong>Questions</strong><br />
                  Questions by email will not be answered. Instead I suggest you 
                  post your question in the Styles Development forum at <a href="http://www.phpbb.com/phpBB" target="_blank">http://www.phpbb.com/phpBB</a>. 
                  If I am unable to help you it's likely someone else there will 
                  be able to. </span></td>
              </tr>
              <tr> 
                <td colspan="2" valign="top">&nbsp;</td>
              </tr>
              <tr> 
                <td colspan="2" valign="top"><span class="gen"><strong>Comments</strong><br />
                  Comments are always welcome. If you find an error, encounter 
                  a problem or have general ideas or suggestions, feel free to 
                  contact me by email (see my <a href="http://www.jakob-persson.com" target="_blank">website</a> 
                  for contact details) or by sending me a private message at the 
                  <a href="http://www.phpbb.com/phpBB" target="_blank">phpBB.com 
                  forums</a> (my nickname is Kail).</span></td>
              </tr>
              <tr> 
                <td colspan="2" valign="top">&nbsp;</td>
              </tr>
              <tr> 
                <td colspan="2" valign="top"><span class="gen"><strong>Version 
                  history</strong><br />
                  All dates are in European format (yyyy-mm-dd). 
                  <blockquote> 
                    <p><strong>v2.0 (2004-01-07)</strong><br />
                      - Second major release.</p>
                    <p><b>v1.0 (2002-10-16)</b><br />
                      - First release.<br />
                    </p>
                  </blockquote>
                  </span></td>
              </tr>
              <tr> 
                <td colspan="2" valign="top">&nbsp;</td>
              </tr>
              <tr> 
                <td colspan="2" valign="top"><hr size="1"  class="hr_whitesolid" /></td>
              </tr>
              <tr> 
                <td colspan="2" valign="top">&nbsp;</td>
              </tr>
              <tr> 
                <td colspan="2" valign="top" class="maintitle"><a name="installation" id="installation"></a>Installation</td>
              </tr>
              <tr> 
                <td colspan="2" valign="top">&nbsp;</td>
              </tr>
              <tr> 
                <td colspan="2" valign="top" class="gen">Installing the template 
                  should be fairly easy. I suggest you read <a href="http://www.phpbb.com/kb/article.php?article_id=21" target="_blank">this 
                  howto</a> on installing templates. If you experience problems 
                  during installation, post at the <a href="http://www.phpbb.com/phpBB/viewforum.php?f=1" target="_blank">phpBB 
                  support forums</a>. Include a detailed description of the problem. 
                  Remember, the key to getting a good answer is asking a good 
                  question.<br />
                  <br /> </td>
              </tr>
              <tr> 
                <td colspan="2" valign="top">&nbsp;</td>
              </tr>
              <tr> 
                <td colspan="2" valign="top"><hr size="1" ="" class="hr_whitesolid" /></td>
              </tr>
              <tr> 
                <td colspan="2" valign="top">&nbsp;</td>
              </tr>
              <tr> 
                <td colspan="2" valign="top" class="maintitle"><a name="extras" id="extras"></a>Blank 
                  Logo and Extras</td>
              </tr>
              <tr> 
                <td colspan="2" valign="top">&nbsp;</td>
              </tr>
              <tr> 
                <td colspan="2" valign="top" class="gen">In order to make it easier 
                  for you customize the forums with your own logotype I've attached 
                  a blank logo. <a href="images/blanklogo.png">Right-click here 
                  and select &quot;Save as...&quot;</a> to save it on your hard 
                  drive. It's a lossless PNG file and can be edited with most 
                  common graphics editing applications such as Photoshop and Paint 
                  Shop Pro.<br /> <br /> <strong>Template files for popular MODs</strong><br />
                  My friend Rivers has modified a few popular MODs to work with 
                  Cobalt, these include Acyd Burn's file attachment, the advanced 
                  quick reply, shop, points, lottery, bank and Smartor's Photo 
                  Album. You can <a href="http://www.riverstavern.com/forum/viewforum.php?f=32">download 
                  these files here</a>. Do not regard the code as in any way complete, 
                  rather as a shortcut and a way to save time. Installing a MOD 
                  takes time and manual work and you should always remember to 
                  backup your files before attempting to modify your phpBB installation.<br />
                  Please note that I am not responsible for any of the files that 
                  are released by Rivers and hosted at his site. Please refer 
                  to him if you have questions.<br /> <br />
                  I will soon make files available at <a href="http://www.jakob-persson.com">my 
                  website</a>, if you're interested make sure to check it regularly.<br />
                  <br /> 
                </td>
              </tr>
              <tr> 
                <td colspan="2" valign="top">&nbsp;</td>
              </tr>
              <tr> 
                <td colspan="2" valign="top"><hr size="1" ="" class="hr_whitesolid" /></td>
              </tr>
              <tr> 
                <td colspan="2" valign="top">&nbsp;</td>
              </tr>
              <tr> 
                <td colspan="2" valign="top" class="maintitle"><a name="faq" id="faq"></a>Frequently 
                  Asked Questions</td>
              </tr>
              <tr> 
                <td colspan="2" valign="top">&nbsp;</td>
              </tr>
              <tr> 
                <td colspan="2" valign="top" class="gen"><p>I've compiled a short 
                    FAQ to answer some of the most common questions asked. These 
                    answers should in now way be regarded as complete and don't 
                    apply in every single case. If in doubt, please <a href="http://www.jakob-persson.com">contact</a> 
                    me.<br />
                    <br />
                    <strong>Wooa! Sweet design! May I use it for my own website 
                    design?</strong><br />
                    Yes, you may. Providing the the page footers carry a clear 
                    notice saying: &quot;Design based on Cobalt 2.0 phpBB theme 
                    by Jakob Persson, copyright &copy; 2002-2004 Jakob Persson&quot;, 
                    the notice should be linked to http://www.jakob-persson.com. 
                    You may use the following code in the footer:</p>
                  <p> 
                    <textarea name="textfield" cols="40" rows="5"><a href="http://www.jakob-persson.com">Design based on Cobalt 2.0 phpBB theme by Jakob Persson, copyright &copy; 2002-2004 Jakob Persson </a></textarea>
                  </p>
                  <p><strong>May I modify this template for use at my forums?</strong><br />
                    Yes, you may. Providing the forum page footers carry a clear 
                    notice saying: &quot;Design based on Cobalt 2.0 phpBB theme 
                    by Jakob Persson, copyright &copy; 2002-2004 Jakob Persson&quot;, 
                    the notice should be linked to http://www.jakob-persson.com. 
                    You may use the following code in the footer:</p>
                  <p> 
                    <textarea name="textarea" cols="40" rows="5"><a href="http://www.jakob-persson.com">Design based on Cobalt 2.0 phpBB theme by Jakob Persson, copyright &copy; 2002-2004 Jakob Persson </a></textarea>
                    <br />
                    <br />
                    Remember that if you want to distribute said template the 
                    case is different. In that case, please contact me and we 
                    can discuss it.</p>
                  <p> <strong>Is it okay if I use this template to create my own?</strong><br />
                    If you'd like to do this, please email me and we can discuss 
                    the terms.<br />
                    <br />
                    <strong>Are there button images available in language <em>xyz</em>?<br />
                    </strong>There might be. I recommend you to first have a look 
                    at my downloads page, in the Cobalt section. If you cannot 
                    find the buttons you need, download the image set (to be released 
                    soon) and make your own. You'll need Macromedia Fireworks 
                    MX in order to create new buttons.<br />
                    <br />
                    <br />
                  </p></td>
              </tr>
              <tr> 
                <td colspan="2" valign="top"><hr size="1"  class="hr_whitesolid" /></td>
              </tr>
              <tr> 
                <td colspan="2" valign="top">&nbsp;</td>
              </tr>
              <tr> 
                <td colspan="2" valign="top" class="maintitle"><a name="license" id="license"></a>License 
                  and Disclaimer</td>
              </tr>
              <tr> 
                <td colspan="2" valign="top">&nbsp;</td>
              </tr>
              <tr> 
                <td colspan="2" valign="top"><ul type="square">
                    <li class="gen"><strong>WARNING: Do not delete the credit 
                      notice in the page footers and source code! Removal of the 
                      phpBB copyright notice or the template credit and copyright 
                      notice voids your right to use this template.</strong><strong><br />
                      Your right to use this template, parts of this template 
                      or any template derived from this template, can be rescinded 
                      at the author's (Jakob Persson's) sole discretion. <br />
                      <br />
                      </strong></li>
                    <li><span class="gen">This template and all files included 
                      in the distribution package are <strong>Copyright &copy; 
                      2002-2004 Jakob Persson</strong>.</span><br />
                      <br />
                    </li>
                    <li> <span class="gen">This template is provided <strong>free 
                      of charge</strong>, however some <strong>exceptions apply</strong> 
                      (see below), with <strong>no warranties</strong> whatsoever. 
                      I do not guarantee the quality of this work nor can I be 
                      held responsible what problems it may cause you. Use it 
                      at your own risk. <em>Be careful, backup the database, backup 
                      the files before making any major changes to your phpBB 
                      installation, including installing templates!<br />
                      <br />
                      </em></span></li>
                    <li class="gen"> If you wish to use parts of this template 
                      for your own creations, designs, skins, themes, templates 
                      or anything else you must receive an express, written consent 
                      from the author (<a href="http://www.jakob-persson.com" target="_blank">Jakob 
                      Persson</a>). <strong>You may not hire, lease, sell or distribute 
                      this work, parts of it or works derived from it without 
                      an express, written consent from the author.</strong><br />
                      <br />
                    </li>
                    <li class="gen"><span class="gen">For questions regarding 
                      the license and its terms, email me. See my <a href="http://www.jakob-persson.com" target="_blank">website</a> 
                      for contact details.</span><strong><br />
                      </strong></li>
                  </ul></td>
              </tr>
              <tr> 
                <td colspan="2" valign="top">&nbsp;</td>
              </tr>
              <tr> 
                <td colspan="2" valign="top"><hr size="1" ="" class="hr_whitesolid" /></td>
              </tr>
              <tr> 
                <td colspan="2" valign="top">&nbsp;</td>
              </tr>
              <tr> 
                <td colspan="2" valign="top" class="maintitle"><a name="credits" id="credits"></a>Credits</td>
              </tr>
              <tr> 
                <td colspan="2" valign="top">&nbsp;</td>
              </tr>
              <tr> 
                <td colspan="2" valign="top"><p><span class="gen">I'd like to 
                    thank the people who have helped by supporting my work and 
                    offering advice and suggestions.<br />
                    <br />
                    <br />
                    <a href="http://www.riverstavern.com">Rivers</a> - for his 
                    work providing modified template files for Cobalt.<br />
                    <br />
                    <a href="http://www.trushkin.net">CyberAlien</a> - has offered 
                    advice and suggestions and helped me with some of the coding. 
                    He is also a team colleague of mine in the phpBB Styles Team.<br />
                    <br />
                    </span></p></td>
              </tr>
              <tr>
                <td colspan="2" valign="top">&nbsp;</td>
              </tr>
              <tr> 
                <td colspan="2" valign="top"><hr size="1"  class="hr_whitesolid" /></td>
              </tr>
              <tr> 
                <td colspan="2" valign="top">&nbsp;</td>
              </tr>
              <tr> 
                <td colspan="2" valign="top"> <div align="center"> <span class="credit"> 
                    <a href="http://www.jakob-persson.com" class="credit"><strong><i>Cobalt 
                    <span style="font-style: italic; color: #1094E7">2.0</span></i></strong> 
                    phpBB theme/template by Jakob Persson.<br />
                    Copyright &copy; 2002-2004 Jakob Persson</a></span> </div></td>
              </tr>
            </table>
			
			</td>
		</tr>
	</table>
	
	</td>
    <td width="0%" class="mainboxRight"><img src="images/spacer.gif" width="6" height="6"></td>
  </tr>
  <tr> 
    <td width="0%" class="mainboxLeftbottom"><img src="images/spacer.gif" width="6" height="6"></td>
    <td width="100%" valign="top" class="mainboxBottom"><img src="images/spacer.gif" width="6" height="6"></td>
    <td width="0%" class="mainboxRightbottom"><img src="images/spacer.gif" width="6" height="6"></td>
  </tr>
</table>


</body>
</html>
