<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>{% block title %}Share your favorite - 5dnote.appspot.com{% endblock %}</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="online favorites bookmark share notebook" />
	<meta name="description" content="A smart online bookmark, let you share your favorites links/text/pictures to everyone. There is no need to register, just sign in with your Google Account" />
	<link rel="alternate" type="application/rss+xml" title="Collecting & Sharing - 5dnote.appspot.com" href="/rss/" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="Shortcut Icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="/media/style.css" />
	<link rel="stylesheet" href="/media/jquery.lightbox-0.5.css" type="text/css" media="screen" />
	<script language="javascript" type="text/javascript" src="/media/jquery-1.2.6.pack.js"></script>
	<script language="javascript" type="text/javascript" src="/media/jquery.lightbox-0.5.pack.js"></script>
</head>
<body>
	<div id="toper">
		<a href="/" id="logo"><img alt="my favorites" src="/media/logo.gif" /></a>
		{% if nickname %}
			<a href="/link/{{ nickname }}" style="font-weight:bold">{{ nickname }}</a>
			<a href="/add?type={{ req_type }}">Add</a>
		{% endif %}
		<a href="{{ auth_url }}" class="lm">{% ifequal auth_text 'signin' %}Sign in{% else %}Sign Out{% endifequal %}</a>
	</div>
	{% block content %}{% endblock %}
	<div class="clear"></div>
	<div id="footer">      
        <a href="/" class="fm">Home</a>
        <a href="/help">Help</a>
        <a href="mailto://zerofault@gmail.com" >Conect Me</a>
		<br />
		<img src="http://code.google.com/appengine/images/appengine-noborder-120x30.gif" alt="Powered By Google App Engine" />
    </div>
</body>
<iframe id="iframe1" name="iframe1" style="display:none;"></iframe>
<script language="javascript" type="text/javascript" defer>
function submit_del(obj){
	$(obj).parent().after('<span style="color:red">Processing, just wait a moment...</span>');
	key=$(obj).attr('value');
	$.get("/delkey",{
		key : key
		},function(str){
			if(str == '1')
			{
				$("#item_"+key).hide('slow');
				//$("#item_"+key).remove();
			}
			else if(str == '0')
			{
				alert('No such entry/key!');
			}
			else if(str == '-1')
			{
				alert('The entry is not yours!');
			}
			else
			{
			}
		});
}
</script>
</html>