{% extends "base.html" %}{% block title %}Help - {{ block.super }}{% endblock %}
{% block content %}
	<div id="searcher">
		<ul>
			<li><a href="/">All Links</a></li>
			<li><a href="/note/">All Extracts</a></li>
			<li><a href="/pic/">All Pictures</a></li>
			<li><a href="/tag/" class="curr">All Tags</a></li>
		</ul>
		<!-- <form action="/search" method="get">
			<img src="/media/search_b.gif" alt="search button" />
			<input type="text" id="searchBox" maxlength="15" name="s" />
			<input src="/media/search.gif" id="submit" type="image" />
		</form> -->
	</div>
	
	<div id="col_right">
	</div>
	<div id="col_middle">
		<div id="help">
			<dl>
				<dt>Announcement:</dt>
				<dd><p>A google account is required to sign in. If you don't have an gmail account, you can <a href="http://mail.google.com/mail/signup" target="_blank">register any email with google</a> and use that to sign in. 5dnote will not ask for your password, and does not have access to your google account. </p><br />
				</dd>
			</dl>
			<dl>
				<dt>1st method: right-click of your mouse</dt>
				<dd>
					<p>First of all, if you are using a browser like IE, please download and install a Reg Plugin, <a href="media/AddEN.reg">click here to download</a>.<br />
					If your browser is Mozilla or Firefox, please get a Add-on and install it, <a href="media/Add-on_EN.xpi">click here to download</a>.<br />
					After that, reopen your browser, right-click on a link or anywhere in the browser window, you will find an additional menu option appears, names "Add the url to 5dnote". Till now you can bookmark your favorites expediently.<br /></p>
					<dl>
						<dt>1, how to store a url link</dt>
						<dd>
							<p>Right-click at a hyperlink on web page, there is a menu option appear:"Add link to 5dnote", or right-click at other blank place, there will be a new menu option appear:"Add this page to 5dnote", then point your mouse to it and do a click. <br /><img src="media/addlink.jpg"/></p>
							<p>After your click, browser will popup a new window, in the window, it shows a form, most of infomation has been inputed, just click the "Public" button to share with everyone, or click the "Private" button to keep it privately. you can also type some comment or specify some tags to it</p>
						</dd>
						<dt>2, how to store a picture</dt>
						<dd>
							<p>Right-click at a picture, there is a new menu option appear:"Add the picture to 5dnote".<br /><img src="media/addpic.jpg" /></p>
							<p>The pictures you added will be stored in Google's Database called BigTable, so it's very stable.<br />
							Tips: the picture filesize must limit in 1M(1000K).</p>
							
						</dd>
						<dt>3, how to store a piece of text</dt>
						<dd>
							<p>Select a sect of text, then right-click over it, there is a new menu option appeat:"Add the text to 5dnote".<br /><img src="media/addtext.jpg" /></p>
						</dd>
					</dl>
				</dd>
				<dd>How to remove the menu options: <a href="media/Remove.reg">download this Reg file</a> and double-click on it! <a href="media/RemoveEN.reg">click here to download</a>.</dd>
			</dl>
			<dl>
				<dt>2nd method: add manually </dt>
				<dd>Just click the "add" link at the top-right of our page, then you have to fill in the form by yourself</dd>
			</dl>
			<dl>
				<dt>3rd method: duplicate from others</dt>
				<dd>When you are browsing other's favorites, there is a hyperlink named "Duplicate", if you like this item, just click "Duplicate", then submit the form.</dd>
			</dl>
		</div>
	</div>

{% endblock %}