@charset "gb2312";
body 
{
	padding:0;
	margin:0;
	color:#006;
	font-size:12px;
	line-height: 160%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color:#fff;
}
form,dl,dt,dd{
	margin: 0;padding: 0;
}
ol,ul,li{
	padding:0;margin:0;list-style:none;
}
h1,h2,h3,h4,h5,h6{
	margin:0;padding:0;font-size:14px;font-weight:normal;
}
textarea{font-size:12px;}
b{font-weight:normal;}

img{border:0;}
a{color:#00f;text-decoration:none;}
a:hover,a:active,a.active{color:#f20;text-decoration: underline;}
.clear{clear:both;}
.hide{display:none;}

.red{
	color:red;
}
.blue{
	color:blue;
}
.f_left{
	float:left;
}
.f_right{
	float:right;
}
.a_right{
	padding:3px;
	text-align:right;
}
.box{
	border:1px solid #AACCEE;
	margin-bottom:5px;
}
#container{
	max-width:970px;
	height:auto !important;
	margin:0 auto;
	padding:10px;
}

#top #logo{
	width:200px;
	padding:10px;
}
#top #calendar{
	width:150px;
	height:60px;
	padding:10px;
	border:1px solid #AACCEE;
}
#top #tools{
	width:560px;
	height:60px;
	padding:10px;
	border:1px solid #AACCEE;
}
.ad{
	height:80px;
	border:1px solid #AACCEE;
	margin-top:10px;
	font-size:36px;
	line-height:80px;
	text-align:center;
}
#search_ext{
	margin-top:10px;
}

#main{
	margin-top:10px;
}
#leftColumn{
	width:240px;
}

#rightColumn{
	width:720px;
	padding-left:10px;
}

#rightColumn #site_list dl{
	line-height:20px;
	border-bottom:1px dotted #aaa;
}
#rightColumn #site_list dt{
	float:left;
	width:80px;
	font-weight:bold;
}

#rightColumn #site_list dd{
	float:left;
	width:80px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap; 
}


#copy{
	padding:10px;
	margin-top:30px;
	text-align:center;
}