<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title><notempty name="ACTION_TITLE">{$ACTION_TITLE} - </notempty> <notempty name="MODULE_TITLE">{$MODULE_TITLE} - </notempty> 乐装网</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="宜昌装修公司排名 装修报价 宜昌乐装网 装修网 装饰网 建材网 家装公司 家装网 宜昌装潢 宜昌房子装修 宜昌二手房装修" />
	<meta name="description" content="" />
	<link rel="icon" type="image/x-icon" href="../Public/Images/favicon.ico" />
	<link rel="Shortcut Icon" type="image/x-icon" href="../Public/Images/favicon.ico" />
	<link type="text/css" rel="stylesheet" href="../Public/Css/base.css" />
	<link type="text/css" rel="stylesheet" href="../Public/Css/jquery-impromptu.css"/>
	<script language="JavaScript" type="text/javascript" src="../Public/Js/jquery-1.4.2.min.js"></script>
	<script language="JavaScript" type="text/javascript" src="../Public/Js/jquery.KinSlideshow-1.2.1.min.js"></script>
	<script language="JavaScript" type="text/javascript" src="../Public/Js/jquery-impromptu.1.6.js"></script>
	<script language="JavaScript" type="text/javascript">
	var _APP_ = '__APP__';
	var _URL_ = '__URL__';
	var APP_PUBLIC_URL = '../Public';
	var IMAGE_FOLDER = '../Public/Images/';
	</script>
</head>
<body>
<layout name="Public:header" cache="0" />
<layout name="$content" cache="0" />
<layout name="Public:footer" cache="0" />
<iframe id="_iframe" name="_iframe" style="width:0;height:0;display:none;"></iframe>
<script language="JavaScript" type="text/javascript" src="../Public/Js/myfunc.js"></script>
</body>
</html>