<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title><notempty name="ACTION_TITLE">{$ACTION_TITLE} - </notempty> <notempty name="MODULE_TITLE">{$MODULE_TITLE} - </notempty> 乐装网</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="{$setting.keywords}" />
	<meta name="description" content="{$setting.description}" />
	<link rel="icon" type="image/x-icon" href="../Public/Images/favicon.ico" />
	<link rel="Shortcut Icon" type="image/x-icon" href="../Public/Images/favicon.ico" />
	<load file="../Public/Css/base.css" />
	<load file="../Public/Css/jquery-impromptu.css" />
	
	<load file="../Public/Js/jquery-1.4.2.min.js" />
	<load file="../Public/Js/jquery.KinSlideshow-1.2.1.min.js"/>
	<load file="../Public/Js/jquery-impromptu.1.6.js"/>
	<script language="JavaScript" type="text/javascript">
	var _APP_ = '__APP__';
	var _URL_ = '__URL__';
	var APP_PUBLIC_URL = '../Public';
	var IMAGE_FOLDER = '../Public/Images/';
	</script>
</head>
<body>
	<div class="Qlist" id="divOnline">
		<div class="t"></div>
		<div class="c">
			<h2>在线客服</h2>
			<ul>
				<li><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=272468213&amp;site=qq&amp;menu=yes" title="联系宜昌乐装网">客服QQ <img border="0" src="http://wpa.qq.com/pa?p=2:272468213:42" alt="QQ交谈" align="absmiddle"/></a></li>
				<li><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1518985666&amp;site=qq&amp;menu=yes" title="联系宜昌乐装网">客服QQ <img border="0" src="http://wpa.qq.com/pa?p=2:1518985666:42" alt="QQ交谈" align="absmiddle"/></a></li>
				<li>客服电话:0717-6032333</li>
			</ul>
		</div>
		<div class="b"></div>
	</div>
	<layout name="Public:header" cache="0" />
	<layout name="$content" cache="0" />
	<layout name="Public:footer" cache="0" />
	<iframe id="_iframe" name="_iframe" style="width:0;height:0;display:none;"></iframe>
	<load file="../Public/Js/myfunc.js"/>
	<script src="http://s96.cnzz.com/stat.php?id=4180465&web_id=4180465&show=pic1" language="JavaScript"></script>
</body>
</html>