<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title><notempty name="ACTION_TITLE">{$ACTION_TITLE} - </notempty> <notempty name="MODULE_TITLE">{$MODULE_TITLE} - </notempty> 乐装网</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="宜昌装修公司排名 装修报价 宜昌乐装网 装修网 装饰网 建材网 家装公司 家装网 宜昌装潢 宜昌房子装修 宜昌二手房装修" />
	<meta name="description" content="" />
	<link rel="icon" type="image/x-icon" href="../Public/Images/favicon.ico" />
	<link rel="Shortcut Icon" type="image/x-icon" href="../Public/Images/favicon.ico" />
	<link type="text/css" rel="stylesheet" href="../Public/Css/base.css" />
	<link type="text/css" rel="stylesheet" href="../Public/Css/jquery-impromptu.css"/>
	<script language="JavaScript" type="text/javascript" src="../Public/Js/jquery-1.4.2.min.js"></script>
	<script language="JavaScript" type="text/javascript">
	var _APP_ = '__APP__';
	var _URL_ = '__URL__';
	var APP_PUBLIC_URL = '../Public';
	var IMAGE_FOLDER = '../Public/Images/';
	</script>
</head>
<body>
<layout name="Public:header" cache="0" />
<div id="main">
	<div class="left">
	<layout name="$content" cache="0" />
	</div>
	<div class="right">
		<img src="../Public/Images/flow_1.png" />
		<if condition="MODULE_NAME eq 'Company' or MODULE_NAME eq 'Designer'">
		<img src="../Public/Images/right_form_bg1.png" />
		<form action="__APP__/Invite">
		<table>
		<tr>
			<td>称呼：</td>
			<td><input type="text" class="text" name="name" size="10" value="{$_SESSION['user_name']}"/></td>
		</tr>
		<tr>
			<td>电话：</td>
			<td><input type="text" class="text" name="phone" size="11"/></td>
		</tr>
		<tr>
			<td width="40" nowrap="nowrap">地点：</td>
			<td><select class="district" name="district"><option value="0">请选择</option>{$district_opts}</select></td>
		</tr>
		<tr>
			<td>面积：</td>
			<td><input type="text" name="area" size="6"/> m<sup>2<sup></td>
		</tr>
		<tr>
			<td>预算：</td>
			<td><input type="text" name="budget" size="6"/> 万元</td>
		</tr>
		<tr>
			<td>户型：</td>
			<td><select class="room" name="room"><option value="0">请选择</option>{$room_options}</select></td>
		</tr>
		<tr>
			<td valign="top">要求：</td>
			<td><textarea name="demand" rows="2" cols="36"></textarea></td>
		</tr>
		<tr>
			<td colspan="2" class="btn">
				<input type="image" class="image" src="../Public/Images/right_form_btn.png" />
			</td>
		</tr>
		</table>
		</form>
		<img src="../Public/Images/right_form_bg3.png" />
		</if>
		<img src="../Public/Images/right_btm.png" /></div>
	<div class="clear"></div>
</div>
<layout name="Public:footer" cache="0" />
<iframe id="_iframe" name="_iframe" style="width:0;height:0;display:none;"></iframe>
<script language="JavaScript" type="text/javascript" src="../Public/Js/jquery-impromptu.1.6.js"></script>
<script language="JavaScript" type="text/javascript" src="../Public/Js/myfunc.js"></script>
</body>
</html>