@charset "gb2312";
* {
	padding:0;
	margin:0;
}
body
{
	font-family: Arial, "宋体", sans-serif;
	font-size: 13px;
	color:#3D6188;
	line-height:140%;
	!background: #EAF1F9 url(../Images/bg.gif) repeat-x;
	background: #FFFFFF;
}
ol,ul,li{
	list-style:none;
}
h1,h2,h3,h4,h5,h6{
	font-size:14px;font-weight:normal;
}
textarea{
	font-size:12px;
}
input{ border: 1px solid #E6E6E6; padding: 2px;background:#ffffff;}

b{font-weight:normal;}
em{font-style:normal;}

img{border:0;}
a{color:#3D6188;text-decoration:none;}
a:hover,a:active,a.active{color:#FF5500;text-decoration: underline;}
.clear{clear:both;}
.hide{display:none;}

.red, a.red:link, a.red:visited{
	color:red;
}
.blue, a.blue:link, a.blue:visited{
	color:blue;
}
a.flag:link, a.flag:visited{
	color:#B40D0A;
}


#container{
	width:960px;
	height:auto !important;
	margin:0 auto;
}
#header .left{
	float: left;
	width: 484px;
	height: 69px;
}
#header .right{
	float: right;
	height: 30px;
	padding-top:22px;
}

#menu {
	width: 954px;
	height: 32px;
	padding:3px 3px 1px;
	background-color:#FFFFFF;
}
#menu_left {
	width: 4px;
	height: 32px;
	float: left;
	background-image: url(../Images/bt-left.gif);
}
#menu_right {
	width: 4px;
	height: 32px;
	float: left;
	background-image: url(../Images/bt-right.gif);
}

#menu ul {
	width: 940px;
	height: 32px;
	padding: 0 3px;
	float: left;
	background-image: url(../Images/bt-bg.gif);
}
#menu li {
	width: 94px;
	float: left;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	list-style-type: none;
	background-image: url(../Images/bt-line.gif);
	background-repeat: no-repeat;
	background-position: right;
}
#menu li a {
	DISPLAY: block;
	padding-top: 7px;
	height: 24px;
	color: #FFFFFF;
}
#menu li a:hover {
	padding-top: 6px;
	color: #A6FDFA;
}
#flash {
	padding:0 3px;
	background: url(../Images/banner_1.gif) center no-repeat;
}
#main {
	padding: 3px;
}
#left {
	width:243px;
	float:left;
	padding-bottom: 330px;
	background: url(../Images/left-down.jpg) left bottom no-repeat;
	text-align:center;
}
#left-address {
	width: 213px;
	margin:0 15px;
	text-align: left;
}
#left-address ul {display:inline;}
#left-address li {
	width: 199px;
	height: 22px;
	float: left;
	margin-bottom:4px;
	padding: 7px 0 0 12px;
	list-style-type: none;
	background-color: #EAF5FB;
	border: 1px #BFDCEC solid;
	background-image: url(../Images/arrow.gif);
	background-repeat: no-repeat;
	background-position: 5px 3px;
}

#left-list {
	width: 213px;
	margin:0 15px;
	text-align: left;
}
#left-list ul {display:inline;}
#left-list li {
	float:left;
	width:198px;
	height:20px;
	/*margin-left:6px;*/
	padding: 7px 0px 0px 15px;
	list-style-type: none;
	border-bottom: 1px dashed #999999;
	background-image: url(../Images/arrow.gif);
	background-repeat: no-repeat;
	background-position: 5px 3px;
}

#right {
	float: right;
	width: 680px;
}
.right-title {
	height: 24px;
	background-image: url(../Images/title.gif);
	margin-bottom:10px;
	padding: 5px 0px 0px 23px;
	font-size:14px;
	color:#404E67;
	font-weight:bold;
	clear: left;
}
#right #tv {
	width: 280px;
	float: left;
	padding:5px;
}
#right #indexcontent {
	width: 390px;
	float: left;
	line-height:180%;
}
#right .content {
	line-height:180%;
}
#right .content p {
	margin: 0px 0px 10px 0px;
}
#picshow { overflow: hidden; width: 680px; margin-bottom: 8px;}
#picshow img { width:190px; height:130px; margin:0 5px; border:#EFEFEF solid 2px; padding:3px;}


.imgshow ul { display:inline;}
.imgshow li {
	width: 258px;
	float: left;
	padding: 10px 41px 0px 41px;
	text-align: center;
	list-style-type: none;
	line-height: 200%;
}
.imgshow img {
	padding:3px;
	border:1px #CDCDCD solid;
}

#right #list {width: 660px;margin:0 auto;}
#right #list .left {
	float:left;
	width: 565px;
	height: 20px;
	padding: 7px 0 0 15px;
	list-style-type: none;
	border-bottom: 1px dashed #999999;
	background-image: url(img/arrow-0.gif);
	background-repeat: no-repeat;
	background-position: 5px 3px;
}
#right #list .right {
	float:left;
	width: 80px;
	height: 20px;
	padding: 7px 0 0 0px;
	list-style-type: none;
	border-bottom: 1px dashed #999999;
}

#right #list ul {display:inline;}
#right #list li {
	float:left;
	width:645px;
	height:20px;
	/*margin-left:6px;*/
	padding: 7px 0px 0px 15px;
	list-style-type: none;
	border-bottom: 1px dashed #999999;
	background-image: url(../Images/arrow.gif);
	background-repeat: no-repeat;
	background-position: 5px 3px;
}

.indexnews {
	width: 332px;
	float: left;
}
.indexnews-title {
	height: 21px;
	background-image: url(../Images/index-news.gif);
	padding: 7px 0px 0px 26px;
	font-size:14px;
	color:#FFFFFF;
	font-weight:bold;
	clear: left;/*我看这句不需要*/
}
.indexnewslist {
	width: 312px;
	height: 205px;
	padding: 0 10px;
	background-image: url(../Images/index-newsdown.gif);
}
.indexnewslist ul {display:inline;}
.indexnewslist li {
	float:left;
	width:297px;
	height:20px;
	padding: 7px 0px 0px 15px;
	list-style-type: none;
	border-bottom: 1px dashed #999999;
	background-image: url(../Images/arrow.gif);
	background-repeat: no-repeat;
	background-position: 5px 3px;
}


dl#feedback{
	padding:5px 0px 10px;
}
dl#feedback dt{
	height:22px;
	border-top:1px solid #E6E6E6;
	background-color:#F7F7F7;
	padding:0px 15px;
	line-height:22px;
	color:#08336F;
}
dl#feedback dt i{
	float:right;
	color:#393939;
	font-style:normal;
}
dl#feedback dd{
	padding:5px 15px 0px;
}

#footer{
	padding:10px;
	margin-top:30px;
	text-align:center;
	line-height:24px;
}