<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>睿腾网络客户网站管理系统</title>

	<load file="../Public/Css/admin.css" />
	<load file="../Public/Css/jquery-impromptu.css"/>

	<load file="../Public/Js/jquery.min.js" />
	<script language="JavaScript" type="text/javascript">
	var _APP_ = '__APP__';
	var _URL_ = '__URL__';
	var APP_PUBLIC_URL = '../Public';
	var IMAGE_FOLDER = '../Public/Images/';
	</script>
</head>
<body>
<div id="container">
	<div id="top">
		<div class="action">
			您好, {@admin_name}<br />
			<a href="__APP__/../index.php" target="_blank">网站首页</a>&nbsp;&nbsp;
			<a href="__APP__/Public/logout" target="_iframe">退出管理</a>
		</div>
	</div>
	<div id="main">
			<table width="99%" border="0" cellpadding="2" cellspacing="1" bgcolor="#999999">
			<tr>
				<td bgcolor="#FFFFFF">
				<layout name="$content" cache="0" />
				</td>
			</tr>
			</table>
	</div>
	<div id="copy">
		Powered by <a href="http://www.ycruit.com/" target="_blank">睿腾网络</a>
	</div>
</div>
<iframe id="_iframe" name="_iframe" style="width:0px;height:0px;display:none;"></iframe>
<load file="../Public/Js/jquery-impromptu.1.6.js"/>
<load file="../Public/Js/myfunc.js"/>
<load file="../Public/Js/ready_function.js"/>
</body>
</html>