<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>我的网址收藏@GAE</title>
	<meta name="keywords" content="网络收藏夹" />
	<meta name="description" content="快速, 简洁, web2.0, 做最好的网络收藏夹. Favorites是一个提供用户收藏, 推荐, 共享网络资源的平台。除了原本的网页收藏, Favorites中加入了图片、音乐和视频收藏的功能，同时用户还可以拥有自己的好友名单,使用户间可以方便的共享网络资源。" />
	<link rel="alternate" type="application/rss+xml" title="zerofault的网络收藏夹" href="/rss/zerofault.xml" />
	<link rel="alternate" type="application/rss+xml" title="zerofault的网志" href="/rss/blog/zerofault.xml" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="/media/add.css" />
</head>
<body>
	<div id="toper">
		<a href="/" id="logo"><img alt="my favorites" src="/media/logo.jpg" /></a>
		{% if isLogin %}
			<a href="add">添加</a>
		{% endif %}
		<a href="{{ auth_url }}" class="lm">{{ auth_text }}</a>
	</div>
	<form name="form1" action="submit" method="post" onsubmit="return check();">
	<input type="hidden" name="key" value="{{ key }}" />
	<input type="hidden" name="private" value="0" />
	<div id="form">
		<div class="line">
			<div class="d1">标题：</div>
			<div class="d2"><input type="text" id="Tdescription" name="title" tabIndex="1" maxlength="250" size="50"  value="{{ title }}"/></div>
		</div>
		<div class="line">
			<div class="d1">链接：</div>
			<div class="d2"><input type="text" id="Turl" name="url" tabIndex="2" maxlength="180" size="50" value="{{ url }}"/></div>
		</div>
		<div class="line">
			<div class="d1">描述：</div>
			<div class="d2"><textarea name="descr" id="Tnotes" tabIndex="3" rows="5" cols="40">{{ descr }}</textarea></div>
		</div>
		<div class="line">
			<div class="d1">标签：</div>
			<div class="d2"><input type="text" id="Ttags" name="tags" tabIndex="4" value="{{ tags }}" maxlength="100" size="50" autocomplete="off" /></div>
		</div>
		<div class="error"></div>
		<div class="sure"><input type="submit" name="Share" tabIndex="5" value="共享" />
			<input type="button"  name="private" class="private" tabIndex="6" value="私人" onclick="javascript:document.form1.private.value=1;document.form1.submit();"/>
		</div>
	</div>
	</form>
	<div id="mytags2"><span>我的标签: ( 单击添加 )</span>
	{% for tag_name in tag_list %}
		<a href="javascript:void(0)" onFocus="this.blur()">{{ tag_name.name }}</a>
	{% endfor %}
	</div>
</body>
<iframe id="iframe1" name="iframe1" style="display:none;"></iframe>
<script language="javascript" type="text/javascript" src="/media/jquery-1.2.6.pack.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	var tags=$("input[name=tags]").val();
	tag_array=tags.split(' ');
	$("#mytags2 a").each(function(){
		for(var key in tag_array)
		{
			if( tag_array[key] != '' && tag_array[key]==$(this).text() )
			{
				$(this).addClass('focus');
			}
		}
		$(this).click(function(){
			s_tag=$(this).text()+' ';
			if(tags.indexOf(s_tag)>=0)
			{
				tags=tags.replace(s_tag,'');
				$(this).removeClass('focus');
			}
			else
			{
				tags+=s_tag;
				$(this).addClass('focus');
			}
			$("input[name=tags]").val(tags);
		});
	});
});

</script>
</html>
