<html>
<head>
<title>杭州公交线路查询－手机版</title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<meta name="description" content="杭州公交汽车线路查询，与杭州公交集团网站数据同步" />
<meta name="keywords" content="杭州 公交车 线路 换乘 查询 手机版" />
<link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
<form name="form1" action="index.php" method="get">
<input type="hidden" name="action" value="query_line" />
输入线路编号：<input type="text" name="line_name" size="3" value="{LINE_NAME}" /><input type="submit" value="查询线路信息" />
</form>
<form name="form1" action="index.php" method="get">
<input type="hidden" name="action" value="query_site" />
输入站点名称：<input type="text" name="site_name" size="6" value="{SITE_NAME}" /><input type="submit" value="查询经过线路" />
</form>
<form name="form1" action="index.php" method="get">
<input type="hidden" name="action" value="query_transfer" />
输入起点：<input type="text" name="from" size="8" value="{FROM}" /><br />
输入终点：<input type="text" name="to" size="8" value="{TO}" /><input type="submit" value="换乘查询" />
</form>
{RESULT}
</body>
</html>