@charset "gb2312";
body {
	margin: 0;
	font-size: 14px;
	color: #464646;
	font-family: "ו";
	background-color: #fffdd8;
}
ol,ul{
	margin:0;
	padding:0;
	list-style:none;
}
dl, dd{
	margin: 0;
}
img {
	border: 0;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
	font-weight:normal;
}
input, select, textarea { font-size: 12px; border: 1px solid #949494; padding: 2px;background:#ffffff;}
input.image, input.radio {border: none; padding:0;}

b{font-weight:normal;}
em, i{font-style:normal;}

a, a sup{color: #008f03;text-decoration:none;}
a:hover, a:active, a:hover sup, a:active sup {color:#ffcc00;}
.clear{clear:both;}
.hide{display:none;}

.red {
	color: red;
}
.blue {
	color: blue;
}
#welcome {
	font-size: 12px;
}
#header {
	width:1068px;
	height:auto !important;
	margin: 0 auto;
}
#header ul {
	height:46px;
	padding:154px 5px 15px 330px;
	background:url(../Images/header_bg.png) top center no-repeat;
}
#header ul li {
	float:left;
	width: 93px;
	height: 46px;
	padding-left: 4px;
	background: url(../Images/line1.png) left center no-repeat;
}
#header ul li.first {
	width: 80px;
	background-image: none;
}
#header ul li a {
	color: #FFF;
	display: block;
	width: 92px;
	height: 46px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	line-height: 46px;
}
#header ul li.first a {
	width: 80px;
}
#header ul li a.active {
	color: #ff6c00;
	background: url(../Images/focus.png) center center no-repeat;
}
#header ul li a:hover, #header ul li a:active {
	color:#FFED00;
	text-decoration:none;
}
#header ul li a.active:hover {
	color: #00cc33;
}
.wrapper {
	width: 1000px;
	margin: 10px auto;
}

.left {
	float: left;
}
.right {
	float: right;
}
.a_right{
	padding:3px;
	text-align:right;
}

.message_box i {
	color: #ff3333;
	display:inline-block;
	padding: 3px 3px 3px 22px;
	background: url(../Images/sign_error.png) 3px center no-repeat;
}
.message_box b {
	color: #73cc63;
	display:inline-block;
	padding: 3px 3px 3px 22px;
	background: url(../Images/sign_explain.png) 3px center no-repeat;
}
#divOnline {
	position: fixed;
	right: 5px;
	top: 30px;
	width: 145px;
	z-index: 100;
	font-size: 12px;
}
#divOnline .t {
	height: 6px;
	BACKGROUND: url(../Images/qq_listbg.gif) left top no-repeat;
}
#divOnline .c {
	background: url(../Images/qq_listbg.gif) -155px 0px repeat-y;
}
#divOnline .c h2 {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	line-height: 22px;
	color: #ffffff;
}
#divOnline .c ul {
	padding: 5px 0;
	margin:0 5px;
	background-color: #ffffff;
}
#divOnline .c ul li {
	text-align: center;
	line-height: 24px;
}

#divOnline .b {
	height: 6px;
	BACKGROUND: url(../Images/qq_listbg.gif) right top no-repeat;
}
#main {
	width: 1000px;
	padding-bottom: 12px;
	margin: 0 auto;
	background-color: #FFFFFF;
}
#main .left {
	width: 760px;
}
#main .right {
	width: 211px;
	font-size: 0;
	line-height: 0;
	text-align: center;
	background: url(../Images/right_bg.png) top center repeat-y;
}
#main .right form {
	padding-left: 32px;
	padding-right: 28px;
	font-size: 12px;
	line-height: 20px;
	text-align: left;
	background: url(../Images/right_form_bg2.png) top center repeat-y;
}
#main .right form .btn {
	text-align: center;
}
#main .right form .text, #main .right form select{
	width: 92px;
}
#main .right form textarea {
	width: 92px;
	height: 60px;
}
.pagenavi {
	padding: 10px;
}
#footer {
	padding: 20px 10px;
	text-align: center;
	font-size: 14px;
	line-height: 30px;
}