@charset "gb2312";
* {
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	color: #464646;
}
body {
	font-size: 14px;
	font-family: "ו";
	background-color: #fffdd8;
}
ol,ul{
	list-style:none;
}
h1,h2,h3,h4,h5,h6{
	font-weight:normal;
}
input, select, textarea { font-size: 12px; border: 1px solid #949494; padding: 2px;background:#ffffff;}
input.image, input.radio {border: none; padding:0;}

b{font-weight:normal;}
em, i{font-style:normal;}

a{color: #008f03;text-decoration:none;}
a:hover,a:active,a.active{color:#ffcc00;}
.clear{clear:both;}
.hide{display:none;}

#header {
	width:1068px;
	height:auto !important;
	margin: 0 auto;
}
#header ul {
	height:46px;
	padding:154px 5px 15px 330px;
	background:url(../Images/header_bg.png) top center no-repeat;
}
#header ul li {
	float:left;
	width: 93px;
	height: 46px;
	padding-left: 4px;
	background: url(../Images/line1.png) left center no-repeat;
}
#header ul li.first {
	width: 80px;
	background-image: none;
}
#header ul li a {
	color: #FFF;
	display: block;
	width: 92px;
	height: 46px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	line-height: 46px;
}
#header ul li a.active {
	color: #ff6c00;
	background: url(../Images/focus.png) center center no-repeat;
}
#header ul li a:hover, #header ul li a:active {
	color:#FFED00;
	text-decoration:none;
}
#header ul li a.active:hover {
	color: #00cc33;
}
.wrapper {
	width: 1000px;
	margin: 10px auto;
}

.left {
	float: left;
}
.right {
	float: right;
}
.a_right{
	padding:3px;
	text-align:right;
}

.message_box i {
	color: #ff3333;
	display:inline-block;
	padding: 3px 3px 3px 22px;
	background: url(../Images/sign_error.png) 3px center no-repeat;
}
.message_box b {
	color: #73cc63;
	display:inline-block;
	padding: 3px 3px 3px 22px;
	background: url(../Images/sign_explain.png) 3px center no-repeat;
}

#main {
	width: 1000px;
	padding-bottom: 12px;
	margin: 0 auto;
	background-color: #FFFFFF;
}
#main .left {
	width: 760px;
}
#main .right {
	width: 222px;
}

.pagenavi {
	padding: 10px;
}
#footer {
	padding: 20px 10px;
	text-align: center;
	font-size: 14px;
	line-height: 30px;
}