body {
	margin: 0;
	color: #333;
	font-size: 12px;
	font-family: "宋体";
	background-color: #fffdd8;
}
ol,ul{
	padding: 0;
	margin: 0;
	list-style:none;
}
h1,h2,h3,h4,h5,h6{
	padding: 0;
	margin: 0;
	font-weight:normal;
}
img {
	border: 0;
}
input, select, textarea { font-size: 12px; border: 1px solid #949494; padding: 2px;background:#ffffff;}
input.image, input.radio {border: none; padding:0;}

b{font-weight:normal;}
em, i{font-style:normal;}

a{color: #F4F4F4;text-decoration:none;}
a:hover,a:active,a.active{color:#ffcc00;}
.clear{clear:both;}
.hide{display:none;}

.a_right{
	padding:3px;
	text-align:right;
}

.wrapper {
	width: 1000px;
	margin: 0px auto;
}

#header {
	padding-top: 20px;
	padding-left: 35px;
	height: 127px;
	background: url(../Images/topbg.gif) center top;
}
#navi {
	height: 44px;
	margin-bottom: 5px;	
	background-color: #00a604;
}
#navi ul li {
	float:left;
	width: 155px;
	height: 44px;
	line-height: 44px;
	font-size: 16px;
	font-family: "黑体", simHei;
	color: #fef590;
	text-align: center;
}
.left {
	float: left;
	width: 326px;
	padding-right: 8px;
}
.right {
	float: right;
	width: 666px;
}
h2 {
	height: 49px;
	padding-right: 8px;
	line-height: 46px;
	font-size: 12px;
	text-align: right;
	background: transparent 3px 1px no-repeat;
}

#intro {
	height: 381px;
}
.left #intro {
	background: url(../Images/leftbg.gif) left top no-repeat;
}
.right #introduction {
	background: url(../Images/rightbg.gif) center top no-repeat;
}

#intro h2, #introduction h2 {
	background-image: url(../Images/company_intro.png);
}
#intro div {
	height: 302px;
	padding: 15px 20px;
	overflow: hidden;
	line-height: 24px;
	background-color: #FFFFFF;
	border: 1px solid #00a604;
}

#introduction div {
	padding: 15px 20px;
	text-indent: 2em;
	line-height: 24px;
	background-color: #FFFFFF;
	border: 1px solid #00a604;
}
#msg_form {
	margin-top: 7px;
}
.left #msg_form {
	background: url(../Images/leftbg.gif) center top no-repeat;
}
#msg_form h2, #feedback h2{
	background-image:url(../Images/company_msg.png);
}
#msg_form div, #feedback div {
	padding: 15px 10px 15px 20px;
	background-color: #FFFFFF;
	border: 1px solid #00a604;
}
#msg_form .submit {
	width: 82px;
	height: 33px;
	line-height: 33px;
	text-align: center;
	font-size: 14px;
	color: #464034;
	background: url(../Images/btn_bg7.png) center center no-repeat;
}
.message_box i {
	color: #ff3333;
	display:inline-block;
	padding: 3px 3px 3px 22px;
	background: url(../Images/sign_error.png) 3px center no-repeat;
}
.message_box b {
	color: #73cc63;
	display:inline-block;
	padding: 3px 3px 3px 22px;
	background: url(../Images/sign_explain.png) 3px center no-repeat;
}
#qual {
	margin-bottom: 6px;
}
.right #qual {
	background: url(../Images/rightbg.gif) center top no-repeat;
}
#qual h2{
	background-image:url(../Images/company_qual.png);
}
#qual div {
	padding: 18px 35px 30px 25px;
	background-color: #FFFFFF;
	border: 1px solid #00a604;
}
#qual ul li {
	line-height: 26px;
}
#qual em {
	color: #ffcc00;
}
#case {
	margin-bottom: 6px;
}
.right #case {
	background: url(../Images/rightbg.gif) center top no-repeat;
}
#case h2 {
	background-image:url(../Images/company_case.png);
}
#case ul {
	padding: 18px 12px 30px 30px;
	background-color: #FFFFFF;
	border: 1px solid #00a604;
}
#case ul li {
	float: left;
	width: 150px;
	height: 116px;
	padding-right: 6px;
	line-height: 24px;
}
#case ul li a {
	color: #333;
}
#case ul img {
	width: 132px;
	height: 83px;
	display: block;
	border: 2px solid #00a604;
}
#case h3 {
	padding-top: 16px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background-color: #FFFFFF;
	border-left: 1px solid #00a604;
	border-right: 1px solid #00a604;
}
#case p {
	padding: 0 10px 10px;
	margin: 0;
	text-align: center;
	background-color: #FFFFFF;
	border: 1px solid #00a604;
	border-top: none;
}
#case p img {
	margin-top: 20px;
}
.right #contact {
	background: url(../Images/rightbg.gif) center top no-repeat;
}
#contact h2 {
	background-image:url(../Images/company_contact.png);
}
#contact div {
	padding: 18px 35px 30px 25px;
	line-height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #00a604;
}
.right #feedback {
	background: url(../Images/rightbg.gif) center top no-repeat;
}
#feedback dl{
	padding:5px 0px 10px;
}
#feedback dl dt{
	height:22px;
	border-top:1px solid #E6E6E6;
	background-color:#beffbb;
	padding:0px 15px;
	line-height:22px;
	color:#08336F;
}
#feedback dl dt i{
	float:right;
	color:#393939;
	font-style:normal;
}
#feedback dl dd{
	padding:5px 15px 0px;
	margin: 0;
}

#footer {
	padding: 20px 10px;
	border-top: 2px solid #00a604;
	margin-top: 30px;
	text-align: center;
	line-height: 30px;
}
#footer a {
	color: #00a604;
}