@charset "gb2312";

body {
	color: #F3F3F3;
	font-size: 12px;
	font-family: "宋体";
	background-color: #000000;
}
ol,ul{
	padding: 0;
	margin: 0;
	list-style:none;
}
h1,h2,h3,h4,h5,h6{
	padding: 0;
	margin: 0;
	font-weight:normal;
}
input, select, textarea { font-size: 12px; border: 1px solid #949494; padding: 2px;background:#ffffff;}
input.image, input.radio {border: none; padding:0;}

b{font-weight:normal;}
em, i{font-style:normal;}

a{color: #e3c800;text-decoration:none;}
a:hover,a:active,a.active{color:#ffcc00;}
.clear{clear:both;}
.hide{display:none;}

.wrapper {
	width: 1000px;
	margin: 0px auto;
}

#header {
	padding-top: 20px;
	padding-left: 35px;
	height: 127px;
	background: url(../Images/company_logo_bg.png) left top repeat-x;
}
#navi {
	height: 44px;
	margin-bottom: 5px;	
	background-color: #acacac;
}
#navi ul li {
	float:left;
	width: 155px;
	height: 44px;
	line-height: 44px;
	font-size: 16px;
	font-family: "黑体", simHei;
	color: #fef590;
	text-align: center;
}
#navi ul li a {
	color: #F4F4F4;
}
#navi ul li a:hover, #navi ul li a:active, #navi ul li a.active{
	color:#fef590;
	text-decoration:none;
}
.left {
	float: left;
	width: 326px;
	padding-right: 8px;
}
.right {
	float: right;
	width: 666px;
}
h2 {
	height: 47px;
	padding-right: 8px;
	border-bottom: 2px solid #ddc821;
	line-height: 47px;
	font-size: 12px;
	text-align: right;
	background: #494949 left top no-repeat;
}

#intro {
	height: 381px;
}
#intro h2, #introduction h2 {
	background-image: url(../Images/company_intro.png);
}
#intro div {
	height: 302px;
	padding: 15px 20px;
	overflow: hidden;
	text-indent: 2em;
	line-height: 24px;
	background-color: #494949;
}
#introduction div {
	padding: 15px 20px;
	text-indent: 2em;
	line-height: 24px;
	background-color: #494949;
}
#msg_form {
	padding-top: 7px;
}
#msg_form h2, #feedback h2{
	background-image:url(../Images/company_msg.png);
}
#msg_form div, #feedback div {
	padding: 15px 10px 15px 20px;
	background-color: #494949;
}
#msg_form .submit {
	width: 82px;
	height: 33px;
	line-height: 33px;
	text-align: center;
	font-size: 14px;
	color: #464034;
	background: url(../Images/btn_bg7.png) center center no-repeat;
}
.message_box i {
	color: #ff3333;
	display:inline-block;
	padding: 3px 3px 3px 22px;
	background: url(../Images/sign_error.png) 3px center no-repeat;
}
.message_box b {
	color: #73cc63;
	display:inline-block;
	padding: 3px 3px 3px 22px;
	background: url(../Images/sign_explain.png) 3px center no-repeat;
}
#qual {
	margin-bottom: 6px;
}
#qual h2{
	background-image:url(../Images/company_qual.png);
}
#qual div {
	height: 131px;
	padding: 18px 35px 30px 25px;
	background-color: #494949;
}
#case {
	margin-bottom: 6px;
}
#case h2 {
	background-image:url(../Images/company_case.png);
}
#case div {
	height: 131px;
	padding: 18px 35px 30px 25px;
	background-color: #494949;
}

#contact h2 {
	background-image:url(../Images/company_contact.png);
}
#contact div {
	padding: 18px 35px 30px 25px;
	line-height: 30px;
	background-color: #494949;
}

#feedback dl{
	padding:5px 0px 10px;
}
#feedback dl dt{
	height:22px;
	border-top:1px solid #E6E6E6;
	background-color:#F7F7F7;
	padding:0px 15px;
	line-height:22px;
	color:#08336F;
}
#feedback dl dt i{
	float:right;
	color:#393939;
	font-style:normal;
}
#feedback dl dd{
	padding:5px 15px 0px;
	margin: 0;
}

#footer {
	padding: 20px 10px;
	border-top: 4px solid #aeaeae;
	margin-top: 30px;
	text-align: center;
	line-height: 30px;
}