#navi {
	width: 154px;
	line-height: 33px;
}
#navi a {
	color: #3C3C3C;
}
#navi li {
	text-align: center;
}
#navi li.curr {
	font-weight: bold;
	background: url(../Images/InviteBids_14.gif) center center no-repeat;
}

#user_form dl {
	padding: 20px 0;
}
#user_form dl dt {
	float: left;
	width: 128px;
	height: 28px;
	padding-bottom: 15px;
	text-align: right;
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	line-height: 28px;
}
#user_form dl dd {
	float: left;
	width: 640px;
	height: 28px;
	padding-bottom: 15px;
	color: #3c3c3c;
	line-height: 28px;
}
#user_form dl dd span {
	color: #8C8B8B;
}
#user_form dl dt.company {
	width: 300px;
	height: 14px;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	color: #72a30c;
	line-height: 30px;
}
#user_form dl dd.company {
	width: 488px;
	height: 14px;
}
#user_form dl dd.textarea {
	height: 150px;
}
#user_form input.text {
	width: 223px;
	height: 20px;
	line-height: 20px;
	border: 1px solid gray;
	color: #3c3c3c;
	padding: 3px;
}
#user #table1 th, #user #table1 td {
	padding: 5px;
}
#case_form dl {
	position: relative;
	padding: 5px;
	margin: 10px 0;
	border: 1px solid #b4b4b4;
}
#case_form input.delete {
	position: absolute;
	right: 0;
	bottom: 0;
}