<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>ERP</title>
	<link type="text/css" rel="stylesheet" href="../Public/Css/base.css?20100620" />
	<script language="JavaScript" type="text/javascript" src="../Public/Js/jquery-1.4.2.min.js?20100620"></script>
	<script language="JavaScript" type="text/javascript">
	var _APP_ = '__APP__';
	var _URL_ = '__URL__';
	var APP_PUBLIC_URL = '../Public';
	var IMAGE_FOLDER = '../Public/Images/';
	</script>
</head>
<body>
<!-- Only for login page -->
<layout name="$content" cache="0" />
</body>
<iframe id="_iframe" name="_iframe" style="width:0;height:0;display:none;"></iframe>
<link type="text/css" rel="stylesheet" href="../Public/Css/jquery-impromptu.css?20100620"/>
<script language="JavaScript" type="text/javascript" src="../Public/Js/jquery-impromptu.1.6.js?20100620"></script>
<script language="JavaScript" type="text/javascript" src="../Public/Js/myfunc.js?20100620"></script>
</html>