div#北京
{
	margin-left:275px;
	margin-top:164px;
}
div#哈尔滨
{
	margin-left:355px;
	margin-top:81px;
}
div#长春
{
	margin-left:346px;
	margin-top:106px;
}
div沈阳
{
	margin-left:336px;
	margin-top:134px;
}
div#天津
{
	margin-left:284px;
	margin-top:175px;
}
div#呼和浩特
{
	margin-left:232px;
	margin-top:154px;
}
div#乌鲁木齐
{
	margin-left:31px;
	margin-top:83px;
}
div#银川
{
	margin-left:181px;
	margin-top:181px;
}
div#西宁
{
	margin-left:136px;
	margin-top:198px;
}
div#兰州
{	
	margin-left:157px;
	margin-top:213px;
}
div#西安
{
	margin-left:203px;
	margin-top:235px;
}
div#拉萨
{
	margin-left:17px;
	margin-top:265px;
}
div#成都
{
	margin-left:152px;
	margin-top:278px;
}
div#重庆
{
	margin-left:179px;
	margin-top:292px;
}
div#贵阳
{
	margin-left:177px;
	margin-top:334px;
}
div#昆明
{
	margin-left:130px;
	margin-top:349px;
}
div#太原
{
	margin-left:240px;
	margin-top:192px;
}
div#石家庄
{
	margin-left:258px;
	margin-top:190px;
}
div#济南
{
	margin-left:288px;
	margin-top:207px;
}
div#郑州
{
	margin-left:254px;
	margin-top:233px;
}
div#合肥
{
	margin-left:291px;
	margin-top:264px;
}
div#南京
{
	margin-left:308px;
	margin-top:263px;
}
div#上海
{
	margin-left:335px;
	margin-top:271px;
}
div#武汉
{
	margin-left:257px;
	margin-top:283px;
}
div#长沙
{
	margin-left:249px;
	margin-top:313px;
}
div#南昌
{
	margin-left:280px;
	margin-top:305px;
}
div#杭州
{
	margin-left:323px;
	margin-top:283px;
}
div#福州
{
	margin-left:319px;
	margin-top:339px;
}
div#台北
{
	margin-left:346px;
	margin-top:350px;
}
div#南宁
{
	margin-left:197px;
	margin-top:384px;
}
div#海口
{
	margin-left:219px;
	margin-top:424px;
}
div#广州
{
	margin-left:256px;
	margin-top:380px;
}
div#香港
{
	margin-left:266px;
	margin-top:389px;
}
div#澳门
{
	margin-left:252px;
	margin-top:392px;
}