@charset "gb2312";
/* ========== 全局CSS定义 ====== */
html{overflow-x:hidden;}
body {font: 11pt/1.5 Simsun,sans-serif,Arial;}
input {font-family: Simsun,sans-serif,Arial;}
img {border: 0;}
strong{ color:#f00; font-weight:normal;}
ul{list-style:none; margin:0px; padding:0px;}
body,form,dl,dt,dd,ul,p,h1,h2,h3,h4,h5,h6{margin: 0px;padding: 0px;}
p {text-align:center;padding: 5px;}
a { color:#000;text-decoration: none;}
a:hover {text-decoration: underline;color:#f00;}
.clear{ clear:both;}

/* ========== 结构CSS定义 ====== */
#container{
	width:950px;
	margin:0px auto;
	overflow:hidden;
}
.layout{
	width:950px;
	margin:10px auto 0px auto;
	overflow:hidden;
}
/* ========== 头部 ====== */
#nav{
	width:950px;
	height:17px;
	padding-top:2px;
	margin:0px auto;
	font-size:12px;
	background:url(bavbg.gif);

	}
#nav ul{
	margin-left:340px;

	}	
#nav li{
	float:left;
	margin-left:24px;

	}	
#logo{
	width:242px;
	height:60px;
	float:left;}	
#banner{
	width:550px;
	height:60px;
	float:left;}	
#ad{
	width:125px;
	height:50px;
	font-size:12px;
	margin:5px 0px 0px 20px;
	float:left;}	
/* ========== 导航 ====== */	
#dao{
	width:892px; 				
	height:34px;
	font-size:12px;
	float:left;}	
#dao li{ 
	width:55px;
	height:10px;
	padding-left:4px;
	margin-top:4px;
	float:left;
	background:url(span_dashed.gif) no-repeat 58px 3px;}	
/* ========== 登录 ====== */
#login{
	width:745px;
	height:23px;
	font-size:12px;
	margin-top:6px;
	border-left:2px solid #E1EEF6;}		
.logintext{
	width:56px;
	height:13px;
	font-size:13px;
	margin:5px 0px 0px 20px;
	display:inline;
	font-weight:bold;
	float:left;
	color:#0698CB;
	padding-left:19px;
	background:url(loginico.gif) no-repeat 0px 3px;}
.loginlay{ 
	float:left;
	margin:2px 0px 0px 19px;
	font-size:16px;
	color:#0698CB;
	display:inline;}	
.logininput{
	width:105px;
	height:16px;
	border-top:1px solid #7F7F7F;
	border-left:1px solid #7F7F7F;
	border-right:1px solid #D4D1CA;
	border-bottom:1px solid #D4D1CA;}	
.loginbtn{
	width:41px;
	height:17px;
	border:none;
	font-size:12px;
	background:url(loginbg.gif);}
.wangbtn{
	width:58px;
	height:17px;
	border:none;
	margin-left:15px;
	font-size:12px;
	background:url(wangbg.gif);}	
.loginlay img{
	vertical-align:middle;}		
/* ========== 第一屏 ====== */
.oneleftdiv{
	width:280px;
	overflow:hidden;
	font-size:12px;
	float:left;}	
.flashlun{
	width:280px;
	height:203px;
	background:#ccc;}	
.onelayout{
	width:280px;
	overflow:hidden;
	margin-top:7px;
	}		
.onelaytit{
	width:280px;
	height:26px;
	background:url(onelaytit.gif) no-repeat;
	}	
.onelaycon{
	width:278px;
	overflow:hidden;
	border:1px solid #B3D1E9;
	border-top:none;
	padding:5px 0px 7px 0px;
	}
/* ========== 第一屏绝对PK ====== */		
.jdpk{
	width:267px;
	height:60px;
	margin:5px auto 7px auto;
	border:1px solid #D0D1D5;
	}			
	
.zhengfang{
	width:134px;
	height:60px;
	text-align:center;
	color:#FE6309;
	background: url(zhengbg.gif);
	float:left;}
.zhengtou{
	width:70px;
	font-weight: bold;
	height:18px;
	margin:11px 0px 0px 32px;}	
.zhengimg{
	vertical-align: text-bottom;}		
.fanfang{
	width:133px;
	height:60px;
	color:#0455DC;
	text-align:center;
	background:url(fanbg.gif);
	float:left;}	
/* ========== 第一屏热点关注 ====== */	
.onerecon{
	width:278px;
	overflow:hidden;
	border:1px solid #B3D1E9;
	border-top:none;
	padding:5px 0px 0px 0px;
	}
.onerecon li{
	background:url(liicon.gif) no-repeat 0px 6px;
	width:255px;
	margin:0px auto;
	padding-left:8px;
	line-height:20px;
	color:#f00;}		
.onerecon a{
	color:#00027D;}
/* ========== 第一屏活动公告 ====== */	
.onehuocon{
	width:278px;
	overflow:hidden;
	border:1px solid #B3D1E9;
	border-top:none;
	padding:5px 0px 0px 0px;
	}
.onehuoconad{
	width:246px;
	height:60px;
	margin:6px auto;
	}		
.onehuocon li{
	width:246px;
	margin:0px auto;
	line-height:22px;
	color:#f00;}	
.onehuocon a{
	color:#00027D;}	
/* ========== 第一屏中恻 ====== */	
.onecendiv{
	width:404px;
	overflow:hidden;
	margin-left:11px;
	display:inline;
	float:left;}
/* ========== 第一屏中恻头条 ====== */
.onetoutiao{
	width:402px;
	height:97px;
	font-size:12px;
	line-height:22px;
	padding-top:9px;
	text-align:center;
	background:#FAFAFA;
	border:1px solid #CACACA;}
	
/* ========== 第一屏中恻头条列表 ====== */	
.onetoubiao{
	width:404px;
	overflow:hidden;
	border-bottom:1px dotted #999;
	margin:7px auto 0px auto;}	
.onetoubiao li{
	background:url(liicon.gif) no-repeat 0px 8px;
	padding-left:10px;
	line-height:22px;
	padding-bottom:3px;
	color:#f00;
	}	
.onetoubiao a{
	color:#00027D;}	
.xinlatiit{
	width:404px;
	height:26px;
	background:url(xinlatit.gif);
	margin:9px auto;}	
.xinlatou{
	width:374px;
	height:71px;
	margin:0px auto;}	
.xinlatou img{
	border:1px solid #000;}
.xinlatoutext{
	width:287px;
	margin-top:8px;
	font-size:12px;
	float:right;}	
.xinlacon{
	width:376px;
	overflow:hidden;
	font-size:12px;
	margin-top:7px;
	margin-left:3px;}
.xinlacon li{
	background:url(liicon3.gif) no-repeat 0px 6px;
	padding-left:13px;
	line-height:20px;
	color:#f00;}
.xinlacon a{
	color:#01007F;}	
.xinlamore{
	width:376px;
	font-size:12px;
	margin-top:3px;
	text-align:right;
	font-weight:bold;}											
/* ========== 第一屏右侧====== */		
.onerightiv{
	width:244px;
	overflow:hidden;
	float:right;}	
/* ========== 第一屏右侧焦点专题====== */
.onelayrout{
	width:244px;
	overflow:hidden;
	}	
.onelayrtit{
	width:244px;
	height:26px;
	background:url(onelayrtit.gif);
	}
.onelayrmore{
	float:right;
	display:inline;
	margin:10px 28px 0px 0px;
	}	
.onelayrcon{
	width:242px;
	overflow:hidden;
	border:1px solid #B3D1E9;
	border-top:none;
	font-size:12px;
	padding:5px 0px 9px 0px;
	}
.onelayrow{
	width:226px;
	height:78px;
	border-bottom:1px solid #D5DCE4;
	margin:12px auto 4px auto;
	}	
.onelayimg{
	width:97px;
	height:65px;
	overflow:hidden;
	padding:1px 0px 0px 1px;
	border:1px solid #CAC8C9;
	float:left;
	}	
.onelayrowtext{
	width:120px;
	margin-top:5px;
	overflow:hidden;
	float:right;
	}		
.onelayrowtext a{ color:#000082;}								
/* ========== 第一屏右侧论坛人气榜====== */
.renqi{
	height:19px;
	width:231px;
	font-size:12px;
	padding:4px 0px 0px 1px;
	margin:1px 0px 0px 8px;}
.renqibg{ background:#F3F3F3;}	
.number{ margin-right:11px;vertical-align: inherit; float:left; display:inline;}		
.qishu{ margin:0px 0px 0px 32px; float:left; display:inline; width:44px;}		
.qizhi{ width:70px; height:5px; background: url(qizhi01.gif) repeat-x; float:left; margin-top:5px;}				
.qizhib{ width:62px; height:5px; background: url(qizhi02.gif) repeat-x; float:left; margin-top:5px;}	
.qizhic{ width:52px; height:5px; background: url(qizhi03.gif) repeat-x; float:left; margin-top:5px;}	
.qizhid{ width:45px; height:5px; background: url(qizhi04.gif) repeat-x; float:left; margin-top:5px;}	
/* ========== 第一屏右侧活跃网友榜====== */
.onelayrcon li{
	width:77px;
	float:left;
	margin-top:4px;
	}	
.onelayrcon li a{
	color:#02007F;
	}		
/* ========== 广告====== */
#bannerad{ width:950px; height:90px; margin:6px auto 0px auto;}
/* ========== 第二屏====== */
.twoleftdiv{ 
	width:737px;
	height:286px;
	border:1px solid #ccc;
	float:left;
	font-size:12px;}
.twoleftit{ 
	width:737px;
	height:29px;
	background:url(twoleftitbg.gif) -2px 0px;
}	
.twoleftcon{ 
	width:722px;
	overflow:hidden;
	margin:4px auto 0px auto;
}
.twoleftconrow{ 
	width:130px;
	height:125px;
	float:left;
}
.twoleftcontu{ 
	width:130px;
	height:100px;
	background:#eee;	
}
.twoleftcontu img{
	border:2px solid #fff;
	margin:3px 0px 0px 3px;
}
.tworightdiv{ 
	width:205px;
	border:1px solid #ccc;
	height:291px;
	float:right;
	font-size:12px;}
.tworightcon{ 
	width:188px;
	overflow:hidden;
	border-bottom:1px solid #ccc;
	margin:10px auto 0px auto;}		
.tworightcon li{
	background:url(liicon.gif) no-repeat 0px 7px;
	padding-left:9px;
	height:24px;}	
.tworightcon a{
	color:#040184;}		
.tworightit{ 
	width:205px;
	height:29px;
	background:url(tworightitbg.gif);}	
.twowendao{
	margin:7px 0px 0px 66px;
	float:left;
	display:inline;		}
.twotitmore{
	float:right;
	display:inline;
	margin:3px 12px 0px 0px;}	
/* ========== 第三屏 ====== */
.therediv{
	width:472px;
	height:346px;
	float:left;}
.theredivzuo{
	width:71px;
	height:346px;
	float:left;
	font-size:12px;
	background:url(theredivzuo.gif) no-repeat;}
.theredivzuo li{
	height:18px;
	padding:6px 0px 0px 10px;}	
.theredivzuo a{
	color:#fff;}	
.theredivyou{
	width:400px;
	height:346px;
	float:right;
	background:url(theredivyou.gif) no-repeat;}		
.theredivtou{
	width:382px;
	height:90px;
	margin:26px auto 10px auto;
	border-bottom:1px dotted #999;}	
.theredivtu{
	width:98px;
	height:77px;
	margin-left:7px;
	float:left;
	border:1px solid #9DB9CE;}	
.theretuwen{
	width:268px;
	height:70px;
	font-size:12px;
	margin:6px 0px 0px 0px;
	float:right;
}	
.theretext{
	width:350px;
	overflow:hidden;
	margin:0px auto;
}	
.theretext li{
	background:url(liicon2.gif) no-repeat 0px 6px;
	padding-left:10px;
	line-height:24px;
	color:#f00;}
.theretext li a{
	color:#1F2094;}		
/* ========== 第四屏 ====== */
.fourdivlt{
	width:279px;
	height:106px;
	float:left;
	font-size:12px;}
.fourdivltit{
	width:26px;
	height:106px;
	float:left;
	background: url(fourdivltit.gif);}	
.fourdivltcon{
	width:252px;
	height:104px;
	float:left;
	border:1px solid #B2D3E6;
	border-left:none;}		
.fourdivltext{
	width:72px;
	float:left;
	margin:11px 0px 0px 0px;
	overflow:hidden;}	
.fourdivltu{
	width:68px;
	height:68px;
	overflow:hidden;
	padding:2px 0px 0px 2px;
	border:1px solid #BABABA;}		
.fourdivltuwen{
	margin-top:3px;
	text-align:center;}	
.fourdivyouwen{
	width:130px;
	height:75px;
	float:left;
	display:inline;
	margin:11px 0px 0px 8px;}			
.fourdivlrcon{
	width:632px;
	height:104px;
	float:left;
	padding-left:5px;
	border:1px solid #B2D3E6;
	border-left:none;}		
.fourdivlr{
	width:665px;
	height:106px;
	float:right;
	font-size:12px;}	
/* ========== 第八屏 ====== */
.baleftdiv{
	width:381px;
	overflow:hidden;
	float:left;
	font-size:12px;
	height:416px;
	margin-right:4px;
	display:inline;
	border:1px solid #48B2E2;}
.baleftit{
	width:369px;
	height:20px;
	font-weight:bold;
	color:#DC0C0C;
	padding:4px 0px 0px 12px;
	background:url(baleftit.gif);}	
.baleftit span{
	font-weight: normal;
	margin:3px 0px 0px 22px;
	color:#000;
}	
.baleftcon{
	width:363px;
	overflow:hidden;
	margin:8px auto;
	color:#f00;}
.baleftcon li{
	background:url(liicon4.gif) no-repeat 0px 5px;
	padding-left:10px;
	line-height:20px;
	}	
.barightdiv{
	width:174px;
	font-size:12px;
	overflow:hidden;
	float:left;
	height:416px;
	border:1px solid #48B2E2;}	
.barightit{
	width:162px;
	height:20px;
	font-weight:bold;
	color:#DC0C0C;
	padding:4px 0px 0px 12px;
	background: url(barightit.gif);}	
.barighcon{
	width:155px;
	overflow:hidden;
	margin:0px auto;}	
.barighcon li{
	background:url(liicon.gif) no-repeat 0px 7px;
	padding-left:10px;
	line-height:20px;}
/* ========== 论坛地图 ====== */			
.ltmap{
	width:768px;
	height:202px;
	border:1px solid #CBCBCB;
	float:left;
	background:url(mapbg.gif);}	
.ltmaptit{
	width:736px;
	margin:6px auto;
	font-weight:bold;
	font-size:14px;
	color:#6F6F6F;}		
.lrmap{
	width:174px;
	height:202px;
	border:1px solid #CBCBCB;
	float:right;
	background:url(mapbg.gif);}
.lrmapcon{
	width:156px;
	margin:6px auto;
	overflow:hidden;
	font-size:12px;
	line-height:22px;}	
.lrmapcon a{
	color:#4F4F4F;}	
.lrmaptit{
	width:155px;
	height:22px;
	margin:0px auto;
	font-size:14px;
	font-weight:bold;
	color:#6F6F6F;
	padding:4px 0px 0px 6px;
	border-bottom:1px solid #ccc;}	
.lrmapconzuo{
	width:365px;
	height:160px;
	margin:0px 0px 0px 16px;
	float:left;
	font-size:12px;
	line-height:20px;
	display:inline;
	border-right:1px dashed #3C3C3C;}	
	
.lrmapconyou{
	width:335px;
	height:160px;
	margin:0px 0px 0px 30px;
	float:left;
	font-size:12px;
	line-height:20px;
	display:inline;
}		
/* ========== 友情链接 ====== */
#hezuo{
	width:914px;
	height:86px;
	margin:10px auto;
	font-size:12px;
	line-height:20px;
	padding:14px 17px 0px 17px;
	background:#F6F4F5;
	border:1px solid #CDCBCC;}
#hezuo a{color:#00007A;
}	
/* ========== 页脚 ====== */
#footer{
	width:950px;
	height:20px;
	padding-top:5px;
	margin:5px auto;
	font-size:12px;
	color:#fff;
	background:url(jiaobg.gif);
	text-align:center;}	
#footer a{
	color:#fff;}
															
/* ========== 其他 ====== */
a.mapmore { color:#6f6f6f;text-decoration: none; font-size:14px;}
a.mapmore:hover {text-decoration: underline;color:#f00; font-size:14px;}
a.zhou { color:#00007A;text-decoration: none;}
a.zhou:hover {text-decoration: underline;color:#f00;}
a.lzai { color:#F75902;text-decoration: underline;}
a.lzai:hover {text-decoration: underline;color:#f00;}
a.bbsname { color:#F75902;text-decoration: none;}
a.bbsname:hover {text-decoration: underline;color:#f00;}
a.tuh { color:#4065AC;text-decoration: none;}
a.tuh:hover {text-decoration: underline;color:#f00;}
a.ad { color:#02007F;text-decoration: underline;}
a.ad:hover {text-decoration: underline;color:#f00;}
a.hbiao { color:#f00;text-decoration: none;}
a.hbiao:hover {text-decoration: underline;color:#f00;}
a.name { color:#0201FD;text-decoration: none;}
a.name:hover {text-decoration: underline;color:#f00;}
.lt{ float:left;}
.rt{ float:right; font-size:12px;}
h2{ font-size:14px; color:#fff; margin:3px 0px 0px 20px;}
h1{ font-size:16px; color:#f00;}
h3{ font-size:14px;}
h4{ font-size:16px;}
h5{ font-size:14px; color:#F75902; margin:3px 0px 0px 52px;}
.mright{ margin-right:35px; display:inline;}
.mleft{ margin-left:11px; display:inline;}
.mleftb{ margin-left:18px; display:inline;}
.mleftc{ margin-left:6px; display:inline;}
.mrightti{ margin-right:165px; display:inline;}
.huahang{ margin-left:66px; }
.mtop{ margin-top:8px;}
.textcen{ text-align:center;}
.nobottom{ border-bottom:none;}
.suojin{ text-indent:2em;}
.thereh{ color:#fff; margin:3px 0px 0px 19px;}
.fourh{ color:#fff; margin:13px 0px 0px 6px;}