* {	font-family: Arial, "ו", sans-serif;}
BODY { font-family: ו; FONT-SIZE: 13px; color:#3D6188;line-height:140%;}
TD { font-family: ו; FONT-SIZE: 13px; text-decoration: none; line-height: 140%; color: #3D6188;}

h1 {font-size: 16px;font-weight: bold;}

a:link{ text-decoration: none; color: #3D6188;}
a:visited { text-decoration: none; color: #3D6188;}
a:hover { text-decoration: none; color: #FF5500;}

h1 {font-size: 16px;font-weight: bold;}

sub {font-size: 11px;}
sup {font-size: 11px;}

a.none:link{ text-decoration: none; color: #3D6188;}
a.none:visited { text-decoration: none; color: #3D6188;}
a.none:hover { text-decoration: none; color: #3D6188;}

a.www:link{ text-decoration: underline; color: #333333;}
a.www:visited { text-decoration: underline; color: #333333;}
a.www:hover { text-decoration: underline; color: #FF5500;}

a.ww:link{ text-decoration: none; color: #333333;}
a.ww:visited { text-decoration: none; color: #333333;}
a.ww:hover { text-decoration: none; color: #333333;}

a.pt11www:link{ FONT-SIZE: 11pt;text-decoration: underline; color: #666666;}
a.pt11www:visited { FONT-SIZE: 11pt;text-decoration: underline; color: #666666;}
a.pt11www:hover { FONT-SIZE: 11pt;text-decoration: underline; color: #FF5500;}

.pt9-160 { font-size: 13px; line-height: 160%}
.pt9-180 { font-size: 13px; line-height: 180%}
.pt9 { font-size: 13px}
.pt10 { font-size: 10pt}
.pt11 { font-size: 11pt}
.pt12 { font-size: 12pt;line-height: 180%}
.pt7 { font-family:arial,sans-serif;font-size: 7.5pt}

a.purple:link{text-decoration: none; color: #F73892;}
a.purple:visited { text-decoration:none; color: #F73892;}
a.purple:hover { text-decoration: none; color: #DD1D78;}

a.gray:link{ text-decoration: none; color: #888888;}
a.gray:visited { text-decoration: none; color: #888888;}
a.gray:hover { text-decoration: underline; color: #888888;}

a.blue:link{ text-decoration: none; color: #1F82C7;}
a.blue:visited { text-decoration: none; color: #1F82C7;}
a.blue:hover { text-decoration: underline; color: #FF5500;}

a.green:link {color: #60A179;text-decoration:none;}
a.green:visited {color: #60A179;text-decoration:none;}
a.green:hover {color:#E58712;text-decoration:none; }
a.green:active {color: #E58712;text-decoration:none;}

a.orange:link{ text-decoration: underline; color: #FF5500;}
a.orange:visited { text-decoration: underline; color: #FF5500;}
a.orange:hover { text-decoration: underline; color: #0044DD;}

a.deepblue:link{ text-decoration: none; color: #003399;}
a.deepblue:visited { text-decoration: none; color: #003399;}
a.deepblue:hover { text-decoration: none; color: #FF5500;} 

a.white:link{ text-decoration: none; color: #FFFFFF; }
a.white:visited { text-decoration: none; color: #FFFFFF; }
a.white:hover { text-decoration: underline;color: #FFFFFF; }

.input {
BORDER-TOP: #CDCDCD 1px solid;
BORDER-BOTTOM: #CDCDCD 1px solid;
BORDER-LEFT: #CDCDCD 1px solid;
BORDER-RIGHT: #CDCDCD 1px solid;
padding-left:2px;
FONT-SIZE: 13px;
COLOR: #666666;
BACKGROUND-COLOR: #FFFFFF;
line-height: 15px;
}

.login-botton {
COLOR: #999999;
background-image: url(images/login-getpwd.gif);
}