<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>博客中国-最新资讯列表</title>
<link href="images/cai.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- 主框架开始 -->
<div id="container">
	<!-- 博客网导航 -->
	<div id="nav">
	<ul>
		<li><a href=http://www.bokee.com>博客网首页</a></li>
		<li><a href=http://www.blogchina.com>博客中国</a></li>
		<li><a href=http://media.bokee.com>博客传媒</a></li>
		<li><a href=http://blogs.bokee.com>博客公社</a></li>
		<li><a href=http://news.bokee.com>内容中心</a></li>
		<li><a href=http://photo.bokee.com>图片博客</a></li>
		<li><a href=http://bbs.bokee.com>博客论坛</a></li>
		<li><a href=http://group.bokee.com>博客群组</a></li>
		<li><a href=http://www.booso.com/cast.html>博客联播</a></li>
		<li><a href=http://podcast.bokee.com>播客</a></li>
		<li><a href=http://news.bokee.com>资讯</a></li>
		<li><a href=http://biz.bokee.com>商业</a></li>
		<li><a href=http://tech.bokee.com>科技</a></li>
		<li><a href=http://ent.bokee.com>娱乐</a></li>
		<li><a href=http://mm.bokee.com>美女</a></li>
		<li><a href=http://pic.bokee.com>图秀</a></li>
		<div class="clear"></div>
	</ul>
</div>
<!-- 头部 -->
<div class="layout mtopb">
	<div id="logo">
		<a href="http://vip.bokee.com"><img src="http://vip.bokee.com/shtml/images/logo.gif" /></a>
	</div>
	<div class="banner">
		<!--媒体首页760*90通栏1开始-->
		<!--Adforward Begin:-->
		<IFRAME MARGINHEIGHT=0 MARGINWIDTH=0 FRAMEBORDER=0 WIDTH=760 HEIGHT=90 SCROLLING=NO SRC="http://bokee.allyes.com/main/adfshow?user=BokeeNetwork|finance|finance_nfc_1&db=bokee&border=0&local=yes">
		<SCRIPT LANGUAGE="JavaScript1.1" SRC="http://bokee.allyes.com/main/adfshow?user=BokeeNetwork|finance|finance_nfc_1&db=bokee&local=yes&js=on"></SCRIPT>
		<NOSCRIPT><A HREF="http://bokee.allyes.com/main/adfclick?user=BokeeNetwork|finance|finance_nfc_1&db=bokee"><IMG SRC="http://bokee.allyes.com/main/adfshow?user=BokeeNetwork|finance|finance_nfc_1&db=bokee" WIDTH=760 HEIGHT=90 BORDER=0></a></NOSCRIPT></IFRAME>
		<!--Adforward End--><!--媒体首页760*90通栏1结束-->
	</div>
</div>

<!-- 导航 -->
<div id="dao">
<ul>
	<li class="mleft"><a href="http://vip.bokee.com" class="navlink">首页</a></li>
	<li><a href="http://vip.bokee.com/shtml/shtml/channel_200/list_0.html" class="navlink" target=_blank>曝光广场</a></li>
	<li><a href="http://vip.bokee.com/shtml/shtml/channel_201/list_0.html" class="navlink" target=_blank>民生观察</a></li>
	<li><a href="http://vip.bokee.com/shtml/shtml/channel_208/list_0.html" class="navlink" target=_blank>财经人物</a></li>
	<li><a href="http://vip.bokee.com/shtml/shtml/channel_203/list_0.html" class="navlink" target=_blank>投资理财</a></li>
	<li><a href="http://vip.bokee.com/shtml/shtml/channel_204/list_0.html" class="navlink" target=_blank>财经评论</a></li>
	<li><a href="http://vip.bokee.com/shtml/shtml/channel_205/list_0.html" class="navlink" target=_blank>股市行情</a></li>
	<li><a href="http://blogs.bokee.com/jingji/index.shtml" class="navlink" target=_blank>博说财经</a></li>
	<li><a href="http://blogs.bokee.com/catagory/caijingzhichang/" class="navlink" target=_blank>财经群组</a></li>
	<li><a href="http://bbs.bokee.com/list.htm?url=http://bbs.bokee.com/Forum.1.141.html" class="navlink" target=_blank>财经论坛</a></li>
	<li><a href="http://blogs.bokee.com/contribute/" class="navlink" target=_blank>博客投稿</a></li>
	<li><a href="http://vip.bokee.com" class="navlink" target=_blank>名家专栏</a></li>
</ul>
</div>
<!-- 第一屏 -->
<div class="layout">
	<!-- 第一屏左侧 -->
	<div class="leftone">
		<!-- 第一屏左侧头条 -->
		<div class="leftonetop" style="text-align:center">
				<img src="images/mt_logo1.gif">
				<img src="images/mt_logo2.gif">
		</div>
		<div class="leftonetit">
			<div class="lt"><h1>新华美通简介</h1></div>
		</div>
		<div class="leftoneconb">
			<div class="leftoneconbtext" style="text-indent:2em">
				新华美通是美国企业新闻通讯公司（美通社）和新华财经在亚洲地区的合作项目，是中国第一家也是唯一一家为企业和机构提供全球文本、图片、和多媒体新闻稿发布服务的机构，并为客户提供多种形式的新闻剪报、监测、评估和媒体情报服务。新华美通协助企业与机构以经济高效的方式将它们的新闻发送至中国、亚洲和世界其他地方的媒体、大众和投资界。运用美通社的全球新闻发布网络以最新的传播科技，新华美通以40多种语言将信息发往135个国家和地区。
			</div>
		</div>
		<div class="leftonetit">
			<div class="lt"><h1>美通社简介</h1></div>
		</div>
		<div class="leftoneconb">
			<div class="leftoneconbtext" style="text-indent:2em">
				美国企业新闻通讯社（PR Newswire AssociationLLC，简称美通社）(http://www.prnewswire.com)成立于1954年，在11个国家设有办事处，每天以40多种语言向135个国家的新闻机构发送客户的新闻稿。由于采用最新的通讯技术，美通社的新闻内容已成为新闻记者、投资者以及个人寻求最新消息的主要来源。美通社领先的服务包括 ProfNetExperts(SM)、eWatch(TM)、MEDIAtlas(TM)、SEV、MediaRoom、MediaSense(TM) 和 MultiVu(TM)。美通社是伦敦联合商业媒体公司 (United Business Media plc ofLondon) 的旗下子公司。美通社代表全球约40000企业、政府、协会、劳工组织、非赢利性组织以及其它客户提供电子发布、目标发送、评估、翻译和广播服务。 
			</div>
		</div>
		<div class="leftonetit">
			<div class="lt"><h1>联系方式</h1></div>
		</div>
		<div class="leftoneconb">
			<div class="leftoneconbtext">
				媒体部：010-58645299<br />
客户部：010-58645289<br />
Email： media@xprn.com<br />
Web：   www.prnewswire.com<br />
        www.xprn.com <br />
			</div>
		</div>
	</div>
	<!--列表 -->
	<div class="lieright">
		<ul>
			<!-- BEGIN list1 -->
			<li>
				<a href="article.php?id={list1.ID}" target="_blank">{list1.TITLE}</a> {list1.DATETIME}
				<p>{list1.SUBTITLE}……</p>
			</li>
			<!-- END list1 -->
			<!-- BEGIN list2 -->
			<li>
				<a href="article.php?id={list2.ID}" target="_blank">{list2.TITLE}</a> {list2.DATETIME}
			</li>
			<!-- END list2 -->
		</ul>
		<div class="lietit"><center>{PAGE}</center>
		</div>
		</div>	
		<!--列表结束 -->			
		<div class="clear"></div>
	</div>
</div>
<hr size="0.5" width="90%" color="#BAD5C4">
<div class="footer">
	<div class="bottomnav" align=center><a href="mailto:gulongchen@bokee-inc.com">主编信箱</a> | <a href="http://www.bokee.com/new/about/aboutus.html">关于本站</a> | <a href="http://adimage.bokee.com/images/ad/minisite/service/serve.htm">广告服务</a> | <a href="http://www.bokee.com/new/about/contact.html">联系我们</a> | <a href="http://www.bokee.com/new/about/service.htm">服务条款</a> | <a href="http://www.bokee.com/new/about/privacy.htm">隐私保护</a> | <a href="http://service.bokee.com/">客服中心</a> | <a href="http://column.bokee.com/37233.html">人员招聘</a> | <a href="http://www.bokee.com/new/about/morelink.htm">友情链接</a> | <a href="http://www.bokee.com/new/about/sitemap.html">导航</a> | <a href="http://reg.bokee.com/account/Register.b">注册</a></div>
	<div class="copyright" align=center>Copyright 2002 - 2005 Bokee.com,All Right Reserved
		<p>增值电信业务经营许可证编号：B2-20050016</p>
		<p><a href="http://www.miibeian.gov.cn"><img src="http://keji.bokee.com/images/icp.gif" alt="icp" /></a><em>京ICP证050706号</em> <a href="http://net.china.cn/chinese/index.htm"><img src="http://keji.bokee.com/images/netcn.jpg" alt="不良信息举报中心" /></a> <a href="http://www.allyes.com/"><img src="http://keji.bokee.com/images/allyes.gif" alt="all" /></a></p>
	</div>
</div>

</body>
</html>