		<!-- 第一屏 -->
		<div class="layout">
			<!-- 第一屏左侧 -->
			<div class="oneleft">
				<!-- 本月最受青睐美女 -->
				<div class="monti">
					<span class="monlt">推荐最受青睐美女</span>
					<span class="lt"><iframe allowTransParency="true" marginWidth="0" marginHeight="0" frameBorder="0" scrolling="no" width="240" height="160" src="../pop_female.html"></iframe></span>
					<div class="clear"></div>
				</div>
				<!-- 本月最受青睐帅哥 -->
				<div class="monti">
					<span class="monlt">推荐最受青睐帅哥</span>
					<span class="lt"><iframe allowTransParency="true" marginWidth="0" marginHeight="0" frameBorder="0" scrolling="no" width="240" height="160" src="../pop_male.html"></iframe></span>
					<div class="clear"></div>
				</div>
				<!-- 鲜花月排行 -->
				<div class="mtop">
					<h1>留言排行</h1>
					<div class="qunlay">
						<div class="tenext">
							<ul class="topli">
								<!-- BEGIN list0 -->
								<li class="t{list0.I}"><span class="lt">{list0.ID}号：<a href="comment.php?id={list0.ID}" class="name" title="{list0.BLOGNAME0}">{list0.BLOGNAME}</a></span> <span class="lr">{list0.COMM_COUNT}</span></li>
								<!-- END list0 -->
								<div class="clear"></div>
							</ul>
						</div>
					</div>
				</div>
			</div>