		<div class="clear"></div>
		<div class="Ad">
			<div class="rim"><p>合作媒体</p>
				<a href="http://www.xfwed.com/"><img src="http://images.bokee.com/mm/include/index/2006-06-22/P64mR975zoFui43S.gif" alt="婚嫁文集"/></a>
				<a href="http://www.365wed.com/index.shtml"><img src="http://images.bokee.com/mm/cphoto/2006-10-16/hYN3d1Z7BT1086qI.jpg" alt="365结婚网"/></a>
				<a href="http://www.znxf.com/"><img src="http://images.bokee.com/mm/include/index/2006-06-22/Wzn98X4oRui6AS19.jpg" alt="祝你幸福"/></a>
				<a href="http://www.chinawedding.com.cn/chinahbh/web/index.asp"><img src="http://images.bokee.com/mm/include/index/2006-07-05/46odvZNpd2w8Cq3w.gif" alt="婚博会"/></a>
			</div>
		</div>
		<div class="Ad">
			<div class="rim">
				<p>友情连接</p>
				<table border=0 cellpadding=3 cellspacing=0 width="876" height="76">
				<tr>
					<td><a href="http://www.esister.cn/" title="情人坊">情人坊</a></td>
					<td><a href="http://life.bokee.com/" title="生活频道">生活频道</a></td>
					<td><a href="http://ent.bokee.com/" title="娱乐频道">娱乐频道</a></td>
					<td><a href="http://blogs.bokee.com/" title="博客公社">博客公社</a></td>
					<td><a href="http://www.cmarry.com/" title="恩爱婚嫁网">恩爱婚嫁网</a></td>
					<td><a href="http://zhenxinai.com/" title="真心爱婚庆公司">真心爱婚庆公司</a></td>
					<td><a href="http://lady.club.zgjrw.com/" title="优秀女人俱乐部">优秀女人俱乐部</a></td>
					<td><a href="http://gentleman.club.zgjrw.com/" title="优秀男人俱乐部">优秀男人俱乐部</a></td>
					<td><a href="http://www.tianji.com/club/cbdpinklady" title="北京粉领贵族俱乐部">北京粉领贵族俱乐部</a></td>
				</tr>
				</table>
			</div>
		</div>
		<div class="editor">
			<span style="float:left"><a href="http://blogs.bokee.com/help/zhubian/index.shtml"><img height="28" alt="欢迎进入小编地带" src="http://images.bokee.com/blog/cphoto/2007-04-28/qg8qTIOrVJ0aD6K.gif" width="135" border="0" align="absmiddle"></A></span><span style="width:710px;background-color:#FFEBF7;padding:7px;float:left;text-align:left;">·主编：<a href="http://ladysmm.bokee.com/" target="_blank">曾爱芝</a> ·编辑：<a href="http://tianxin1983202.bokee.com" target="_blank">张浩然</a> ·编辑：<a href="http://meinvpindao.bokee.com" target="_blank">朱良缘</a> ·热线：01051818811-3305 ·<a href="http://blogs.bokee.com/contribute/channel.php?id=70" target="_blank">欢迎给博客美女投稿！</a></span>
		</div>
		<!--底部-->
		<div class="bottom">
			<a href="http://www.bokee.com/new/about/aboutus.html">关于本站</a> | <a href="http://adimage.bokee.com/images/ad/minisite/service/serve.htm">广告服务</a> | <a href="http://www.bokee.com/new/about/contact.html">联系我们</a> | <a href="http://www.bokee.com/new/about/service.htm">服务条款</a> | <a href="http://www.bokee.com/new/about/privacy.htm">隐私保护</a> | <a href="http://service.bokee.com/">客服中心</a> | <a href="http://column.bokee.com/37233.html">人员招聘 </a>| <a href="http://www.bokee.com/new/about/morelink.htm">友情链接</a> | <a href="http://www.bokee.com/new/about/sitemap.html">导航</a> | <a href="mailto:annzeng#bokee.com">主编信箱</a> | <a href="http://reg.bokee.com/account/Register.b">注册</a>
		</div><!--版权信息开始-->
		<div class="copyright">
			Copyright 2002 - 2005 Bokee.com, All Rights Reserved<br/>增值电信业务经营许可证编号：B2-20050016<br/><a href="http://www.allyes.com/"><img src="../images/icp.gif" alt="icp" /></a> <a href="http://net.china.cn/chinese/index.htm"> 京ICP证050706号 </a> <a href="http://www.allyes.com/"><img src="../images/netcn.gif" alt="不良信息举报中心"/></a>  <a href="http://www.allyes.com/"> <img src="../images/allyes.gif" alt="all"/></a>
		</div><!--底部结束-->
	</div>
</body>
<iframe frameborder="0" scrolling="no" id="iframe1" name="iframe1" width="600" height="50" src="" style="display:none"></iframe>
<form action='' id="chatRoomFrmMyPhoto" method='post' target='_blank'>
<input type="hidden" id='chatNamePostMyPhoto' name='chatNamePost' value=''/>
<input type="hidden" id='urlMyPhoto' name='url' value=' '/>
</form>
<script language="javascript" type="text/javascript" src="location_array.js"></script>
<script language="javascript" type="text/javascript" src="edit_info.js"></script>

</html>