<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{TITLE}</title>
<link href="../images/friend.css" rel="stylesheet" type="text/css" />
<link href="../images/ziliao.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="getCookie.js"></script>
<script language="javascript">
<!--
function checkLoginForm(form)
{
	if(form.username.value=='' || form.username.value=='用户名')
	{
		alert('您没有输入登录用户名');
		form.username.focus();
		return false;
	}
	if(form.password.value=='' || form.password.value=='密码')
	{
		alert('您没有输入密码');
		form.password.focus();
		return false;
	}
	if(form.domain.value=='http://vip.bokee.com/authorEdit/login_check.php')
	{
		form.target="_blank";
	}
	else
	{
		form.target="_self";
	}
	form.url.value=window.location.href;
	form.name.value=form.username.value;
	return true;
}
function isLogin()
{
	if(blogID!=null)
	{
		if(groupID==1 || groupID==2 || groupID==3 || groupID==98 || groupID==99)//老公社用户
		{
			document.getElementById('isLogin').innerHTML=blogID+'&nbsp;&nbsp;<a href="http://publishblog.blogchina.com/control/blog/postBlog.b" target="_blank">写新文章</a> | <a href="http://publishblog.blogchina.com/control/blog/listDiary.b" target="_blank">编辑文章</a> | <a href="http://publishblog.blogchina.com/control/blog/listRemark.b" target="_blank">评论管理</a> | <a href="http://publishblog.blogchina.com/control/blog/listNote.b" target="_blank">留言管理</a> | <a href="http://mm.bokee.com/friend/mm_friend/redirect_to_me.php" target="_blank" style="color:red">管理我的交友资料</a> | <a href="http://reg.bokee.com/account/LogoutCtrl.b?url='+window.location.href+'">退出通行证</a>';
		}
		else
		{
			document.getElementById('isLogin').innerHTML='<a href="http://'+blogID+'.bokee.com/mes/listReceiveBoxIndex.b" target="_blank" title="查看我的私信">'+blogID+'<img src="../images/mail_top_inc.gif" alt="我的私信" border="0"></a>&nbsp;&nbsp;<a href="http://'+blogID+'.bokee.com/control/diary/postDiary.b" target="_blank">写日志</a> | <a href="http://'+blogID+'.bokee.com/photo/loadPicUpload.b" target="_blank">发图片</a> | <a href="http://'+blogID+'.bokee.com/main.b" target="_blank">管理博客</a> | <a href="http://mm.bokee.com/friend/mm_friend/redirect_to_me.php" target="_blank" style="color:red">管理我的交友资料</a> | <a href="http://reg.bokee.com/account/LogoutCtrl.b?url='+window.location.href+'">退出通行证</a>';
		}
	}
}
function submitFormWithChannel(channelname) {
	document.gform.channel.value=channelname;
	document.gform.submit();
	return;
}
// -->
</script>
</head>

<body onload="isLogin()">
	<!-- 主框架开始 -->
	<div id="container">
		<!-- 注册登录开始 -->
		<div id="login">
			<div class="lt" id="isLogin">
				<form id="loginForm" name="loginForm" method="post" action="http://reg.bokee.com/account/LoginCtrl.b" onsubmit="return checkLoginForm(this)">
				通行证:
				<input name="username" type="text" id="username" size="16" onfocus="this.value=''" value="用户名"/>
				<input name="password" type="password" id="password" size="16" onfocus="this.value=''" value="密码"/>
				<label>
				<select name="domain" id="domain" onchange="this.form.action=this.value;">
					<option value="http://reg.bokee.com/account/LoginCtrl.b">博客通行证</option>
					<option value="http://vip.bokee.com/authorEdit/login_check.php">博客专栏</option>
				</select>
				</label>
				<input type="submit" name="submit" value="登录" />
				<a href="http://reg.bokee.com/account/GetPwdCtrl.b" target="_blank">忘记密码</a>
				<a href="http://reg.bokee.com/account/Register.b" target="_blank">三十秒注册</a>
				<input name="name" type="hidden" />
				<input name="login_where" type="hidden" value="top_index" />
				<input name="url" id="url" type="hidden" value="" />
				</form>
			</div>
			<div class="lr">
			<form name="gform" method="get" action="http://www.google.cn/search" target="_blank">
			<a href="javascript:submitFormWithChannel('logo')"><img src="http://www.bokee.com/include/logo_Google_white.gif" alt="Google" width="75" height="23" border="0" align="middle"></a><input type="text" name="q" size="8" maxlength="255" value=""></input><input type="button" name="sb" value="站内" onclick="javascript:document.gform.sitesearch.value='bokee.com';document.gform.channel.value='sitesearch';document.gform.submit();">
			</input><input type="button" name="sa" value="互联网" onclick="javascript:document.gform.sitesearch.value='';document.gform.channel.value='internetsearch';document.gform.submit();"></input>
			<input type="hidden" name="sitesearch" value="bokee.com" />
			<input type="hidden" name="client" value="aff-bokee"></input>
			<input type="hidden" name="ie" value="utf8"></input>
			<input type="hidden" name="oe" value="utf8"></input>
			<input type="hidden" name="hl" value="zh-CN"></input>
			<input type="hidden" name="channel" value="sitesearch"></input>
			</form>
			</div> 
			<div class="clear"></div>

		</div>
		<!-- 博客网导航开始 -->
		<div class="layout">
			<div id="logo">
				<a href="http://www.bokee.com/" target="_blank"><img src="../images/logo.gif" /></a>
			</div>
			<div id="nav">
					<ul>
						<li><a href="http://www.bokee.com/" target="_blank">首页</a> |</li>
						<li><a href="http://blogs.bokee.com/" target="_blank">博客公社</a> |</li>
						<li><a href="http://blogs.bokee.com/" target="_blank">内容中心</a> |</li>
						<li><a href="http://mov.bokee.com/" target="_blank">影视</a> |</li>
						<li><a href="http://ent.bokee.com/" target="_blank">娱乐</a> |</li>
						<li><a href="http://mm.bokee.com/" target="_blank">美女</a> |</li>
						<li><a href="http://life.bokee.com/" target="_blank">生活</a> |</li>
						<li><a href="http://blogs.bokee.com/wenxue/" target="_blank">文学</a> |</li>
						<li><a href="http://news.bokee.com/social/" target="_blank">社会</a> |</li>
						<li><a href="http://tech.bokee.com/" target="_blank">科技</a> |</li>
						<li><a href="http://media.bokee.com/">传媒</a> |</li>
						<li><a href="http://ent.bokee.com/v/" target="_blank">视频</a> |</li>
						<li><a href="http://g.bokee.com/" target="_blank">游戏</a> |</li>
						<li><a href="http://vip.bokee.com/" target="_blank">专栏</a> |</li>
						<li><a href="http://bbs.bokee.com/" target="_blank">论坛</a> |</li>
						<li><a href="http://group.bokee.com/" target="_blank">群组</a></li>
					</ul>
			</div>	
			<div class="clear"></div>
		</div>
		<!-- 交友头部 -->
		<div class="youtop">
			<div  class="navb">
				<ul>
					<li><a href="http://mm.bokee.com/" target="_blank">美女首页</a></li>
					<li><a href="http://mm.bokee.com/#谈恋爱" target="_blank">谈恋爱</a></li>
					<li><a href="http://mm.bokee.com/#谈恋爱" target="_blank">夜生活</a></li>
					<li><a href="http://mm.bokee.com/#我穿衣" target="_blank">我妆容</a></li>
					<li><a href="http://mm.bokee.com/#我穿衣" target="_blank">服饰秀</a></li>
					<li><a href="http://mm.bokee.com/#女郎" target="_blank">品男女</a></li>
					<li><a href="http://mm.bokee.com/#时尚圈" target="_blank">时尚圈</a></li>
					<li><a href="http://mm.bokee.com/shopping/" target="_blank">购物狂</a></li>
					<li><a href="http://mm.bokee.com/#我穿衣" target="_blank">时尚博客</a></li>
					<li><a href="http://mm.bokee.com/#女郎" target="_blank">office女郎</a></li>
					<li><a href="http://mm.bokee.com/#谈恋爱" target="_blank">情感博客</a></li>
					<div class="clear"></div>
				</ul>
			</div>
			<div class="navc">
				<a href="http://mm.bokee.com/friend/">首页</a> |
				<a href="http://mm.bokee.com/friend/signup.html">现在报名</a> |
				<a href="user_list.php?type=hot">鲜花排行</a> |
				<a href="user_list.php?type=new">最新注册</a> |
				<a href="comment.php">留言排行</a> |
				<a href="">交友群组</a>
				
			</div>
		</div>