			<!-- 第一屏右侧 -->	
			<div class="ziright">
				<div class="blogtui">
					<h4 class="zibiao">{SUBTITLE0} {SUBTITLE1}</h4>
					<!-- BEGIN list -->
					<div class="{list.CLASS}">
						<div class="mtop">
							<div class="quntu">
								<a href="info.php?id={list.ID}" target="_blank"><img src="{list.PHOTO}" width="79" height="106" alt="{list.BLOGNAME}"/></a>
							</div>
							<div class="mmtext">
								<ul>
									<li>编号：<span><a href="info.php?id={list.ID}" target="_blank">{list.ID}</a></span> 博客：<span><a href="{list.BLOGURL}" target="_blank" title="{list.BLOGNAME0}">{list.BLOGNAME}</a></span></li>
									<li><a href="javascript:void(0)" onclick="window.open('poll.php?id={list.ID}');" target="_self" style="font-weight:normal"><img src="../images/flower.gif" width="18">献花</a> 鲜花数：{list.VOTE}朵</li>
									<li><a href="comment.php?id={list.ID}" target="_blank" style="font-weight:normal"><img src="../images/note.gif">留言</a> 留言数：{list.COMM_COUNT}条</li>
									<li style="font-size:13px;"><a href="javascript:void(0)" onclick="popPostMsg('{list.BLOGID}');" target="_self">发私信</a> <a href="{list.BLOGURL}/photo/showPhoto2.b" target="_blank" style="font-weight:normal">我的相册</a> <a href="http://v2.bokee.com/videoindex.aspx?blogId={list.BLOGID}.bokee.com" target="_blank" style="font-weight:normal">我的视频</a></li>
									<li><span>{list.INFO}</span> <a href="info.php?id={list.ID}" target="_blank">进入个人介绍</a></li>
								</ul>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<!-- END list -->
				<div class="clear"></div>
			</div>
			<p>{PAGE}</p>
		</div>
