		<!-- 第一屏 -->
		<div class="layout">
			<!-- 第一屏左侧 -->
			<div class="oneleft">
				<!-- 本月最受青睐美女 -->
				<div class="monti">
					<span class="monlt">推荐最受青睐美女</span>
					<span class="lt"><iframe allowTransParency="true" marginWidth="0" marginHeight="0" frameBorder="0" scrolling="no" width="240" height="160" src="../pop_female.html"></iframe></span>
					<div class="clear"></div>
				</div>
				<!-- 本月最受青睐帅哥 -->
				<div class="monti">
					<span class="monlt">推荐最受青睐帅哥</span>
					<span class="lt"><iframe allowTransParency="true" marginWidth="0" marginHeight="0" frameBorder="0" scrolling="no" width="240" height="160" src="../pop_male.html"></iframe></span>
					<div class="clear"></div>
				</div>
				<!-- 鲜花月排行 -->
				<div class="mtop">
					<h1>美女鲜花月排行</h1>
					<div class="qunlay">
						<div class="tenext">
							<ul class="topli">
								<!-- BEGIN list1 -->
								<li class="t{list1.I}"><span class="lt">{list1.ID}号：<a href="info.php?id={list1.ID}" class="name" title="{list1.BLOGNAME0}">{list1.BLOGNAME}</a></span> <span class="lr">{list1.MONTHVOTE}</span></li>
								<!-- END list1 -->
								<div class="clear"></div>
							</ul>
						</div>
					</div>
				</div>
				<div class="mtop">
					<h1>帅哥鲜花月排行</h1>
					<div class="qunlay">
						<div class="tenext">
							<ul class="topli">
								<!-- BEGIN list2 -->
								<li class="t{list2.I}"><span class="lt">{list2.ID}号：<a href="info.php?id={list2.ID}" class="name" title="{list2.BLOGNAME0}">{list2.BLOGNAME}</a></span> <span class="lr">{list2.MONTHVOTE}</span></li>
								<!-- END list2 -->
								<div class="clear"></div>
							</ul>
						</div>
					</div>
				</div>
			</div>