{% block content %}
<style type="text/css">

.label
{
	width:140px;
	text-align:right;
	padding-right:10px;
	color:#3366ff;
	font-size:12px;
}
.input1
{
	font-size:12px;
	width:100px;
}
.tip
{
	border:1px solid #A3A0A0;
	margin-left:5px;
	background-color:#D5D0CE;
	color:#6067FB;
}
.tip_ok
{
	border:1px solid #FFA475;
	margin-left:5px;
	background-color:#FFEEE5;
	color:#ff7300;
}
.tip_loading
{}
.tip_err
{padding:0px 5px 0px 25px;background:url(/python/site_media/ico_04.gif) 5px center no-repeat #FFEEE5;border:1px solid #FFA475;color:#ff0000;line-height:20px;margin:0px 0px 0px 10px;}
</style>
<div id="header">
<h1 id="title">新建一个帐号</h1>
</div>
<hr>
<script language="javascript" type="text/javascript" src="/python/site_media/checkform.js"></script>
<form name="form1" action="../submit/" method="post" onsubmit="return check();">
<div id="content-main">
	<div><span class="label">用户名:</span><span class="value"><input type="text" name="username" onfocus="foc(this)" onblur="blu(this)" class="input1" /></span><span id="username_tip"></span></div>
	<div><span class="label">设定密码:</span><span class="value"><input type="password" name="password" onfocus="foc(this)" onblur="blu(this)" class="input1" /></span><span id="password_tip"></span></div>
	<div><span class="label">重复密码:</span><span class="input"><input type="password" name="repassword" onfocus="foc(this)" onblur="blu(this)" class="input1" /></span><span id="repassword_tip"></span></div>
	<div><span class="label">昵称:</span><span class="input"><input type="text" name="nickname" onfocus="foc(this)" onblur="blu(this)" class="input1" /></span><span id="nickname_tip"></span></div>
	<div><span class="label">E-mail:</span><span class="value"><input type="text" name="email" onfocus="foc(this)" onblur="blu(this)" class="input1" /></span><span id="email_tip"></span></div>
	<div><span class="label"></span><input type="submit" name="submit" value="提交" /> <input type="reset" name="rest" value="复位" /></div>
</div>
</form>

{% endblock %}
