<layout name="Public:header" cache="0" />
<div id="container">
	<div id="top">
		<div class="action">
			您好, {@loginUserName}<br />
			<a href="__APP__/../index.php" target="_blank">网站首页</a>&nbsp;&nbsp;
			<a href="__APP__/Public/logout" target="_iframe">退出管理</a>
		</div>
		<div class="banner"><img width="281" height="75" src="{*APP_PUBLIC_URL}/Image/banner.gif"/></div>
	</div>
	<div id="main">
		<div class="leftColumn">
			<layout name="Public:left" cache="0" />
		</div>
		<div class="rightColumn">
			<div class="navi">
				<a href="__APP__">管理首页</a> &gt; 
				<iterate name="topnavi" id="item">
					<if condition="$item['url'] neq ''">
					<a href="{$item.url}">{$item.text}</a> &gt;
					<else />
					{$item.text}
					</if>
				</iterate>
			</div>

			<table width="99%" border="0" cellpadding="2" cellspacing="1" bgcolor="#999999">
			<tr>
				<td bgcolor="#FFFFFF">
				<layout name="$content" cache="0" />
				</td>
			</tr>
			</table>
		</div>
		<div class="clear"></div>
	</div>
	<div id="copy">
		Copyright &copy; 2009 <a href="http://zerofault.oxyhost.com/sblog/">zerofault</a> All rights reserved.
	</div>
</div>
<layout name="Public:footer" cache="0" />