/*
	Coin Slider jQuery plugin CSS styles
	http://workshop.rs/projects/coin-slider
*/


.coin-slider { overflow: hidden; zoom: 1; position: relative; }
.coin-slider a{ text-decoration: none; outline: none; border: none; }

.cs-buttons {clear: both; position: absolute; z-index: 1010; font-size: 0px; padding: 10px; top: 320px; left: 340px;}
.cs-buttons a { margin-left: 10px; height: 10px; width: 10px; float: left; background:url(../images/coin.gif) no-repeat left bottom; text-indent: -1000px; }
.cs-buttons a.cs-active { background:url(../images/coin.gif) no-repeat left top; }

.cs-title { width: 545px; padding: 10px; background-color: #000000; color: #FFFFFF; }

.cs-prev, 
.cs-next { display:none; background-color: #000000; color: #FFFFFF; padding: 0px 10px; }
