<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>公交站点后台管理</title>
	<link type="text/css" rel="stylesheet" href="../Public/Css/admin.css" />
	<link type="text/css" rel="stylesheet" href="../Public/Css/tablesorter.css" />
	<link type="text/css" rel="stylesheet" href="../Public/Css/jquery-impromptu.css"/>
	<script language="JavaScript" type="text/javascript" src="../Public/Js/jquery-1.2.6.pack.js"></script>
</head>
<script language="JavaScript" type="text/javascript">
var _APP_ = '__APP__';
var _URL_ = '__URL__';
var APP_PUBLIC_URL = '../Public';
var IMAGE_FOLDER = '../Public/Image/';
</script>
<body>
<div id="container">
	<div id="top">
		<div class="action">
			您好, {@adminName}<br />
			<a href="__APP__/../index.php" target="_blank">网站首页</a>&nbsp;&nbsp;
			<a href="__APP__/Public/logout" target="_iframe">退出管理</a>
		</div>
		<div class="banner"></div>
	</div>
	<div id="main">
		<div class="leftColumn">
			<layout name="Public:left" cache="0" />
		</div>
		<div class="rightColumn">
			<div class="navi">
				<a href="__APP__">管理首页</a> &gt; 
				<iterate name="topnavi" id="item">
					<present name="item['url']">
					<a href="{$item.url}">{$item.text}</a> &gt;
					<else />
					{$item.text}
					</present>
				</iterate>
			</div>

			<table width="99%" border="0" cellpadding="2" cellspacing="1" bgcolor="#999999">
			<tr>
				<td bgcolor="#FFFFFF">
				<layout name="$content" cache="0" />
				</td>
			</tr>
			</table>
		</div>
		<div class="clear"></div>
	</div>
	<div id="copy">
		Copyright &copy; 2009 ~ <php>echo date('Y');</php> <a href="mailto://zerofault@gmail.com">zerofault</a> All rights reserved.
	</div>
</div>
</body>
<iframe id="_iframe" name="_iframe" style="width:500px;height:200px;display:none;"></iframe>
<script language="JavaScript" type="text/javascript" src="../Public/Js/jquery-impromptu.1.6.js"></script>
<script language="JavaScript" type="text/javascript" src="../Public/Js/myfunc.js"></script>
</html>