<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>风险投资－科技频道－博客网-Bokee.com-你我的网络</title>
<link href="../images/keji.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<!-- 主框架开始 -->
	<div id="container">
		<!---- 头部 ---->
		<!--# include virtual="../include/header.html" -->
		<!---- 第一屏 ---->
		<div class="layout">
			<!---- 第一屏左侧 ---->
			<div class="lefta lt">
				<div class="lunbo">
				  <input type=hidden name=二级首页头图 value=433>
				</div>	
				<div class="xiunews">
					<div class="newsrow">
						<div class="newsrowlt">
							<div class="newstit"><h4>优秀博客</h4></div>
							<div class="newsmore">
							</div>
						</div>	
						<div class="youxiucon">
							<ul>
								<input type=hidden name=优秀博客列表 value=432>
							
							</ul>
						</div>
						<div class="clear"></div>
					</div>
					
					
				</div>
			</div>
			<!---- 第一屏中侧 ---->
			<div class="centera lt">
				<div class="centatop">
					<input type=hidden name=第一屏中侧_头条 value=405>
				</div>
				
				<div class="centatext">
					<ul>
						<input type=hidden name=第一屏中侧_头条1-7 value=406>
					</ul>	
				</div>
				
				
				
				
				<div class="centatext">
					<ul>
						<input type=hidden name=第一屏中侧_头条8-14 value=407>
					</ul>
				</div>

				
			</div>
			<!---- 第一屏右侧 ---->
			<div class="righta lr">
				<div class="lvlayout nodxian">
					<form name="form_login" method="post" action="http://vip.bokee.com/authorEdit/login_check.php" target="_blank">
					<div class="lvtop"><h4>专栏登录</h4></div>
					<div class="lvrow">用户名：<input name="name" type="text"  class="loginru"/></div>
					<div class="lvrow">密 &nbsp;码：<input name="password" type="password"  class="loginru"/></div>
					<div class="lvrow">
						<input type="hidden" id="login_where" name="login_where" value="top_index">
						<input name="submit" type="submit" value="登录"  class="loginbtn"/>
						<input name="reg" type="button" value="注册"  class="loginbtn mlt" onclick="window.open('http://vip.bokee.com/register.php')" />
						<span class="mlt"><a href="mailto:wangcai@vip.sina.com?subject=我忘记了博客中国的登录密码"  target="_self">忘记密码</a></span>
					</div>
					</form>
				</div>
				
				<div class="lvlayout">
					<div class="lvtop">
						<input type=hidden name=每周人物访谈标签 value=428>
					</div>
					<input type=hidden name=每周人物访谈大图 value=429>
					<div class="rentextc">
						<ul>
							<input type=hidden name=每周人物访谈列表 value=430>
						</ul>
					</div>
				</div>
				
			</div>
			<div class="clear"></div>
		</div>
		<!---- 第二屏 ---->
		<div class="layout">
			<div class="pictiao">
				<!--#include virtual="../include/zutu6.html" -->
				<div class="clear"></div>
			</div>
		</div>
		<!---- 第三屏 ---->
		<div class="layout">
			<div class="twojileft">
			<div class="twojileftext borderdd">
				<div class="twozhuantit cctitb">
						<input type=hidden name=第三屏_网络文化手册标签 value=424>
					</div>
				<div class="twojilftrow">
					<ul>
						<input type=hidden name=第三屏_网络文家手册列表 value=425>
					</ul>
				</div>
			</div>
			<div class="twojileftext mlt borderdd">
				<div class="twozhuantit cctitb">
						<input type=hidden name=第三屏_知识加油站标签 value=426>
					</div>
				<div class="twojilftrow">
					<ul>
						<input type=hidden name=第三屏_知识加油站列表 value=427>
					</ul>
				</div>
			</div>
			<div class="twojileftext mtop borderdd">
				<div class="twozhuantit cctitb">
						<input type=hidden name=第三屏_深度专题系列标签 value=420>
					</div>
				<div class="twojilftrow">
					<ul>
						<input type=hidden name=第三屏_深度专题系列列表 value=421>
					</ul>
				</div>
			</div>
			<div class="twojileftext mlt mtop borderdd">
				<div class="twozhuantit cctitb">
						<input type=hidden name=第三屏_企业历史专题标签 value=422>
					</div>
				<div class="twojilftrow">
					<ul>
						<input type=hidden name=第三屏_企业历史专题列表 value=423>
					</ul>
				</div>
			</div>
			<div class="clear"></div>
			<div class="twojilefyou borderff">
				<div class="twojilefyoutit cctite">
						<h4>优秀群组推荐</h4>
				</div>
				<div class="twojilanmu">
					<div class="twojilanmurow">
						<input type=hidden name=优秀群组推荐1_图 value=417>
						<div>
							<ul>
								<input type=hidden name=优秀群组推荐1_列表 value=415>
					</ul>
						</div>
					</div>	
				</div>
				<div class="twojilanmu">
					<div class="twojilanmurow">
						<input type=hidden name=优秀群组推荐2_图 value=418>
						<div>
							<ul>
								<input type=hidden name=优秀群组推荐2_列表 value=419>
					</ul>
						</div>
					</div>	
				</div>
				<div class="twojilanmu">
					<div class="twojilanmurow">
						<input type=hidden name=优秀群组推荐3_图 value=410>
						<div>
							<ul>
								<input type=hidden name=优秀群组推荐3_列表 value=411>
					</ul>
						</div>
					</div>	
				</div>
				<div class="twojilanmu norightian">
					<div class="twojilanmurow">
						<input type=hidden name=优秀群组推荐4_图 value=412>
						<div>
							<ul>
								<input type=hidden name=优秀群组推荐4_列表 value=413>
					</ul>
						</div>
					</div>	
				</div>
				<div class="clear"></div>
			</div>
			
			</div>
			<div class="twojiright">
				<div class="twojirightext">
						<ul>
						<input type=hidden name=二级列表1-10 value=416>
						</ul>	
						</div>
						
						<div class="twojirightext">
						<ul>
						<input type=hidden name=二级列表11-20 value=414>
						</ul>	
						</div>
						
						
						<div class="twojirightext">
						<ul>
						<input type=hidden name=二级列表21-30 value=408>
						</ul>	
						</div>
						
						
						<div class="twojirightext">
						<ul>
						<input type=hidden name=二级列表31-40 value=409>
						</ul>	
						</div>
			</div>
			<div class="clear"></div>
		</div>	
			
				
				
					
					
					
					<!----完 ---->
		<!--#include virtual="../include/footer.html" -->
	</div>
	<!-- 主框架结束 -->
</body>
</html>