@charset "gb2312";
* {margin:0;padding:0;font:12px "Arial", "ו",sans-serif;}
body {margin:0px;padding:0px;text-align:center;}
img{border:0;}
A img {border:0px;}
body > div {text-align:center; margin:0 auto;}
div{border:0px;margin:0;padding:0px;text-align:left;height:auto;}
form, input, select {margin:0px;padding:0px;text-align:left;}
input,select{vertical-align:middle;}
ul,ol,li,dl,dt,dd,p,span{margin:0px;padding:0px;text-align:left;}
ul{padding-left:6px;}
li{list-style:none;background:url("../images/white-dot.jpg") no-repeat left center;padding-left:8px;line-height:18px;}
h1,h2,h3,h4,h5,h6{margin:0px;padding:0px;text-align:left;height:0px;font-weight:bold;font-size:14px;}
.clear {clear: both;font-size:0px;height:1px;visibility:hidden;width:1px;}
a{color:#fff;text-decoration: none; }
a:hover {text-decoration:underline;}
strong{font-weight:bold;}
a:active {
text:expression(target="_blank");
}