<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>艺术之家网址大全</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="yishu321 艺术之家 艺术 网站 网址 大全 艺术家 画家 国画 山水 " />
	<meta name="description" content="" />
	<link rel="alternate" type="application/rss+xml" title="艺术之家网址大全" href="__URL__/Rss/" />
	<link rel="icon" type="image/x-icon" href="../Public/Images/favicon.ico" />
	<link rel="Shortcut Icon" type="image/x-icon" href="../Public/Images/favicon.ico" />
	<link type="text/css" rel="stylesheet" href="../Public/Css/base.css" />
	<link type="text/css" rel="stylesheet" href="../Public/Css/jquery-impromptu.css"/>
	<script language="JavaScript" type="text/javascript" src="../Public/Js/jquery-1.2.6.pack.js"></script>
	<script language="JavaScript" type="text/javascript">
	var _APP_ = '__APP__';
	var _URL_ = '__URL__';
	var APP_PUBLIC_URL = '../Public';
	var IMAGE_FOLDER = '../Public/Images/';
	</script>
</head>
<body>
<div id="container">
	<layout name="Public:header" cache="0" />
	<layout name="Public:top" cache="0" />
	<layout name="$content" cache="0" />
	<layout name="Public:footer" cache="0" />
</div>
</body>
<iframe id="_iframe" name="_iframe" style="width:0;height:0;display:none;"></iframe>
<script language="JavaScript" type="text/javascript" src="../Public/Js/jquery-impromptu.1.6.js"></script>
<script language="JavaScript" type="text/javascript" src="../Public/Js/myfunc.js"></script>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-9814609-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</html>