
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>browse</title>
<meta http-equiv="Content-Type" content="text/html; charset=BIG5">
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css" href="site.css">
</head>
<body style="margin: 0px;">
<center>
<table border="0" cellspacing="0" cellpadding="0" width="500">
    <tr style="">
        <td width="500" align="right"><a href="http://<!--{$smarty.server.SERVER_NAME}--><!--{$smarty.server.SCRIPT_NAME}-->?Mod=<!--{$Module}-->&op=<!--{$op}-->&job=add">Add</a>
        </td>
    </tr>
    <tr style="">
        <td>
            <table id="Table1" border="1" cellspacing="0" cellpadding="0" width="100%">
                <tr style="background-color: rgb(204,204,255);">
                    <td width="34" align="center"><b>ID</b></td>
                    <td width="332" align="center"><b>Name</b></td>
                    <td width="126" align="center"><b>Operation</b></td>
                </tr>
                <!--{if not $ID}-->
                <tr style="height:19px">
                    <td colspan="3" align="center" style="color: red"><b>No Datas</b></td>
                </tr>
                <!--{else}-->
                <!--{section name=show loop=$ID}-->
                <tr style="height:19px" bgcolor="<!--{cycle values='#FFFFFF,#EFF7FF'}-->">
                    <td align="center"><!--{$ID[show]}--></td>
                    <td align="center"><a href="http://<!--{$smarty.server.SERVER_NAME}--><!--{$smarty.server.SCRIPT_NAME}-->?Mod=<!--{$Module}-->&op=<!--{$op}-->&job=view&ID=<!--{$ID[show]}-->"><!--{$Name[show]|default:"None"}--></a></td>
                    <td align="center"><a href="http://<!--{$smarty.server.SERVER_NAME}--><!--{$smarty.server.SCRIPT_NAME}-->?Mod=<!--{$Module}-->&op=<!--{$op}-->&job=edit&ID=<!--{$ID[show]}-->">Edit</a>　<a href="http://<!--{$smarty.server.SERVER_NAME}--><!--{$smarty.server.SCRIPT_NAME}-->?Mod=<!--{$Module}-->&op=<!--{$op}-->&job=del&ID=<!--{$ID[show]}-->">Delete</a>
                    </td>
                </tr>
                <!--{/section}-->
                <!--{/if}-->
            </table>
        </td>
    </tr>
    <tr style="">
        <td align="center"><!--{$navagation}--></td>
    </tr>
</table>
</center>
</body>
</html>
 