
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>add</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css" href="site.css">
</head>
<body style="margin: 0px;">
<center>
<form name="myFormAdd" action="" method="POST">
<table border="1" cellspacing="0" cellpadding="5" width="500">
    <tr style="height:19px">
        <td colspan="2" style="background-color: rgb(204,204,255);" align="center"><b>Add</b>
        </td>
    </tr>
        <tr style="height:26px">
        <td width="69" style="background-color: rgb(239,247,255);" align="center">ID
        </td>
        <td width="416">
            <input type="text" name="Name" style="white-space: pre;" value="<!--{$ID}-->" size="50" maxlength="255">
        </td>
    </tr>
        <tr style="height:26px">
        <td width="69" style="background-color: rgb(239,247,255);" align="center">Sync_ID
        </td>
        <td width="416">
            <input type="text" name="Name" style="white-space: pre;" value="<!--{$Sync_ID}-->" size="50" maxlength="255">
        </td>
    </tr>
        <tr style="height:26px">
        <td width="69" style="background-color: rgb(239,247,255);" align="center">Path
        </td>
        <td width="416">
            <input type="text" name="Name" style="white-space: pre;" value="<!--{$Path}-->" size="50" maxlength="255">
        </td>
    </tr>
        <tr style="height:26px">
        <td width="69" style="background-color: rgb(239,247,255);" align="center">Filename
        </td>
        <td width="416">
            <input type="text" name="Name" style="white-space: pre;" value="<!--{$Filename}-->" size="50" maxlength="255">
        </td>
    </tr>
        <tr style="">
        <td colspan="2" align="center"><input type="submit" name="Action" value="Back">　　　　　<input type="submit" name="Action" value="Add">　　　　　<input type="reset" name="Action" value="Reset">
        </td>
    </tr>
</table>
</form>    
</center>
</body>
</html>
 