<style>
/*links*/
.links{width:893px;height:auto!important;height:75px;min-height:75px;margin-top:11px;margin-left:auto;margin-right:auto;}
.links .title1{width:29px;height:70px!important;height:65px;background:#F0625D;padding-top:10px;float:left;}
.links .title1 em{width:12px;color:#fff;font-weight:bold;margin:0 auto;display:block;}
.links .linklist{display:block;height:auto!important;height:60px;min-height:60px;border-width:1px 1px 1px 0px;border-style:solid;border-color:#F0625D;padding:3px 20px 10px 5px;float:left;line-height:25px;}
.links .linklist a:link,.links .linklist a:visited{color:#535252;margin:0px 5px;}
.links .linklist a:hover{text-decoration:underline;}
.contact{height:30px;line-height:30px;text-align:center;}
/*bottom*/
.bottom{text-align:center;}
.bottomnav{width:761px;height:23px;border-bottom:1px solid #808080;color:#000;line-height:23px;}
.bottomnav a{height:23px;line-height:23px;}
.bottomnav a:hover{text-decoration:underline;}
.copyright{height:35px;margin-top:11px;text-align:center;padding:0px auto;color:#808080;}
.copyright p{height:25px;line-height:25px;text-align:center;color:#808080;}
.copyright em{color:#000;}
</style>
<!--友情链接-->
	<div class="links">
		<div class="title1"><em>友 情 链 接</em></div>
		<div class="linklist">
			<a href="http://bokee.aaahaatv.com/" target="_blank">阿哈导视</a>
			<a href="http://www.uusee.com/ents/" target="_blank">悠视网娱乐</a>
			<a href="http://cn.aigomusic.com/" target="_blank">爱国者数码音乐网</a>
			<a href="http://www.dm123.cn/" target="_blank">动漫fans</a>
			<a href="http://www.ccwb.net/" target="_blank">环球娱乐网</a>
			<a href="http://gb.chinabroadcast.cn/ent/index.htm" target="_blank">国际在线娱乐频道</a>
			<a href="http://www.rox.com.cn/default.html" target="_blank">磊客中国</a>
			<a href="http://www.yulequan.com/" target="_blank">娱乐圈</a>
			<a href="http://v.21cn.com/index_bb.htm" target="_blank">21CN宽频影院</a>
			<a href="http://ent.xicn.net/" target="_blank">喜满你-娱乐</a>
			<br>
			<a href="http://ent.rednet.cn/" target="_blank">红网娱乐</a>
			<a href="http://yule.xilu.com/" target="_blank">西陆-娱乐</a>
			<a href="http://star.mop.com/" target="_blank">猫扑明星</a>
			<a href="http://et.21cn.com/" target="_blank">21CN娱乐</a>
			<a href="http://ent.tom.com/" target="_blank">Tom娱乐</a>
			<a href="http://www.51mike.com/" target="_blank">麦克网</a>
			<a href="http://ent.linktone.com/" target="_blank">灵通娱乐</a>
			<a href="http://ent.phoenixtv.com/" target="_blank">凤凰娱乐</a>
			<a href="http://e.yeeyoo.com/" target="_blank">亿友女性</a>
			<a href="http://fun.china.com/" target="_blank">中华网娱乐</a>
			<a href="http://weekly.it168.com/" target="_blank">IT网刊</a>
			<a href="http://www.bokee.com/cn/index.shtml" target="_blank">中国博客网</a>
			<a href="http://www.maxtv.cn/index.html" target="_blank">Maxtv</a>
		</div>
	</div>
	<!--链接结束-->
	<div class="clear"></div>
	<div class="contact"> 频道合作 业务咨询电话：010-51818811-5007</div>
	<div class="bottom">
		<!--底部辅助导航开始-->
		<div id="bottomnav">
			<a href="mailto:ceditor@bokee.com">主编信箱</a> | <a href="http://www.bokee.com/new/about/aboutus.html">关于本站</a> | <a href="http://adimage.bokee.com/images/ad/minisite/service/serve.htm">广告服务</a> | <a href="http://www.bokee.com/new/about/contact.html">联系我们</a> | <a href="http://www.bokee.com/new/about/service.htm">服务条款</a> | <a href="http://www.bokee.com/new/about/privacy.htm">隐私保护</a> | <a href="http://help.bokee.com/">客服中心</a> | <a href="http://hr.bokee.com">人员招聘	</a> | <a href="http://www.bokee.com/new/about/morelink.htm">友情链接</a> | <a href="http://www.bokee.com/new/about/sitemap.html">导航</a> | <a href="http://reg.bokee.com/account/Register.b">注册</a>
		</div>
		<!--底部辅助导航结束-->
		<!--版权信息开始-->
		<div id="copyright">
			Copyright 2002 - 2005 Bokee.com, All Rights Reserved<br />
			增值电信业务经营许可证编号：B2-20050016<br />
			<img src="http://www.bokee.com/images/icp.gif" alt="icp" width="40" height="48" /> 京ICP证06046074号 <img src="http://www.bokee.com/images/netcn.jpg" alt="不良信息举报中心" width="108" height="42" /> <img src="http://www.bokee.com/images/allyes.gif" alt="all" width="122" height="47" />
		</div>
		<!--版权信息结束-->
	</div>
</div>
</body>
</html>