<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{TITLE}</title>
<link href="images/yule.css" rel="stylesheet" type="text/css" />
</head>

<body>
<!-- 主框架开始 -->
<div class="outside">
<iframe marginheight=0 marginwidth=0 frameborder=0 width=917px height=38px scrolling=no  src="http://www.bokee.com/include/login_gsearch_white.html">
</iframe>
		<div id="nav">
			<a href="http://www.bokee.com/" target="_blank">首页</a>|
			<a href="http://blogs.bokee.com/" target="_blank">博客公社</a>|
			<a href="http://news.bokee.com/" target="_blank">内容中心</a>|
			<a href="http://ent.bokee.com/" target="_blank">娱乐</a>|
			<a href="http://mm.bokee.com/" target="_blank">美女</a>|
			<a href="http://life.bokee.com/" target="_blank">生活</a>|
			<a href="http://blogs.bokee.com/wenxue/" target="_blank">文学</a>|
			<a href="http://blogs.bokee.com/shehui/index.shtml" target="_blank">社会</a>|
			<a href="http://tech.bokee.com/" target="_blank">科技</a>|
			<a href="http://v.bokee.com/" target="_blank">视频</a>|
			<a href="http://g.bokee.com/" target="_blank">游戏</a>|
			<a href="http://column.bokee.com/" target="_blank">专栏</a>|
			<a href="http://bbs.bokee.com/" target="_blank">论坛</a>|
			<a href="http://group.bokee.com/" target="_blank">群组</a>|
			<a href="http://photo.bokee.com/" target="_blank">图片</a>|
			<a href="http://blogs.bokee.com/huangye/index.shtml" target="_blank">黄页</a>|
			<a href="http://blogs.bokee.com/contribute/" target="_blank">投稿中心</a>
		</div>
	<!--顶部-->
		<div class="head"><img src="images/ent.jpg" alt="娱乐频道" />
			<ul>
				<li><h1>明星博客</h1></li>
				<li style="margin-left:35px;"><a href="">首页</a></li>
      			<li><a href="tuijian.php" target="_blank">我要推荐</a></li>
      			<li><a href="category.php?i=1" target="_blank">娱乐类</a></li>
      			<li><a href="category.php?i=2" target="_blank">体育类</a></li>
      			<li><a href="category.php?i=3" target="_blank">文化类</a></li>
      			<li><a href="category.php?i=4" target="_blank">网络红人</a></li>
      			<li><a href="category.php?i=5" target="_blank">角色类</a></li>
      			<li><a href="category.php?i=6" target="_blank">我(草根)</a></li>
      			<li><a href="category.php?i=7" target="_blank">其他类</a></li>
      			<li><a href="phlist.php" target="_blank">排行榜</a></li>
			</ul>   
 		 </div>
		<!--顶部结束-->
 	 <!--通栏广告1-->
		<div class="AD">
			<div class="lt">
<!--Adforward Begin:-->
<IFRAME MARGINHEIGHT=0 MARGINWIDTH=0 FRAMEBORDER=0 WIDTH=760 HEIGHT=90 SCROLLING=NO style="float:left" SRC="http://bokee.allyes.com/main/adfshow?user=BokeeNetwork|ent|ent_nfc_1&db=bokee&border=0&local=yes">
<SCRIPT LANGUAGE="JavaScript1.1" SRC="http://bokee.allyes.com/main/adfshow?user=BokeeNetwork|ent|ent_nfc_1&db=bokee&local=yes&js=on"></SCRIPT>
<NOSCRIPT><A HREF="http://bokee.allyes.com/main/adfclick?user=BokeeNetwork|ent|ent_nfc_1&db=bokee"><IMG SRC="http://bokee.allyes.com/main/adfshow?user=BokeeNetwork|ent|ent_nfc_1&db=bokee" WIDTH=760 HEIGHT=90 BORDER=0></a></NOSCRIPT></IFRAME>
<!--Adforward End-->
			</div>
			<div class="adtext">
				<ul>
				<li><a href="http://ad.bokee.com/ads/adclick.php?bannerid=2767&zoneid=1409&source=&dest=http%3A%2F%2Fwww.admaster.com.cn%2Fclick_adv.php%3Fsite_id%3D118%26action_id%3D5%26script_id%3D32" target="_blank">上我爱卡办卡送好礼</a></li>
				<li><a href="http://ad.bokee.com/ads/adclick.php?bannerid=2753&zoneid=1410&source=&dest=http%3A%2F%2Fbokee.allyes.com%2Fmain%2Fadfclick%3Fdb%3Dbokee%26bid%3D200%2C1113%2C1471%26cid%3D0%2C0%2C0%26sid%3D12436%26advid%3D124%26camid%3D220%26show%3Dignore%26url%3Dhttp%3A%2F%2Fbenq.bokee.com%2F" target="_blank">爱上“便当”好生活</a></li>
				<li><a href="http://ad.bokee.com/ads/adclick.php?bannerid=2752&zoneid=1411&source=&dest=http%3A%2F%2Fasus.bokee.com%2Findex2.php" target="_blank">S6红粉佳人评选</a></li>
				<li><a href="http://ad.bokee.com/ads/adclick.php?bannerid=2471&zoneid=1412&source=&dest=http%3A%2F%2Ftech.bokee.com%2F176%2F2006-05-08%2F402711.html" target="_blank">北京手机资费下调</a></li>
				<li><a href="http://ad.bokee.com/ads/adclick.php?bannerid=1835&zoneid=1413&source=&dest=http%3A%2F%2Flife.bokee.com%2Fjiaju%2Fqiaomen%2F2006-02-07%2F172487.shtml" target="_blank">推荐牛奶食疗十法</a></li>
				</ul>
			</div>
			<div class="clear"></div>
	  </div>