<!--{if $subop eq 'detail'}-->
<!--{include file="$Module/$op/$op.html"}-->
<!--{else}-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Manual Rsync System - <!--{$Title}--></title>
<link rel="stylesheet" href="images/style.css" type="text/css" media="screen" />
<link rel="stylesheet" href="images/jquery-impromptu.css" type="text/css" media="screen" />

<script type="text/javascript" src="images/jquery-1.2.6.pack.js"></script>
<script type="text/javascript" src="images/jquery-impromptu.1.6.js"></script>
<script type="text/javascript" src="images/jquery.dimensions.js"></script>
<script type="text/javascript" src="images/jquery.tooltip.pack.js"></script>
</head>
<body>
<!--{if $subop neq 'detail'}-->
<!--{include file="$Module/$Module-left.html"}-->
<!--{/if}-->

<!--{if $op neq ''}-->
<!--{include file="$Module/$op/$op.html"}-->
<!--{/if}-->
<div class="clear"></div>
</body>
<iframe id="iframe1" name="iframe1" style="width:500px;height:100px;display:none;"></iframe>
<script type="text/javascript">
function alert(msg)
{
	$.prompt(msg);
}
function myLocation(loc)
{
	setTimeout(function() {window.location=loc;},2000);
}

var sid;
function confirmdel(obj,id)
{
	sid=id;
	$.prompt('Are you sure?',{submit:mysubmit,buttons:{Yes:true,Cancel:false}});
}
function mysubmit(v,m){
	if(v==true)
	{
		op='<!--{$smarty.get.op}-->';
		if(''==op)
		{
			op='Rsync';
		}
		document.getElementById('iframe1').src='?Mod=<!--{$smarty.get.Mod}-->&op='+op+'&subop=del&id='+sid
	}
	return true;
}
var add_class='';
var n=0;
function doSelect()
{
	n++;
	$('input:checked[name=selCheckBox]').each(function(i){
		if($(this).val().slice(-1)=='/')
		{
			icon="folder_add";
		}
		else
		{
			icon="file_add";
		}
		if($("input#checkall").attr('checked')==true)
		{
			add_class=' gray';
		}
		else
		{
			add_class='';
		}
		$("#file_list_label").after('<dl id="file_list_'+i+'" class="file_list_item add'+n+add_class+'"><dt title="'+$(this).val()+'"><img src="images/'+icon+'.gif"  align="absmiddle" /> '+$(this).val()+'</dt><dd><a href="javascript:void(0)" onclick="removeItem('+i+','+n+')" title="This will be removed automatically when submit">Remove</a></dd><input type="hidden" name="path_arr[]" value="'+$(this).val()+'" /></dl>');
	});
	if($("input#checkall").attr('checked')==true)
	{
		$("#file_list_label").after('<dl class="file_list_item ext ext'+n+'"><dt title="'+$("input#checkall").val()+'"><img src="images/folder_ext.gif"  align="absmiddle" /> '+$("input#checkall").val()+'</dt><dd class="red">Auto Add</dd><input type="hidden" name="path_arr[]" value="'+$("input#checkall").val()+'" /></dl>');
	}
	$('.file_list_item dt').tooltip();
	
}
function removeItem(i,n)
{
	$('#file_list_'+i).remove();
	if(n>0)
	{
		$('dl.ext'+n).remove();
		$('dl.add'+n).each(function(i){
			$(this).removeClass('gray');
		});
	}
}
function clearSelect()
{
	$("dl.file_list_item").each(function(i){
		$(this).remove();
	});
}
function checkAll()
{
	$("input:checkbox[name=selCheckBox]").each(function(){
		$(this).attr('checked',$("input#checkall").attr('checked'));
	});
}
$(function() {
	$('.file_list_item dt').tooltip();
})
</script>
</html>
<!--{/if}-->