<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<HEAD>
<TITLE>网址导航</TITLE>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<SCRIPT LANGUAGE=JAVASCRIPT>
<!--
//防止被iframe
if (top.location !== self.location) {
top.location=self.location;
}
-->
</SCRIPT>
<LINK href="/site_media/style.css" type="text/css" rel="stylesheet">
</HEAD>
<BODY>
<div class="main index">
	<div class="caption">网站大全</div>
	<div class="content">
		{% for category in category_list %}
		<div class="cate_site_list">
			<div class="cate_title"><a href="category/{{category.info.id}}">{{ category.info.name }}</a></div>
			<div class="site_list">
			{% for website in category.site %}
				<a id="url" class="" href="{{website.url}}" target="_blank" >{{ website.name }}</a>
			{% endfor %}
			</div>
		</div>
		{% endfor %}
		<div class="clear"></div>
	</div>
</div>
</body>
<iframe frameborder="1" scrolling="no" id="iframe1" name="iframe1" width="800" height="60" src="" style="display:none;"></iframe>
<script language="javascript" type="text/javascript" src="/site_media/jquery-1.2.1.js"></script>
<script language="javascript">
$("a#url").click(function(){
	t('iframe1').src=$(this).attr("href");
});
function t(id) {
	return document.getElementById(id);
}
</script>

</html>