<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title><notempty name="ACTION_TITLE">{$ACTION_TITLE} - </notempty> <notempty name="MODULE_TITLE">{$MODULE_TITLE} - </notempty> {$setting.title}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="{$setting.keywords}" />
	<meta name="description" content="{$setting.description}" />
	<link rel="icon" type="image/x-icon" href="../Public/Images/favicon.ico" />
	<link rel="Shortcut Icon" type="image/x-icon" href="../Public/Images/favicon.ico" />
	<load file="../Public/Css/index.css" />
	<load file="../Public/Css/inside.css" />

	<load file="../Public/Js/jquery.min.js" />
	<script language="JavaScript" type="text/javascript">
	var _APP_ = '__APP__';
	var _URL_ = '__URL__';
	var APP_PUBLIC_URL = '../Public';
	var IMAGE_FOLDER = '../Public/Images/';
	</script>
</head>
<body id="content">
	<layout name="Public:header" cache="0" />
	<div id="n_main">
		<div class="n_main_nav"><img src="../Public/Images/main_navi_{$alias}.jpg"></div>
		<div class="new_l">
			<layout name="Public:main_left" cache="0" />
		</div>
		<div class="new_r">
			<layout name="$content" cache="0" />
		</div>
		<div class="clear"></div>
	</div>
	<layout name="Public:footer" cache="0" />
	<iframe id="_iframe" name="_iframe" style="width:0;height:0;display:none;"></iframe>
	<div id="service" style="z-index:100;position:absolute;left:0;top:400px;"><a href="http://wpa.qq.com/msgrd?V=1&amp;Uin={$setting.qq}&amp;Site={$setting.title}&amp;Menu=yes"><img src="../Public/Images/qq.gif" /></a></div>
	<load file="../Public/Js/myfunc.js"/>
</body>
</html>