<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <display-name>OSCache</display-name>

    <filter>
        <filter-name>oscache</filter-name>
        <filter-class>com.opensymphony.oscache.web.filter.CacheFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>oscache</filter-name>
        <url-pattern>/filter/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>com.opensymphony.oscache.web.CacheContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>oscache</servlet-name>
        <servlet-class>com.opensymphony.oscache.web.OscacheServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>oscache</servlet-name>
        <url-pattern>/cacheServlet/*</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>5</session-timeout>
    </session-config>

    <taglib>
        <taglib-uri>oscache</taglib-uri>
        <taglib-location>/WEB-INF/classes/oscache.tld</taglib-location>
    </taglib>

</web-app>
