<div id="Layer1" align="center" style="margin-left:300px;margin-top: 140px;width:300px;">
  <form name="form1" method="post" action="">
    <table width="100%"  border="0">
	<caption>亲亲宝贝秀用户管理</caption>
	  <tr>
        <td><div align="right">用户名：</div></td>
        <td><input name="html_name" type="text" id="html_name"></td>
      </tr>
      <tr>
        <td><div align="right">密码： </div></td>
        <td><input name="html_pass" type="password" id="html_pass"></td>
      </tr>
      <tr>
        <td><div align="right"></div></td>
        <td><input type="submit" name="Submit" value="提交"></td>
      </tr>
    </table>
  </form>
</div>
