<script>
function passupdate(id)
{
	document.getElementById("iframe1").src='user_pass_update.php?id='+id;
}
function confirmdel(id)
{
	if(confirm('确定要删除ID为'+id+'的用户记录吗?'))
	{
		document.getElementById('iframe1').src='user_del.php?id='+id;
		window.setTimeout("location.reload()",500);
	}
	else
	{
		return;
	}
}
function selectall(chk)
{
	var f = document.forms["form2"];
	for (i=0;i<f.elements.length;i++)
    {
		f.elements[i].checked = chk;
	}
}
function check()
{
	if(document.form1.s_id.value=='' && document.form1.s_blogname.value=='' && document.form1.s_realname.value=='')
	{
		alert('您还没有输入任何搜索条件呢!');
		document.form1.s_id.focus();
		return false;
	}
	return true;
}
function check2()
{
	var c = document.getElementsByName("id[]");
	for(i=0;i<c.length;i++)
	{
		if(c[i].checked == true)
		{
			return true;
		}
	}
	alert("您还没有做任何选择呢!");
	return false;
}
</script>

<!-- right div -->
<div id="Layer2" style="position:absolute;margin-left:10px;width:830px;border:1px solid #000;">
<!-- search form -->
<table width="100%" border="0" cellpadding="0" style="background-color:infobackground">
<form name="form1" method="get" action="" onsubmit="return check()">
<tr>
	<td>输入任一搜索条件：<br />&nbsp;&nbsp;&nbsp;&nbsp;
	用户ID:<input name="s_id" type="text" size="6" />
	博客名:<input name="s_blogname" type="text" size="13" />
	用户姓名:<input name="s_realname" type="text" size="10" />
	<input type="submit" name="submit" value="搜索" /></td>
</tr>
</form>
</table>
<!-- search form end -->
<div style="text-align:center;padding-top:1px;padding-bottom:4px;background-color:#ffffff;border-top:1px dotted #666633">
<span style="padding:4px 20px;background-color:{COLOR10};"><a href="?pass=0&old=0">未审核</a></span>
<span style="padding:4px 20px;background-color:{COLOR11};"><a href="?pass=1&old=0">已通过审核</a></span>
<span style="padding:4px 20px;background-color:{COLOR12};"><a href="?pass=2&old=0">已推荐</a></span>
<span style="padding:4px 20px;background-color:{COLOR13};"><a href="?pass=0&old=1">未通过审核</a></span>
</div>
<div style="text-align:center;padding-top:5px;padding-bottom:4px;background-color:#99ccff;">
<span style="padding:4px 20px;background-color:{COLOR20};"><a href="?sex=0">所有</a><strong style="color:#99ccff;">{COUNT}</strong></span>
<span style="padding:4px 20px;background-color:{COLOR21};"><a href="?sex=1">女</a><strong style="color:#99ccff;">{COUNT}</strong></span>
<span style="padding:4px 20px;background-color:{COLOR22};"><a href="?sex=2">男</a><strong style="color:#99ccff;">{COUNT}</strong></span>
</div>
<!-- main body -->
<table width="100%"  border="0" cellpadding="0" cellspacing="0" style="word-break:break-all;backgound-color:#d0d0d0">
<form name="form2" method="post"  action="user_pass_update.php" target="iframe1">
<tr style="padding:5px 0;background-color:#6699FF;font-weight:bold">
	<td>选择</td>
	<td>ID</td>
	<td>姓名</td>
	<td>照片</td>
	<td>BLOG网址</td>
	<td>报名时间</td>
	<td align="center">鲜花</td>
	<td align="center">操作</td>
</tr>
<!-- BEGIN list -->
<tr style="background-color:{list.BGCOLOR}">
	<td><input type="checkbox" name="id[]" value="{list.ID}" /></td>
	<td><a href="../info.php?id={list.ID}" target="_blank" title="查看TA的资料">{list.ID}</a></td>
	<td><a href="javascript:void(0)" onclick="javascript:window.open('user_edit.php?id={list.ID}','','width=450,height=605,toolbar=no,status=no,scrollbars=yes,resizable=yes');">{list.REALNAME}</a></td>
	<td><a href="javascript:void(0)" onclick="javascript:window.open('user_edit.php?id={list.ID}','','width=450,height=605,toolbar=no,status=no,scrollbars=yes,resizable=yes');"><img src="{list.PHOTO}" width="60" border="0" /></a></td>
	<td><a href="http://{list.BLOGURL}" target="_blank">{list.BLOGURL}</a>
	<td>{list.ADDTIME}</td>
	<td nowrap>{list.VOTE}</td>
	<td align="center"><input type="button" id="passbutton{list.ID}" value="{list.PASSBTN}" onClick="passupdate({list.ID});" {list.PASSBTNDISABLED}/><input type="button" value="修改" onclick="window.open('user_edit.php?id={list.ID}','','width=450,height=500,toolbar=no,status=no,scrollbars=yes,resizable=yes');" /><input type="button" value="删除" onclick="confirmdel({list.ID})" /></td>
</tr>
<!-- END list -->
<tr class="caption" height="30" style="background-color:#6666FF;">
	<td colspan="3" style="text-align:left"><input type="checkbox" name="checkall" onclick="selectall(this.checked)" />↑全选</td>
	<td colspan="13" style="text-align:right"><input type="button" value="将所选通过审核" onclick="if(check2()){document.form2.submit();window.setTimeout('location.reload()',800);}else return;" style="{PASSBTNSTYLE}" /><input type="button" value="将所选删除" onclick="if(check2()){document.form2.action='user_del.php';document.form2.submit();window.setTimeout('location.reload()',500);}else return;" style="{PASSBTNSTYLE}" /></td>
</tr>
</form>
</table>
<br>
<div align="center">{PAGE}</div>

<iframe frameborder="0" scrolling="no" id="iframe1" name="iframe1" width="500" height="40" src=""></iframe>

</div>
<!-- right div end -->

