<script>
{script_str}
</script>
<div style="font-size:24px">用户ID:{ID}&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size:16px;">报名时间:{ADDTIME}</span></div>
<TABLE width="100%" border="0" align="center" cellPadding=1 cellSpacing=0>
<form name="form1" action="user_edit.php" method="post" enctype="multipart/form-data" >
<tr>
	<td align="right">博客名称:</td>
	<td><input name="blogname" type="text" value="{BLOGNAME}" size="40" maxlength="100"></td>
</tr>
<tr>
	<td align="right">博客地址:</td>
	<td><input name="blogurl" type="text" value="{BLOGURL}" size="40" maxlength="100"></td>
</tr>
<tr>
	<td align="right">真实姓名:</td>
	<td><input name="realname" type="text" value="{REALNAME}" size="40" maxlength="100"></td>
</tr>
<tr>
	<td align="right">性别:</td>
	<td><input name="sex" type="text" value="{SEX}" size="1" maxlength="1">1->女，2->男</td>
</tr>
<tr>
	<td align="right">联系地址:</td>
	<td><input name="address" type="text" value="{ADDRESS}" size="40" maxlength="100"></td>
</tr>
<tr>
	<td align="right">邮编:</td>
	<td><input name="post" type="text" value="{POST}" size="40" maxlength="100"></td>
</tr>
<tr>
	<td align="right">联系电话:</td>
	<td><input name="phone" type="text" value="{PHONE}" size="40" maxlength="100"></td>
</tr>
<tr>
	<td align="right">E_mail:</td>
	<td><input name="email" type="text" value="{EMAIL}" size="40" maxlength="100"></td>
</tr>
<tr>
	<td align="right">其他联系方式:</td>
	<td><input name="other" type="text" value="{OTHER}" size="40" maxlength="100"></td>
</tr>
<tr>
	<td align="right">审核标志:</td>
	<td><input name="pass" type="text" value="{PASS}" size="1" maxlength="1">←请勿随意修改</td>
</tr>
<tr>
	<td align="right">重新上传图片:</td>
	<td><input type="file" name="photo" size="30">
	</td>
</tr>
<tr>
	<td colspan=2 align="center">
	<input type="hidden" name="id" value="{ID}" />
	<input type="hidden" name="oldphoto" value="{PHOTO}">
	<input name="submit" type="submit" value="提 交" {BTNFN} />
	<input name="cancel" type="button" value="取 消" onclick="javascript:window.close()">
</td>
</tr>
<tr>
	<td>原照片:</td>
	<td><img border="0" src="../photo/{PHOTO}"></td>
</tr>
</tbody>
</table>