<layout name="Admin:header" cache="0" />
<div id="container">
	<div id="top">
		<div class="action">
			您好, {@adminName}<br />
			<a href="__URL__/../">网站首页</a>&nbsp;&nbsp;
			<a href="__URL__/logout">退出管理</a>
		</div>
		<div class="banner"><img width="281" height="75" src="{*APP_PUBLIC_URL}/Images/logo.gif"/></div>
	</div>
	<div id="main">
		<div class="leftColumn">
			<layout name="Admin:left" cache="0" />
		</div>
		<div class="rightColumn">
			<div class="navi">
				<a href="__URL__/index">管理首页</a> &gt; 
				<iterate name="topnavi" id="item">
					<if condition="$item['url'] neq ''">
					<a href="{$item.url}">{$item.text}</a> &gt;
					<else />
					{$item.text}
					</if>
				</iterate>
			</div>

			<table width="100%" border="0" cellpadding="2" cellspacing="1" bgcolor="#999999">
			<tr>
				<td bgcolor="#FFFFFF">
				<layout name="$content" cache="0" />
				</td>
			</tr>
			</table>
		</div>
		<div class="clear"></div>
	</div>
	<div id="copy">
		Copyright &copy; 2009 zerofault All rights reserved.
	</div>
</div>
<layout name="Admin:footer" cache="0" />

