<div id="Layer1" align="center" style="margin-left:300px;margin-top: 140px;width:300px;">
  <form name="form1" method="post" action="">
    <table width="100%"  border="0">
	<caption>美女博客大赛用户管理</caption>
     <tr>
		<td align="right">选择赛区：</td>
		<td><select name="area">
			<option value="0" selected>所有</option>
			<option value="1">武汉</option>
			<option value="2">杭州</option>
			<option value="3">石家庄</option>
			</select></td>
	</tr>
	  <tr>
        <td><div align="right">用户名：</div></td>
        <td><input name="html_name" type="text" id="html_name"></td>
      </tr>
      <tr>
        <td><div align="right">密码： </div></td>
        <td><input name="html_pass" type="password" id="html_pass"></td>
      </tr>
      <tr>
        <td><div align="right"></div></td>
        <td><input type="submit" name="Submit" value="提交"></td>
      </tr>
    </table>
  </form>
</div>
