<link rel="stylesheet" href="style.css" type="text/css">
<!-- left div -->
<div id="Layer1" style="float:left;z-index:999">
	<div style="width:140px;border:1px solid #000;">
	<ul style="line-height:200%">
	<li><a href="user_list.php">用户管理</a></li>
	<li><a href="comment_list.php">留言管理</a></li>
	<li><a href="sms_stat.php">投票统计</a></li>
	<li><a href="sms_stat2.php">手机统计</a></li>
	<li><a href="user_stat.php">报名统计</a></li>
	<li><a href="user_stat3.php">排名统计</a></li>
	<li><a href="user_stat2.php">每日得票</a></li>
	<li><a href="logout.php">退出登录</a></li>
	</ul>
	</div>
	<div style="width:140px;margin-top:30px;border:1px dotted #333333;font-size:10px">
	<span class="red">操作指南:</span><br />
	
	<li>“未审核”列表显示的是一周内尚未通过审核的用户，一周之内仍未通过审核的用户将显示在“黑名单”中。</li>
	
	</div>
</div>
<!-- left div end -->