<html>
<head>
<title>Cobalt 2.0 by Jakob Persson</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#0A5C8E" text="#FFFFFF" LINK="#000000" ALINK="#000000" VLINK="#000000">

<table width="100%" height="100%" cellspacing="0" cellpadding="0" border="0">
	
  <tr> 
    <td align="center" valign="middle"> <blockquote>
        <p><a href="http://www.jakob-persson.com/" target="_blank"><img src="created_by.jpg" width="400" height="300" alt="Created by Jakob Persson" border="0" /> 
          </a> </p>
      </blockquote></td>
	</tr>
</table>

</body>
</html>