<!-- BEGIN list -->
<p>
<a href="{list.BLOGURL}" title="{list.BLOGNAME0}"><img src="baby2007/{list.PHOTO}" border="0" alt="{list.REALNAME}"/></a>
<strong><a href="{list.BLOGURL}" title="{list.BLOGNAME0}" target="_blank">{list.BLOGNAME}</a></strong><br />
编号：{list.ID}<br />
<em class="poll"><a href="javascript:void(0)" onclick="window.open('baby2007/{list.POLL}','','width=300,height=200,toolbar=no,status=no,scrollbars=auto,resizable=yes')">献花</a></em><em><a href="baby2007/{list.LIUYAN}">留言</a></em><em><a href="http://blogs.bokee.com/contribute/subject.php?subjectID=13">投稿</a></em><br />
总留言数：{list.COMMNUM}<br />
月小红花：{list.MONTHVOTE}<br />
</p>
<!-- END list -->