<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title><notempty name="ACTION_TITLE">{$ACTION_TITLE} - </notempty> <notempty name="MODULE_TITLE">{$MODULE_TITLE} - </notempty> {$setting.title}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="{$setting.keywords}" />
	<meta name="description" content="{$setting.description}" />
	<link rel="icon" type="image/x-icon" href="../Public/Images/favicon.ico" />
	<link rel="Shortcut Icon" type="image/x-icon" href="../Public/Images/favicon.ico" />
	
	<load file="../Public/Js/jquery.min.js" />
	<script language="JavaScript" type="text/javascript">
	var _APP_ = '__APP__';
	var _URL_ = '__URL__';
	var APP_PUBLIC_URL = '../Public';
	var IMAGE_FOLDER = '../Public/Images/';
	</script>
</head>
<body>
	<div></div>
	<layout name="Public:header" cache="0" />
	<layout name="$content" cache="0" />
	<layout name="Public:footer" cache="0" />
	<iframe id="_iframe" name="_iframe" style="width:0;height:0;display:none;"></iframe>
	<load file="../Public/Js/myfunc.js"/>
</body>
</html>