/********************通用属性***********************************/
a:link,a:visited,a:hover,a:active
{
	text-decoration: none;
}
body
{
	font-family:"黑体","Times New Roman","Arial Narrow","Verdana";
	background-Attachment:fixed;
	background-repeat:no-repeat;
	Margin-Left:0;
	Margin-Top:0;
	font-size:32px;
	color:#b6dbf8;
}
table
{
	font-size:24px;
}
td
{
	background-position:center;
	background-repeat:no-repeat;
}
div
{
	position:absolute;
}
/******/
/***************所有页面共用************************************/
span.navi
{
	font-size:24px;
	color:#ffcc00;
}
div#topnavi
{
	margin-left:84px;
	margin-top:28px;
}
span.topnavi
{
	font-size:24px;
	letter-spacing:5px;
	font-weight:bold;
	color:#ccff00;
}
/****************/

/*****************登录页面***************************************/
body#login
{
	background-Image:url("image/login/bg.jpg");
}
div#user_account
{
	margin-left:208px;
	margin-top:210px;
}
div#user_password
{
	margin-left:208px;
	margin-top:290px;
}
div#login_btn
{
	margin-left:260px;
	margin-top:360px;
}
/********************/
/**************首页**********************************************/
body#index
{
	background-Image:url("image/menu/bg.jpg");
}
div#index_menu
{
	margin-left:118px;
	margin-top:66px;
	width:252px;
	height:364px;
}
td.index_menu
{
	text-align:center;
}
div#realtime
{
	margin-left:370px;
	margin-top:20px;
	width:250px;
	height:42px;
}
div#icon
{
	margin-left:370px;
	margin-top:108px;
	width:270px;
	height:212px;
}
div#tips
{
	margin-left:388px;
	margin-top:355px;
	width:222px;
	height:75px;
}
table#tips
{
	font-size: 18px;
}
td.tips
{
	text-align:center;
	padding:0 0 7px 0;
}
/******************/

/*****************TV频道************************************/
body#tv_station
{
	background-Image:url("image/tv/bg1.jpg");
}
div#tv_num
{
	margin-left:40px;
	margin-top:30px;
	width:80px;
	height:86px;
}
span.tv_num
{
	font-size:24px;
	color:#00FF00;
}
div#tv_item
{
	margin-left:122px;
	margin-top:65px;
	width:248px;
	height:368px;
}
td.tv_item
{
	height:41px;
	padding:0 0 0 16px;
}
div#tv_navi
{
	margin-left:430px;
	margin-top:410px;
}
/***************/

/****************tv_station2********************************/
body#tv_station2
{
	background-Image:url("image/tv2/bg1.jpg");
}
div#tv_player
{
	margin-left:41px;
	margin-top:20px;
	width:316px;
	height:237px;
}
div#tv_guide
{
	margin-left:39px;
	margin-top:271px;
	width:588px;
}
table#tv_guide
{
	font-size:24px;
}
table.tv_guide_item,td.tv_guide_item
{
	height:31px;
}
/****************/

/****************tv_station3********************************/
body#tv_station3
{
	background-Image:url("image/tv3/bg1.jpg");
}
div#tv3_left_item
{
	margin-left:46px;
	margin-top:66px;
	width:338px;
}
table#tv3_left_item td
{
	height:40px;
	padding:0 0 0 5px;
	background-position:left center;
}
div#tv3_right_item
{
	margin-left:308px;
	margin-top:68px;
	width:300px;
}
table#tv3_right_item td
{
	height:32px;
	padding:0 0 0 5px;
}
div#tv3_tips
{
	margin-left:50px;
	margin-top:364px;
	font-size:24px;
}
div#tv3_nowplay
{
	margin-left:50px;
	margin-top:414px;
	font-size:24px;
	color:#ffcc00;
}
/**********************/

/****************VOD共用************************************/
div#vod_pagenavi
{
	margin-left:48px;
	margin-top:347px;
}
span#pagenum
{
	margin-left:48px;
}
span#pagecount
{
	margin-left:50px;
}
div#vod_tips
{
	margin-left:50px;
	margin-top:392px;
}
span#vod_tips
{
	font-size:24px;
	color:#b6dbf8;
}
td.vod_item
{
	height:39px;
	padding:0 0 0 12px;
	background-position:left center;
}
/********************/

/*********************VOD主菜单************************************/
body#vod_index
{
	background-Image:url("image/vod/bg1.jpg");
}
div#vod_index_menu
{
	margin-left:210px;
	margin-top:112px;
	width:215px;
	height:262px;
}
/******************/

/******************VOD类型列表*********************************/
body#vod_typelist
{
	background-Image:url("image/vod/bg2.jpg");
}
div#vod_typelist_item
{
	margin-left:382px;
	margin-top:68px;
}
/******************/

/******************VOD片名列表*****************************/
body#vod_namelist
{
	background-Image:url("image/vod/bg3.jpg");
}
div#vod_namelist_item
{
	margin-left:363px;
	margin-top:68px;
}
/******************/

/******************VOD播放页面*******************************/
body#vod_info
{
	background-Image:url("image/vod/bg4.jpg");
}
div#vod_haibao
{
	margin-left:47px;
	margin-top:74px;
}
div#vod_intro
{
	margin-left:308px;
	margin-top:79px;
	width:300px;
	height:375px;
}
marquee#vod_intro
{
	font-size:24px;
	color:#b6dbf8;
}
img.haibao
{
	width:223px;
	height:297px;
 }
/*****************/

/***********************music共用*********************************/
img.photo
{
	width:102px;
	height:132px;
}
/*****************/
/*************************MUSIC主菜单******************************/
body#music_index
{
	background-Image:url("image/music/bg1.jpg");
}
div#music_index_menu
{
	margin-left:200px;
	margin-top:147px;
	width:200px;
	height:162px;
}
td.music_index_menu
{
	text-align:center;
}
/*****************/

/*****************在线音乐*********************************/
body#music_online
{
	background-Image:url("image/music/bg2.jpg");
}
div#music_online_menu
{
	margin-left:0;
	margin-top:86px;
	width:388px;
	height:280px;
}
td.music_online_menu
{
	padding:0 0 0 80px;
}
div#music_online_sysinfo
{
	margin-left:400px;
	margin-top:140px;
	font-size:24px;
	color:#b6dbf8;
	line-height:180%;
}
/*****************/

/***************歌手分类***********************************/
body#music_typelist
{
	background-Image:url("image/music/bg3.jpg");
}
div#music_typelist_menu
{
	margin-left:200px;
	margin-top:114px;
	width:220px;
	height:274px;
}
/******************/

/****************歌手列表***********************************/
body#music_singerlist
{
	background-Image:url("image/music/bg4.jpg");
}
div#music_singerlist_item
{
	margin-left:20px;
	margin-top:68px;
	width:603px;
}
td.music_photo_item
{
	text-align:center;
	height:132px;
}
td.music_singerlist_item
{
	text-align:center;
	height:67px;
}
/*******************/

/****************歌手歌曲列表*******************************/
body#music_singersong
{
	background-Image:url("image/music/bg5.jpg");
}
div#music_singersong_photo
{
	margin-left:45px;
	margin-top:69px;
}
div#music_singersong_name
{
	margin-left:173px;
	margin-top:161px;
	font-size:24px;
	color:#ffffff;
}
div#music_singersong_marquee
{
	margin-left:45px;
	margin-top:224px;
	width:326px;
	font-size:24px;
}
div#music_singersong_item
{
	margin-left:384px;
	margin-top:74px;
}
td.music_singersong_item
{
	height:37px;
	padding:0 0 0 4px;
	background-position:left center;
}
/***********************/

/******************FM收听*********************************/
body#fm_index
{
	background-Image:url("image/fm/bg1.jpg");
}
div#fm_left_item
{
	margin-left:48px;
	margin-top:67px;
	width:270px;
}
td.fm_left_item
{
	height:42px;
	padding:0 0 0 5px;
	background-position:left center;
}
div#fm_right_item
{
	margin-left:340px;
	margin-top:67px;
	width:272px;
}
td.fm_right_item
{
	height:36px;
	padding:0 0 0 5px;
	background-position:left center;
	border-bottom:#000000 1px groove;
}
div#fm_tips
{
	margin-left:54px;
	margin-top:364px;
	font-size:24px;
}
div#fm_nowplay
{
	margin-left:54px;
	margin-top:414px;
	font-size:24px;
	color:#ffcc00;
}
/*******************/

/*******************可视电话首页************************/
body#vphone_index
{
	background-Image:url("image/vphone/bg1.jpg");
}
div#vphone_index_menu
{
	margin-left:200px;
	margin-top:115px;
	width:240px;
	height:220px;
}
td.vphone_index_menu
{
	text-align:center;
}
/*******************/
/******************可视电话界面*************************/
body#vphone_call
{
	background-Image:url("image/vphone/bg2.jpg");
}
div#vphone_status
{
	margin-left:175px;
	margin-top:360px;
	font-size:24px;
	color:#ffcc00;
}
div#vphone_call_menu
{
	margin-left:70px;
	margin-top:410px;
	width:500px;
}
td.vphone_call_menu
{
	font-size:20px;
	text-align:center;
}
/*****************/
/******************通讯薄****************************/
body#directory
{
	background-Image:url("image/directory/bg1.jpg");
}
div.popDiv
{
	margin-left:0px;
	margin-top:0px;
	width:800px;
	height:600px;
}
table#popDivTable
{
	background-Image:url("image/directory/bg2.png");
	background-Attachment:fixed;
	background-repeat:no-repeat;
}
div#popInnerDiv
{
	margin-left:96px;
	margin-top:72px;
	width:460px;
}
table#popInnerTable
{
	height:340px;
	font-size:24px;
}
td.popInnerTableCaption
{
	height:36px;
	color:#ccff00;
	padding:0 0 0 8px;
}
td.popInnerFooter
{
	height:35px;
}
div#dir_group_table
{
	margin-left:19px;
	margin-top:32px;
	width:116px;
}
td.dir_label
{
	height:46px;
	color:#ffcc00;
}
td.dir_group_item
{
	height:40px;
	padding:0 0 0 10px;
}
div#dir_contact_table
{
	margin-left:148px;
	margin-top:32px;
	width:472px;
}
td.dir_contact_item
{
	height:36px;
}
div#dir_oper_table
{
	margin-left:24px;
	margin-top:422px;
	width:593px;
}
td.dir_oper_menu
{
	font-size:22px;
	color:#b6dbf8;
}
.input2
{
	BACKGROUND-COLOR: white; 
	BORDER-BOTTOM: #ffffff 1px solid; 
	BORDER-LEFT: #ffffff 1px solid; 
	BORDER-RIGHT: #ffffff 1px solid; 
	BORDER-TOP: #ffffff 1px solid; 
	FONT-FAMILY:"SimHei","黑体","Verdana"; 
	font-size: 20px;
}
/****************/

/****************可视电话设置******************************/
body#setting_vphone
{
	background-Image:url("image/vphone/setting/bg1.jpg");
}
div#vphone_form
{
	margin-left:55px;
	margin-top:140px;
	width:388px;
	height:210px;
}
/*****************/

/********************游戏娱乐******************************/
body#game_index
{
	background-Image:url("image/game/bg1.jpg");
}
div#game_index_menu
{
	margin-left:210px;
	margin-top:128px;
	width:210px;
	height:185px;
}
td.game_index_menu
{
	padding:0 0 0 30px;
}

body#flash_namelist
{
	background-Image:url("image/flash/bg1.jpg");
}
div#flash_namelist_item
{
	margin-left:341px;
	margin-top:72px;
	width:270px;
}
td.flash_item
{
	height:42px;
	padding:0 0 0 20px;
}
div#flash_embed
{
	margin-left:0px;
	margin-top:0px;
	width:640px;
	height:480px;
}
body#flash_player
{
	background-color:#0066cc;
	color:#0066cc;
	line-height:130%;
}
div#flash
{
	width:640px;
}
div#flash_game_embed
{
	margin-left:64px;
	margin-top:48px;
	width:520px;
	height:392px;
	background-color:#000044;
	position:relative;
}
embed#embed1
{
	margin-top:4px;
	margin-left:4px;
	width:512px;
	height:384px;
}
div#flash_mtv_embed
{
	width:640px;
	height:480px;
}
/***********************/

/*******************新闻首页*****************************/
body#news_index
{
	background-Image:url("image/news/bg1.jpg");
}
div#news_index_menu
{
	margin-left:160px;
	margin-top:88px;
	width:220px;
	height:297px;
}
/********************/

/*******************新闻标题*******************************/
body#news_title
{
	background-Image:url("image/news/bg2.jpg");
}
div#news_title_item
{
	margin-left:47px;
	margin-top:66px;
	width:564px;
}
td.news_title_item
{
	height:43px;
	padding:0 0 0 12px;
	background-position:left center;
}
/******************/

/*****************新闻内容**********************************/
body#news_info
{
	background-Image:url("image/news/bg3.jpg");
}
div#mplayer
{
	margin-left:53px;
	margin-top:96px;
	width:304px;
	height:220px;
}
div#news_info
{
	margin-left:384px;
	margin-top:75px;
	width:228px;
	height:340px;
}
p.news_info
{
	font-size:24px;
}
/******************/
/*****************信息服务*********************************/
body#service_index
{
	background-Image:url("image/service/bg1.jpg");
}
div#service_index_menu
{
	margin-left:200px;
	margin-top:117px;
	width:220px;
	height:267px;
}
div#service_index_menu table td
{
	padding-left:26px;
}
td.common_info_menu
{
	padding:0 0 0 32px;
}
/*********************

/******************网页浏览******************************/
body#web_link
{
	background-Image:url("image/service/web_link/bg.jpg");
}
div#web_addr
{
	margin-left:50px;
	margin-top:25px;
}
span.web_addr
{
	font-size:24px;
	color:#ccff00;
}
img.btn
{
	height:28px;
}
div#web_link_menu
{
	margin-left:76px;
	margin-top:94px;
	width:500px;
	height:320px;
}
td.web_link_menu
{
	height:110px;
	text-align:center;
}
img.linkIcon
{
	height:80px;
}
/***********************/

/*********************天气预报******************************/
body#weather
{
	background-Image:url("image/weather/bg.jpg");
}
td.popText
{
	height:80px;
	font-size:24px;
	color:#000000;
	line-height:90%;
}
td.fullText
{
	font-size:24px;
	color:#000000;
}
span.weather_title
{
	font-size:24px;
	color:#ccff00;
}
div#weather_city_info
{
	margin-left:20px;
	margin-top:340px;
}
div#weather_city_item
{
	margin-left:458px;
	margin-top:116px;
	width:152px;
}
td.weather_city_item
{
	height:34px;
	text-align:center;
}
/*********************/

/*******************常用电话*********************************/
body#dianhua
{
	background-Image:url("image/service/bg2.jpg");
}
div#dianhua_item
{
	margin-left:58px;
	margin-top:77px;
	width:544px;
}
div#dianhua_navi
{
	margin-left:80px;
	margin-top:410px;
	width:500px;
}
table.dianhua_item_table
{
	height:44px;
	font-size:24px;
}
/***********************/

/******************火车线路*********************************/
body#bm_huoche
{
	background-Image:url("image/service/huoche/bg1.jpg");
}
div#bm_huoche_line
{
	margin-left:46px;
	margin-top:98px;
	width:130px;
}
td.bm_huoche_line
{
	text-align:center;
	height:39px;
}
div#bm_huoche_lineinfo
{
	margin-left:196px;
	margin-top:70px;
	width:414px;
	height:360px;
}
/*******************BUS线路************************************/
body#bm_bus
{
	background-Image:url("image/service/bus/bg1.jpg");
}
span.bm_bus_navi
{
	font-size:24px;
	color:#ccff00;
}
div#bm_bus_item
{
	margin-left:47px;
	margin-top:67px;
	width:564px;
}
img.bm_bus_label
{
	height:33px;
}
tr.bm_bus_item
{
	height:38px;
}
/*******************BUS线路详细*********************************/
body#bm_bus_site
{
	background-Image:url("image/service/bus/bg2.jpg");
}
div#start_time
{
	margin-left:208px;
	margin-top:70px;
	font-size:26px;
}
div#end_time
{
	margin-left:450px;
	margin-top:70px;
	font-size:24px;
}
div#bm_bus_site
{
	margin-left:46px;
	margin-top:148px;
	width:232px;
}
td.bm_bus_site_item
{
	height:33px;
}
div#bm_bus_site_info
{
	margin-left:296px;
	margin-top:152px;
	width:314px;
}
td.bm_bus_subsite
{
	height:44px;
	background-repeat:repeat-x;
	background-position:left center;
}
/******************/
/******************航班************************************/
body#bm_airline
{
	background-Image:url("image/service/airline/bg1.jpg");
}
div#bm_caption
{
	margin-left:46px;
	margin-top:73px;
	width:130px;
	font-size:24px;
}

/******************拨号设置********************************/
body#setting_dial1
{
	background-Image:url("image/dial/bg1.jpg");
}
body#setting_dial2
{
	background-Image:url("image/dial/bg2.jpg");
}
div#dial_keyboard
{
	margin-left:0px;
	margin-top:162px;
	width:640px;
}
div#dial_account
{
	margin-left:270px;
	margin-top:86px;
}
div#dial_passwd
{
	margin-left:270px;
	margin-top:86px;
}
img.keyboardbtn
{
	height:44px;
}
img.keyboardbtn2
{
	height:41px;
}
/******************/

/******************帐号与设置******************************/
body#setting_index
{
	background-Image:url("image/setting/bg1.jpg");
}
div#setting_index_menu
{
	margin-left:168px;
	margin-top:146px;
	width:300px;
	height:210px;
}
/******************/

/******************网路设置********************************/
body#setting_network
{
	background-Image:url("image/network/bg1.jpg");
}
div#set_dial
{
	margin-left:75px;
	margin-top:85px;
	font-size:24px;
}
div#set_eth
{
	margin-left:75px;
	margin-top:120px;
	font-size:24px;
}
div#set_dhcp
{
	margin-left:105px;
	margin-top:155px;
	font-size:24px;
}
div#set_static
{
	margin-left:105px;
	margin-top:190px;
	font-size:24px;
}
div#network_form
{
	margin-left:105px;
	margin-top:225px;
	width:330px;
	font-size:24px;
}
/******************/

/******************帐号管理********************************/
body#account_manage
{
	background-Image:url("image/account/bg2.jpg");
}
div#parent_acc
{
	margin-left:62px;
	margin-top:88px;
	width:700px;
}
div#child_acc
{
	margin-left:62px;
	margin-top:236px;
	width:700px;
}
