div#北京
{
	margin-left:192px;
	margin-top:112px;
}
div#哈尔滨
{
	margin-left:257px;
	margin-top:45px;
}
div#长春
{
	margin-left:249px;
	margin-top:65px;
}
div#沈阳
{
	margin-left:241px;
	margin-top:88px;
}
div#天津
{
	margin-left:200px;
	margin-top:120px;
}
div#呼和浩特
{
	margin-left:158px;
	margin-top:106px;
}
div#乌鲁木齐
{
	margin-left:0px;
	margin-top:47px;
}
div#银川
{
	margin-left:117px;
	margin-top:126px;
}
div#西宁
{
	margin-left:80px;
	margin-top:139px;
}
div#兰州
{	
	margin-left:96px;
	margin-top:150px;
}
div#西安
{
	margin-left:134px;
	margin-top:168px;
}
div#拉萨
{
	margin-left:0px;
	margin-top:191px;
}
div#成都
{
	margin-left:93px;
	margin-top:204px;
}
div#重庆
{
	margin-left:114px;
	margin-top:214px;
}
div#贵阳
{
	margin-left:113px;
	margin-top:247px;
}
div#昆明
{
	margin-left:75px;
	margin-top:260px;
}
div#太原
{
	margin-left:163px;
	margin-top:134px;
}
div#石家庄
{
	margin-left:177px;
	margin-top:133px;
}
div#济南
{
	margin-left:200px;
	margin-top:145px;
}
div#郑州
{
	margin-left:173px;
	margin-top:166px;
}
div#合肥
{
	margin-left:203px;
	margin-top:192px;
}
div#南京
{
	margin-left:216px;
	margin-top:191px;
}
div#上海
{
	margin-left:237px;
	margin-top:199px;
}
div#武汉
{
	margin-left:176px;
	margin-top:207px;
}
div#长沙
{
	margin-left:172px;
	margin-top:230px;
}
div#南昌
{
	margin-left:193px;
	margin-top:225px;
}
div#杭州
{
	margin-left:230px;
	margin-top:206px;
}
div#福州
{
	margin-left:224px;
	margin-top:254px;
}
div#台北
{
	margin-left:245px;
	margin-top:260px;
}
div#南宁
{
	margin-left:126px;
	margin-top:288px;
}
div#海口
{
	margin-left:145px;
	margin-top:320px;
}
div#广州
{
	margin-left:175px;
	margin-top:283px;
}
div#香港
{
	margin-left:182px;
	margin-top:291px;
}
div#澳门
{
	margin-left:172px;
	margin-top:295px;
}