<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>我的网址收藏@GAE</title>
	<meta name="keywords" content="网络收藏夹" />
	<meta name="description" content="快速, 简洁, web2.0, 做最好的网络收藏夹. Favorites是一个提供用户收藏, 推荐, 共享网络资源的平台。除了原本的网页收藏, Favorites中加入了图片、音乐和视频收藏的功能，同时用户还可以拥有自己的好友名单,使用户间可以方便的共享网络资源。" />
	<link rel="alternate" type="application/rss+xml" title="zerofault的网络收藏夹" href="/rss/zerofault.xml" />
	<link rel="alternate" type="application/rss+xml" title="zerofault的网志" href="/rss/blog/zerofault.xml" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="icon" type="image/x-icon" href="/media/favicon.ico" />
	<link rel="shortcut icon" type="image/x-icon" href="/media/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="/media/style.css" />
</head>
<body>
	<div id="toper">
		<a>{{ user_nickname }}</a>
		<a href="/" id="logo"><img alt="my favorites" src="/media/logo.jpg" /></a>
		{% if isLogin %}
			<a href="add">添加</a>
		{% endif %}
		<a href="{{ auth_url }}" class="lm">{{ auth_text }}</a>
	</div>
	<div id="searcher">
		<ul>
			<li><a href="/" class="curr">我的收藏</a></li>
			<li><a href="/blog/">我的网志</a></li>
			<li><a href="/pic/">我的图片</a></li>
		</ul>
		<form action="/search/" method="get">
			<img src="/media/search_b.gif" alt="search button" />
			<input type="text" id="searchBox" maxlength="15" name="content" />
			<input src="/media/search.gif" id="submit" type="image" />
		</form>
	</div>

	<div id="twocolumnright">
		<dl class="box" id="mytags">
			<dt><span>我的标签</span><a id="editbundle" href="/bundle.aspx">编辑</a></dt>
			<dd id="mytag">
				<ul style="display: block;">
					{% for tag_item in tag_list %}
					<li><a href="/tag/{{ tag_item.name }}">{{ tag_item.name }}</a><a href="/deltag?key={{ tag_item.key }}" class="num" >{{ tag_item.num }}</a></li>
					{% endfor %}
				</ul>
			</dd>
		</dl>

		<dl class="box" id="myfriends">
			<dt><span>固定链接</span></dt>
			<dd id="myfriend">
				<ul>
				</ul>
			</dd>
		</dl>

		<div id="myicon">
			<a href="/rss/zerofault.xml" ><img src="/media/rss.gif" alt="rss" class="rss" /></a>
		</div>

	</div>
	<div id="twocolumnmiddle">
		<div class="page">
{% if is_paginated %}
	{% ifequal current_page 1 %}<span>|&lt;</span> 
	{% else %} <a href="?page=1">|&lt;</a>
	{% endifequal %}
	{% if has_previous %} <a href="?p={{ previous_page }}">&lt;&lt;</a>
	{% else %} <span>&lt;&lt;</span>
	{% endif %}
	{% for p in page_numbers %}
		{% ifequal current_page p %}<span>{{ p }}</span>
		{% else %}
			{% ifequal p '...' %}
			<span class="dot">...</span>
			{% else %}
			<a href="?p={{ p }}">{{ p }}</a>
			{% endifequal %}
		{% endifequal %}
	{% endfor %}
	{% if has_next %}<a href="?p={{ next_page }}">&gt;&gt;</a>
	{% else %}<span>&gt;&gt;</span>
	{% endif %}
	{% ifequal current_page pages %}<span>&gt;|</span>
	{% else %} <a href="?p={{ pages }}">&gt;|</a>
	{% endifequal %}
	<span>当前:{{ current_page }}/{{ pages }}页</span>
{% endif %}<span>共{{ count }}个记录</span>
		</div>

		<div id="favs">
		{% for link_item in link_list %}
			<dl class="nfav" id="item_{{ link_item.info.key }}">
				<dt>
					<a href="{{link_item.info.url}}" target="_blank">{{ link_item.info.title }}</a>
					{% if link_item.info.private %}
					<img src="/media/lock.gif" align="absmiddle" />
					{% endif %}
					{{ link_item.info.addtime|date:"Y-m-d" }}
				</dt>
				<dd class="noteh">{{ link_item.info.descr|escape|linebreaksbr }}</dd>
				<dd class="fadd">
					{% for tag_item in link_item.tag_list %}
					[<a href="/tag/{{ tag_item.name }}" class="tag">{{ tag_item.name }}</a>]
					{% endfor %}
					{% if isLogin %}
					... 
					<a href="/add?key={{ link_item.info.key }}" class="edit">编辑</a>/<a onClick='$("#del_{{ link_item.info.key }}").show()' class="edit">删除</a>
					<span class="edit" id='del_{{ link_item.info.key }}'><a href="del?key={{ link_item.info.key }}" class="edit">确认</a> / <a onClick='$("#del_{{ link_item.info.key }}").hide()' class="edit">取消</a></span>
					{% endif %}
				</dd>
			</dl>
			{% endfor %}
		</div>

		<div class="page">
{% if is_paginated %}
	{% ifequal current_page 1 %}<span>|&lt;</span> 
	{% else %} <a href="?page=1">|&lt;</a>
	{% endifequal %}
	{% if has_previous %} <a href="?p={{ previous_page }}">&lt;&lt;</a>
	{% else %} <span>&lt;&lt;</span>
	{% endif %}
	{% for p in page_numbers %}
		{% ifequal current_page p %}<span>{{ p }}</span>
		{% else %}
			{% ifequal p '...' %}
			<span class="dot">...</span>
			{% else %}
			<a href="?p={{ p }}">{{ p }}</a>
			{% endifequal %}
		{% endifequal %}
	{% endfor %}
	{% if has_next %}<a href="?p={{ next_page }}">&gt;&gt;</a>
	{% else %}<span>&gt;&gt;</span>
	{% endif %}
	{% ifequal current_page pages %}<span>&gt;|</span>
	{% else %} <a href="?p={{ pages }}">&gt;|</a>
	{% endifequal %}
	<span>当前:{{ current_page }}/{{ pages }}页</span>
{% endif %}<span>共{{ count }}个记录</span>
		</div>

	</div>
</body>
<script language="javascript" type="text/javascript" src="/media/jquery-1.2.6.pack.js"></script>
</html>