<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<a href="{{ url }}">{{ url_linktext }}</a>

<hr>
{% block content %}

{% for link_item in link_list %}
<dl>
	<dt><a href="{{link_item.info.url}}" target="_blank">{{ link_item.info.title }}</a>{{ link_item.info.addtime }} {{ link_item.info.private }}</dt>
	<dd>{{ link_item.info.descr }}</dd>
	<dd>
		{% for tag_item in link_item.tag_list %}
		<a href="#">{{ tag_item.name }}</a>
		{% endfor %}
	</dd>
</dl>
{% endfor %}

{% endblock %}
<hr>
</body>
</html>