/*
	Coin Slider jQuery plugin CSS styles
	http://workshop.rs/projects/coin-slider
*/


.coin-slider { overflow: hidden; zoom: 1; position: relative; }
.coin-slider a{ text-decoration: none; outline: none; border: none; }

.cs-buttons { font-size: 0px; padding: 10px; text-align: center;}
.cs-buttons a { margin: 0 10px;  padding:8px; font-size:0; color:#F7F7F7;background:url(image/slide_off.gif) center no-repeat; text-indent: -1000px;}
.cs-buttons a.cs-active { background:url(image/slide_on.gif) center no-repeat }

.cs-slider {display:none;}
.cs-title {display: none;}

.cs-prev, .cs-next { display:none; background-color: #000000; color: #FFFFFF; padding: 0px 10px; }
