<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>请登录 - 车车友 - checheyou.com</title>
<style type="text/css">
@import url(template/default/login.css);
@import url(template/default/coin-slider-styles.css);
</style>
<link rel="shortcut icon" href="image/favicon.ico" />
</head>
<body>
<div class="container">
	<div class="header">
		<a href="help.php">帮助</a>
		<img src="template/default/image/sep.gif" align="absmiddle" />
		<a href="#">建议</a>
	</div>
	<div class="ad_pic">
		<div id="slider">
			<img src="image/ad1.gif" />
			<img src="image/ad2.gif" />
			<img src="image/ad3.gif" />
			<img src="image/ad4.gif" />
		</div>
	</div>
	<div class="form">
		<form name="loginform" action="do.php?ac=$_SCONFIG[login_action]&$url_plus&ref" method="post" autocomplete="off">
		<div class="input-wrapper"> 
			<input name="username" id="username" class="input" value="" type="text"/>
			<label for="username" class="label">登录帐号</label> 
		</div>
		<div class="input-wrapper"> 
			<input id="password" name="password" class="input" type="password"/> 
			<label for="password" class="label">登录密码</label> 
		</div>
		<div class="stage-holder">
			<input type="checkbox" id="cookietime" name="cookietime" value="315360000" $cookiecheck /><label for="cookietime">下次自动登录</label>
			<a href="do.php?ac=lostpasswd">忘记密码?</a>
		</div>
		<div class="stage-holder"> 
			<input type="submit" id="loginsubmit" name="loginsubmit" value="登录" class="button" />
			<input type="button" value="注册" class="button" onclick="javascript:window.location='do.php?ac=$_SCONFIG[register_action]';">
		</div>
		<input type="hidden" name="refer" value="space.php?do=home" />
		<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
		</form> 
	</div>
	<div class="footer">
		www.checheyou.com 版权所有<br />
		<a href="#about">关于车车友</a>
		<a href="#contact">联系我们</a>
		<a href="#jobs">招贤纳士</a>
		<a href="#service">服务条款</a>
		<a href="#privacy">隐私政策</a>
	</div>
</div>
</body>
<script language="JavaScript" type="text/javascript" src="source/jquery-1.4.2.min.js"></script>
<script language="JavaScript" type="text/javascript" src="source/coin-slider.min.js"></script>
<script language="JavaScript" type="text/javascript">
$(document).ready(function() {
	$('#slider').coinslider({
		width: 559,
		height: 368,
		spw: 1,
		sph: 1,
		delay: 5000,
		sDelay: 10
	});
	$(".input-wrapper input").each(function() {
		if ($(this).val().length>0) {
			$(this).next().css("visibility", "hidden");
		}
		else {
			$(this).next().css("visibility", "visible");
		}
		$(this).focus(function() {
			$(this).parent().addClass('focus');
			$(this).next().css("visibility", "hidden");
		}).blur(function() {
			$(this).parent().removeClass('focus');
			if ($(this).val().length==0) {
				$(this).next().css("visibility", "visible");
			}
		}).keyup(function() {
			$(this).parent().addClass('typed');
		});
	});
});
</script>
</html>
