<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>请登录 - 车车友 - checheyou.com</title>
<style type="text/css">
@import url(template/default/login.css);
@import url(template/default/nivo-slider.css);
</style>
<link rel="shortcut icon" href="image/favicon.ico" />
</head>
<body>
<div class="container">
	<div class="header">
		<a href="help.php">帮助</a>
		<img src="template/default/image/sep.gif" align="absmiddle" />
		<a href="#">建议</a>
	</div>
	<div class="ad_pic">
		<div id="slider" class="nivoSlider">
			<img src="image/ad1.gif" />
			<img src="image/ad2.gif" />
			<img src="image/ad3.gif" />
			<img src="image/ad4.gif" />
		</div>
	</div>
	<div class="form">
		<form name="loginform" action="do.php?ac=$_SCONFIG[login_action]&$url_plus&ref" method="post" autocomplete="off">
		<div class="input-wrapper"> 
			<input name="username" id="username" class="input" value="" type="text"/>
			<label for="username" class="label">登录帐号</label> 
		</div>
		<div class="input-wrapper"> 
			<input id="password" name="password" class="input" type="password"/> 
			<label for="password" class="label">登录密码</label> 
		</div>
		<div class="stage-holder">
			<input type="checkbox" id="cookietime" name="cookietime" value="315360000" $cookiecheck /><label for="cookietime">下次自动登录</label>
			<a href="do.php?ac=lostpasswd">忘记密码?</a>
		</div>
		<div class="stage-holder"> 
			<input type="submit" id="loginsubmit" name="loginsubmit" value="登录" class="button" />
			<input type="button" value="注册" class="button" onclick="javascript:window.location='do.php?ac=$_SCONFIG[register_action]';">
		</div>
		<input type="hidden" name="refer" value="space.php?do=home" />
		<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
		</form> 
	</div>
	<div class="footer">
		www.checheyou.com 版权所有<br />
		<a href="#about">关于车车友</a>
		<a href="#contact">联系我们</a>
		<a href="#jobs">招贤纳士</a>
		<a href="#service">服务条款</a>
		<a href="#privacy">隐私政策</a>
	</div>
</div>
</body>
<script language="JavaScript" type="text/javascript" src="source/jquery-1.4.2.min.js"></script>
<script language="JavaScript" type="text/javascript" src="source/jquery.nivo.slider.pack.js"></script>
<script language="JavaScript" type="text/javascript">
$(document).ready(function() {
	 $('#slider').nivoSlider({
        effect:'fade', // Specify sets like: 'fold,fade,sliceDown'
        slices:15, // For slice animations
        boxCols: 8, // For box animations
        boxRows: 4, // For box animations
        animSpeed:500, // Slide transition speed
        pauseTime:5000, // How long each slide will show
        startSlide:0, // Set starting Slide (0 index)
        directionNav:false, // Next & Prev navigation
        directionNavHide:false, // Only show on hover
        controlNav:true, // 1,2,3... navigation
        controlNavThumbs:false, // Use thumbnails for Control Nav
        controlNavThumbsFromRel:false, // Use image rel for thumbs
        controlNavThumbsSearch: '.jpg', // Replace this with...
        controlNavThumbsReplace: '_thumb.jpg', // ...this in thumb Image src
        keyboardNav:false, // Use left & right arrows
        pauseOnHover:false, // Stop animation while hovering
        manualAdvance:false, // Force manual transitions
        captionOpacity:0.8, // Universal caption opacity
        prevText: 'Prev', // Prev directionNav text
        nextText: 'Next', // Next directionNav text
        beforeChange: function(){}, // Triggers before a slide transition
        afterChange: function(){}, // Triggers after a slide transition
        slideshowEnd: function(){}, // Triggers after all slides have been shown
        lastSlide: function(){}, // Triggers when last slide is shown
        afterLoad: function(){} // Triggers when slider has loaded
    });
	$(".input-wrapper input").each(function() {
		if ($(this).val().length>0) {
			$(this).next().css("visibility", "hidden");
		}
		else {
			$(this).next().css("visibility", "visible");
		}
		$(this).focus(function() {
			$(this).parent().addClass('focus');
			$(this).next().css("visibility", "hidden");
		}).blur(function() {
			$(this).parent().removeClass('focus');
			if ($(this).val().length==0) {
				$(this).next().css("visibility", "visible");
			}
		}).keyup(function() {
			$(this).parent().addClass('typed');
		});
	});
});
</script>
</html>
