<!--{eval $_TPL['titles'] = array('群组');}-->
<!--{template header}-->
<div class="searchbar floatright">
<form method="get" action="space.php">
	<input name="searchkey" value="" size="15" class="t_input" type="text">
	<input name="searchsubmit" value="搜索群组" class="submit" type="submit">
	<input type="hidden" name="searchmode" value="1" />
	<input type="hidden" name="do" value="mtag" />
	<input type="hidden" name="view" value="hot" />
</form>
</div>
<h2 class="title"><img src="image/app/mtag.gif">群组</h2>
<div class="tabs_header">
	<ul class="tabs">
		<li><a href="space.php?uid=$space[uid]&do=thread"><span>群组话题</span></a></li>
		<li$actives[me]><a href="space.php?do=mtag&view=me"><span>我参与的群组</span></a></li>
		<li$actives[manage]><a href="space.php?do=mtag&view=manage"><span>我管理的群组</span></a></li>
		<li$actives[hot]><a href="space.php?do=mtag&view=hot"><span>热门群组</span></a></li>
		<li$actives[school]><a href="space.php?do=mtag&view=school"><span>驾校群组</span></a></li>
		<li class="null"><a href="cp.php?ac=thread">发起新话题</a></li>
		<li class="null"><a href="cp.php?ac=mtag">创建群组</a></li>
	</ul>
</div>
<!--{if $searchkey}-->
<div class="h_status">以下是搜索群组 <span style="color:red;font-weight:bold;">$searchkey</span> 结果列表</div>
<!--{/if}-->

<!--{if 'school'==$_GET[view] && empty($_GET['school_id']) && empty($_GET['province_id'])}-->
<div id="content2">
<!--{else}-->
<div id="content">
<!--{/if}-->

<!--{if $rlist}-->
	<div>
		<h3 class="l_status">
			<div class="r_option"><a href="space.php?do=mtag&view=recommend">更多推荐</a></div>
			群组推荐
		</h3>
		<table cellspacing="5" cellpadding="5"><tr>
		<!--{loop $rlist $key $value}-->
			<td width="80">
				<div class="threadimg60"><a href="space.php?do=mtag&tagid=$value[tagid]"><img src="$value[pic]" style="width:60px;"></a></div>
			</td>
			<td width="200">
				<a href="space.php?do=mtag&tagid=$value[tagid]" style="font-weight:bold;">$value[tagname]</a>
				<div class="gray">$value[title]</div>
				已有 <span class="num">$value[membernum]</span> 人加入
				<div class="gray">
					话题: $value[threadnum], 回帖: $value[postnum]
				</div>
			</td>
		<!--{if $key%2==1}--></tr><tr><!--{/if}-->
		<!--{/loop}-->
		</tr></table>
	</div>
<!--{/if}-->

<!--{if 'school'==$_GET[view]}-->
	<!--{if empty($_GET['school_id'])}-->
		<!--{if empty($_GET['province_id'])}-->
	<div class="h_status">
		根据区域查找驾校群组：全国
	</div>
	<div style="position:relative;">
		<img src="image/map.png"  width="644" height="475" border="0" id="map" usemap="#Map" >
		<map name="Map" id="Map">
			$map_str
		</map>
	</div>
	<script language="JavaScript" type="text/javascript" src="source/jquery-1.4.2.min.js"></script>
	<script language="JavaScript" type="text/javascript">
	$(document).ready(function(){
		$("map > area").each(function(i) {
			$(this).mouseover(function() {
				$(".area_overlay").each(function() {
					$(this).hide();
				});
				$(this).next().show();
			});
		});
		$(".area_overlay").each(function(i) {
			$(this).mouseout(function() {
				$(this).hide();
			});
		});
		
	});
	</script>
		<!--{else}-->
			<!--{if empty($_GET['city_id'])}-->
	<div class="h_status">
		根据区域查找驾校群组：<a href="?do=mtag&view=school">全国</a> &gt;&gt; $province_name
	</div>
	<ul class="city_list">
				<!--{loop $city_list $i $city}-->
		<li>·<a href="?do=mtag&view=school&province_id={$_GET[province_id]}&city_id={$city[id]}">{$city[name]}({$city[count]})</a></li>
				<!--{/loop}-->
	</ul>
			<!--{else}-->
				<!--{if empty($_GET['region_id'])}-->
	<div class="h_status">
		根据区域查找驾校群组：<a href="?do=mtag&view=school">全国</a> &gt;&gt; <a href="?do=mtag&view=school&province_id={$_GET[province_id]}">$province_name</a> &gt;&gt; $city_name
	</div>
	<ul class="region_list">
					<!--{loop $region_list $i $region}-->
		<li><a href="?do=mtag&view=school&province_id={$_GET[province_id]}&city_id={$_GET[city_id]}&region_id={$region[id]}">{$region[name]}({$region[count]})</a></li>
					<!--{/loop}-->
	</ul>
				<!--{else}-->
	<div class="h_status">
		根据区域查找驾校群组：<a href="?do=mtag&view=school">全国</a> &gt;&gt; <a href="?do=mtag&view=school&province_id={$_GET[province_id]}">$province_name</a> &gt;&gt; <a href="?do=mtag&view=school&province_id={$_GET[province_id]}&city_id={$_GET[city_id]}">$city_name</a> &gt;&gt; $region_name
	</div>
				<!--{/if}-->
			<!--{/if}-->
			<!--{loop $school_list $i $school}-->
	<dl class="school_list">
		<dt><a href="?do=mtag&view=school&school_id={$school[id]}">$school[name]</a></dt>
		<dd>[有 {$school[member_count]}个车友]</dd>
		<dd>[有 {$school[mtag_count]}个群组数]</dd>
		<div class="clear"></div>
	</dl>
			<!--{/loop}-->
	<div class="page">$multi</div>
		<!--{/if}-->
	<!--{else}-->
		<!-- 驾校信息，及驾校下的群组 -->
	<h3>{$school[fullname]}（{$school[name]}）</h3>
	<dl class="school_info">
		<dt>驾校地址：</dt>
		<dd>{$school[address]}</dd>
		<dt>训练场地：</dt>
		<dd><!--{eval echo nl2br($school['training'])}--></dd>
		<dt>驾校评价：</dt>
		<dd>
			<a href="?do=schoolrate&id={$school[id]}" target="_blank" title="查看详细评价">
			<ul class="starrating">
				<li style="width: {$school[width]}px;" id="currentrating"></li>
			</ul>
			</a>
		</dd>
		<dt>驾校简介：</dt>
		<dd><!--{eval echo nl2br($school['description'])}--></dd>
	</dl>
	
	<!--{/if}-->
<!--{/if}-->
<!-- 原始的群组列表 -->
<!--{if $list}-->
	<div class="h_status">
		排序方式：
		<a href="space.php?do=mtag&view=$_GET[view]&fieldid=$_GET[fieldid]&orderby=threadnum"$orderbyarr[threadnum]>话题数排行</a><span class="pipe">|</span>
		<a href="space.php?do=mtag&view=$_GET[view]&fieldid=$_GET[fieldid]&orderby=postnum"$orderbyarr[postnum]>回帖数排行</a><span class="pipe">|</span>
		<a href="space.php?do=mtag&view=$_GET[view]&fieldid=$_GET[fieldid]&orderby=membernum"$orderbyarr[membernum]>成员数排行</a>
	</div>
	<div>
		<!--{if $rlist}-->
		<h3 class="l_status">
			我的群组
		</h3>
		<!--{/if}-->
		<table cellspacing="5" cellpadding="5"><tr>
		<!--{loop $list $key $value}-->
			<td width="80">
				<div class="threadimg60"><a href="space.php?do=mtag&tagid=$value[tagid]"><img src="$value[pic]" style="width:60px;"></a></div>
			</td>
			<td width="200">
				<a href="space.php?do=mtag&tagid=$value[tagid]" style="font-weight:bold;">$value[tagname]</a>
				<div class="gray">$value[title]</div>
				已有 <span class="num">$value[membernum]</span> 人加入
				<div class="gray">
					话题: $value[threadnum], 回帖: $value[postnum]
				</div>
			</td>
		<!--{if $key%2==1}--></tr><tr><!--{/if}-->
		<!--{/loop}-->
		</tr></table>
	</div>
	
	<div class="page">$multi</div>

<!--{else}-->
	<!--{if 'school'!=$_GET[view]}-->
	<div class="c_form">还没有群组。</div>
	<!--{/if}-->
<!--{/if}-->

</div>
<!--{if 'school'==$_GET[view] && empty($_GET['school_id']) && empty($_GET['province_id'])}-->
<div id="sidebar2">
<!--{else}-->
<div id="sidebar">
<!--{/if}-->
	<div class="sidebox">
	<h2 class="title">群组分类</h2>
	<ul class="post_list line_list">
		<li$pro_actives[all]><a href="space.php?do=mtag&view=$_GET[view]&orderby=$_GET[orderby]">全部</a>
		<!--{loop $_SGLOBAL['profield'] $value}-->
		<li{$pro_actives[$value[fieldid]]}><a href="space.php?do=mtag&view=$_GET[view]&fieldid=$value[fieldid]&orderby=$_GET[orderby]">$value[title]</a></li>
		<!--{/loop}-->
	</ul>
	</div>
	
	
	<!--{if $threadlist}-->
	<div class="sidebox">
	<h2 class="title">这些群组的话题更新</h2>
	<ul class="line_list">
		<!--{loop $threadlist $key $value}-->
			<li>
				<a href="space.php?uid=$value[uid]&do=thread&id=$value[tid]" <!--{if $value[magiccolor]}--> class="magiccolor$value[magiccolor]"<!--{/if}-->>$value[subject]</a>
				<!--{if $value[hot]}-->
				<br><span class="gray">$value[hot] 人推荐</span>
				<!--{/if}-->
			</li>
		<!--{/loop}-->
	</ul>
	</div>
	<!--{/if}-->

</div>

<!--/sidebar-->
<!--{template footer}-->
