<!--{eval $_TPL['titles'] = array('驾校评价');}-->
<!--{template header}-->

<div id="content">
	<h3><a href="space.php?do=mtag&view=school&school_id={$id}" title="返回驾校信息和群组列表">{$school[fullname]}（{$school[name]}）</a></h3>
	<fieldset>
		<legend>发表评价</legend>
		<form name="comment_form"  method="post">
		<input type="hidden" name="school_id" value="{$_GET[id]}" />
		<dl class="rating">
			<dt>价格评分：</dt>
			<dd>
				<ul class="starrating" id="price">
					<li><a  href="javascript:void(0);" class="star1">1</a></li>
					<li><a  href="javascript:void(0);" class="star2">2</a></li>
					<li><a  href="javascript:void(0);" class="star3">3</a></li>
					<li><a  href="javascript:void(0);" class="star4">4</a></li>
					<li><a  href="javascript:void(0);" class="star5">5</a></li>
				</ul>
				<span class="result"></span>
			</dd>
			<dt>服务评分：</dt>
			<dd>
				<ul class="starrating" id="service">
					<li><a  href="javascript:void(0);" class="star1">1</a></li>
					<li><a  href="javascript:void(0);" class="star2">2</a></li>
					<li><a  href="javascript:void(0);" class="star3">3</a></li>
					<li><a  href="javascript:void(0);" class="star4">4</a></li>
					<li><a  href="javascript:void(0);" class="star5">5</a></li>
				</ul>
				<span class="result"></span>
			</dd>
			<dt>环境评分：</dt>
			<dd>
				<ul class="starrating" id="environment">
					<li><a  href="javascript:void(0);" class="star1">1</a></li>
					<li><a  href="javascript:void(0);" class="star2">2</a></li>
					<li><a  href="javascript:void(0);" class="star3">3</a></li>
					<li><a  href="javascript:void(0);" class="star4">4</a></li>
					<li><a  href="javascript:void(0);" class="star5">5</a></li>
				</ul>
				<span class="result"></span>
			</dd>
			<dt>教练评分：</dt>
			<dd>
				<ul class="starrating" id="coach">
					<li><a  href="javascript:void(0);" class="star1">1</a></li>
					<li><a  href="javascript:void(0);" class="star2">2</a></li>
					<li><a  href="javascript:void(0);" class="star3">3</a></li>
					<li><a  href="javascript:void(0);" class="star4">4</a></li>
					<li><a  href="javascript:void(0);" class="star5">5</a></li>
				</ul>
				<span class="result"></span>
			</dd>
			<dt>评价内容:</dt>
			<dd><textarea cols="55" rows="5" name="comment"></textarea></dd>
			<div class="clear"></div>
			<dt>验证码：</dt>
			<dd>
				<script>seccode();</script>
			<p>请输入上面的4位字母或数字，看不清可<a href="javascript:updateseccode()">更换一张</a></p>
			<input type="text" id="seccode" name="seccode" value="" class="t_input" onBlur="checkSeccode()" tabindex="1" autocomplete="off" />&nbsp;<span id="checkseccode">&nbsp;</span>
			&nbsp;&nbsp;
				<input type="submit" name="submit" class="submit" value="提交"/>
			</dd>
		</dl>
		<input type="hidden" name="price" value="" />
		<input type="hidden" name="service" value="" />
		<input type="hidden" name="environment" value="" />
		<input type="hidden" name="coach" value="" />
		</form>
	</fieldset>
	<!--{loop $list $i $item}-->
	<dl class="comment_list">
		<dt>
			<span><b>点评时间：</b>{$item['addtime']}</span>
			<span><b>IP：</b>{$item['ip']}</span>
			<b>点评人：</b>{$item['username']}
		</dt>
		<dd>
			<ul class="rate">
				<li>
					<label>价格：</label>
					<ul class="starrating">
						<li style="width: {$item[width_price]}px;" id="currentrating"></li>
					</ul>
				</li>
				<li>
					<label>服务：</label>
					<ul class="starrating">
						<li style="width: {$item[width_service]}px;" id="currentrating"></li>
					</ul>
				</li>
				<li>
					<label>环境：</label>
					<ul class="starrating">
						<li style="width: {$item[width_environment]}px;" id="currentrating"></li>
					</ul>
				</li>
				<li>
					<label>教练：</label>
					<ul class="starrating">
						<li style="width: {$item[width_coach]}px;" id="currentrating"></li>
					</ul>
				</li>
			</ul>
			<!--{eval echo nl2br($item['comment'])}-->
		</dd>
		<div class="clear"></div>
	</dl>
	<!--{/loop}-->
	<div class="page">$multi</div>
</div>

<div id="sidebar">
	<div class="sidebox">
		<h2 class="title">驾校评分</h2>
	</div>
</div>
<div style="visibility: hidden;" id="RatingPopTip" class="rating-pop-tip">
</div>
<script language="JavaScript" type="text/javascript" src="source/jquery-1.4.2.min.js"></script>
<script language="JavaScript" type="text/javascript">
var rating_str = {
	'price':{'1':'差', '2':'中', '3':'好', '4':'很好', '5':'非常好'},
	'service':{'1':'差', '2':'中', '3':'好', '4':'很好', '5':'非常好'},
	'environment':{'1':'差', '2':'中', '3':'好', '4':'很好', '5':'非常好'},
	'coach':{'1':'差', '2':'中', '3':'好', '4':'很好', '5':'非常好'}
	};
$(document).ready(function(){
	$(".rating .starrating a").each(function(i) {
		var t = $(this).parent().parent().attr('id');
		var r = $(this).text();
		$(this).mouseover(function() {
			$(this).parent().parent().next().show().html(rating_str[t][r]);
			$(this).parent().siblings().each(function(n) {
				$(this).removeClass('current');
			});
		}).click(function() {
		//	alert(r);
			$(this).parent().addClass('current');
			$("input[name='"+t+"']").val(r);
		});
	});
	$(".rating .starrating").each(function() {
		$(this).mouseout(function() {
		//	alert($(this).children('.current').length);
			var t=$(this).attr('id');
			var r = $("input[name='"+t+"']").val();
			if (r!='') {
				$(this).children(":eq("+(r-1)+")").addClass('current');
				$(this).next().show().html(rating_str[t][r]);
			}
			if ($(this).children('.current').length==0) {
				$(this).next().hide();
			}
		});
	});
	
	
});
</script>
<!--{template footer}-->
