<!--{eval $_TPL['titles'] = array('驾校评价');}-->
<!--{template header}-->

<div id="content">
	<fieldset>
		<legend>发表评价</legend>
		<form name="comment_form"  method="post">
		<input type="hidden" name="school_id" value="{$_GET[id]}" />
		<dl class="vote">
			<dt>价格评分:</dt>
			<dd>
				<ul class="starrating">
					<li><a  href="javascript:void(0);" class="star1">1</a></li>
					<li><a  href="javascript:void(0);" class="star2">2</a></li>
					<li><a  href="javascript:void(0);" class="star3">3</a></li>
					<li><a  href="javascript:void(0);" class="star4">4</a></li>
					<li><a  href="javascript:void(0);" class="star5">5</a></li>
					<li><a  href="javascript:void(0);" class="star6">6</a></li>
					<li><a  href="javascript:void(0);" class="star7">7</a></li>
					<li><a  href="javascript:void(0);" class="star8">8</a></li>
					<li><a  href="javascript:void(0);" class="star9">9</a></li>
					<li><a  href="javascript:void(0);" class="star10">10</a></li>
				</ul>
			</dd>
			<div class="clear"></div>
			<dt>服务评分:</dt>
			<dd>
				<ul class="starrating">
					<li><a  href="javascript:void(0);" class="star1">1</a></li>
					<li><a  href="javascript:void(0);" class="star2">2</a></li>
					<li><a  href="javascript:void(0);" class="star3">3</a></li>
					<li><a  href="javascript:void(0);" class="star4">4</a></li>
					<li><a  href="javascript:void(0);" class="star5">5</a></li>
					<li><a  href="javascript:void(0);" class="star6">6</a></li>
					<li><a  href="javascript:void(0);" class="star7">7</a></li>
					<li><a  href="javascript:void(0);" class="star8">8</a></li>
					<li><a  href="javascript:void(0);" class="star9">9</a></li>
					<li><a  href="javascript:void(0);" class="star10">10</a></li>
				</ul>
			</dd>
			<div class="clear"></div>
			<dt>环境评分:</dt>
			<dd>
				<ul class="starrating">
					<li><a  href="javascript:void(0);" class="star1">1</a></li>
					<li><a  href="javascript:void(0);" class="star2">2</a></li>
					<li><a  href="javascript:void(0);" class="star3">3</a></li>
					<li><a  href="javascript:void(0);" class="star4">4</a></li>
					<li><a  href="javascript:void(0);" class="star5">5</a></li>
					<li><a  href="javascript:void(0);" class="star6">6</a></li>
					<li><a  href="javascript:void(0);" class="star7">7</a></li>
					<li><a  href="javascript:void(0);" class="star8">8</a></li>
					<li><a  href="javascript:void(0);" class="star9">9</a></li>
					<li><a  href="javascript:void(0);" class="star10">10</a></li>
				</ul>
			</dd>
			<div class="clear"></div>
			<dt>教练评分:</dt>
			<dd>
				<ul class="starrating">
					<li><a  href="javascript:void(0);" class="star1">1</a></li>
					<li><a  href="javascript:void(0);" class="star2">2</a></li>
					<li><a  href="javascript:void(0);" class="star3">3</a></li>
					<li><a  href="javascript:void(0);" class="star4">4</a></li>
					<li><a  href="javascript:void(0);" class="star5">5</a></li>
					<li><a  href="javascript:void(0);" class="star6">6</a></li>
					<li><a  href="javascript:void(0);" class="star7">7</a></li>
					<li><a  href="javascript:void(0);" class="star8">8</a></li>
					<li><a  href="javascript:void(0);" class="star9">9</a></li>
					<li><a  href="javascript:void(0);" class="star10">10</a></li>
				</ul>
			</dd>
			<div class="clear"></div>
			<dt>评价内容:</dt>
			<dd><textarea cols="55" rows="5" name="content"></textarea></dd>
			<div class="clear"></div>
			<dt>验证码：</dt>
			<dd>
				<input TYPE="text" name="verify" size="4" > <img src="__URL__/verify" style="cursor:pointer" onclick="javascript:this.src='__URL__/verify?r='+Math.random();" alt="看不清？点击刷新" align="absmiddle" />&nbsp;&nbsp;
				<input type="image" src="../Public/Images/submit_comment.gif" style="border:none" align="absmiddle" class="submit" value="提交评论"/>
			</dd>
		</dl>
		</form>
	</fieldset>
</div>

<div id="sidebar">
	<div class="sidebox">
		<h2 class="title">驾校评分</h2>
	</div>
</div>
<!--{template footer}-->
