<!--{eval $_TPL['nosidebar']=1;}-->
<!--{template header}-->
<style type="text/css">
.avatar_list {
	border: 1px solid #cee1ee;
}
.avatar_list li{
	width: 72px;
}
.avatar48 {
	margin: 0 auto;
}
</style>
<form id="recommendform" name="recommendform" action="space.php?do=recommend" method="post" class="c_form2" AutoComplete="off">
<table cellpadding="0" cellspacing="0" class="formtable">
	<caption>
		<h2 style="padding:20px 40px;">您已成功注册！<span>以下是您可能感兴趣的车友用户，您可以申请添加他们为好友。</span></h2>
	</caption>
	<tr>
		<td align="center">
			<table cellpadding="0" cellspacing="0" width="460">
			<!--{loop $result $type $arr}-->
				<!--{if !empty($arr)}-->
			<tr>
				<td align="left">
					<h3>
						<!--{if $type == 'car'}-->
						同车系车友
						<!--{elseif $type == 'city'}-->
						同城车友
						<!--{elseif $type == 'school'}-->
						同城驾校群组成员
						<!--{/if}-->
					：</h3>
				</td>
			</tr>
			<tr>
				<td align="left">
					<ul class="avatar_list">
						<!--{loop $arr $key $value}-->
						<li>
							<div class="avatar48"><a href="space.php?uid=$value[uid]"><!--{avatar($value[uid],small)}--></a></div>
							<p><input type="checkbox" name="sel_uid[]" class="$key" value="$value[uid]" align="absmiddle" checked="checked"><a href="space.php?uid=$value[uid]" title="{$_SN[$value[uid]]}" target="_blank">{$_SN[$value[uid]]}</a></p>
						</li>
						<!--{/loop}-->
						<div class="clear"></div>
					</ul>
				</td>
			</tr>
				<!--{/if}-->
			<!--{/loop}-->
			<tr>
				<td align="right">
					<input type="submit" id="submit" name="submit" value="添加所选车友为好友" class="submit" />
					&nbsp;&nbsp;
					<input type="button" value="跳过" class="button" onclick="document.location='space.php?do=home';" />
				</td>
			</tr>
			</table>
		</td>
	</tr>
	<tr><th>&nbsp;</th><td id="__registerform" style="color:red; font-weight:bold;"></td></tr>
</table>
<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" /></form>
</form>
<script type="text/javascript">

</script>

<!--{template footer}-->