<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>MBR膜|MBR膜生物反应器|MBR中水回用|MBR污水处理</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="MBR膜,MBR膜生物反应器,MBR中水回用,MBR污水处理">
	<meta name="Description" content="http://www.chinapeier.com/江苏蓝天沛尔膜业有限公司开发了水处理环保革命性产品，第三代MBR膜，生产平片膜和MBR膜生物反应器，广泛应用于MBR中水回用和MBR污水处理工程。">
	<link type="text/css" rel="stylesheet" href="../Public/Css/base.css" />
	<script language="JavaScript" type="text/javascript">
	var _APP_ = '__APP__';
	var _URL_ = '__URL__';
	var PUBLIC = '../Public';
	var IMAGE_FOLDER = '../Public/Images/';
	</script>
</head>
<body>
<div id="container">
	<layout name="Public:header" cache="0" />
	<layout name="$content" cache="0" />
	<layout name="Public:footer" cache="0" />
</div>
</body>
<iframe id="_iframe" name="_iframe" style="width:0;height:0;display:none;"></iframe>
</html>