body{
	padding: 0 10px; margin: 0; font-size: 12px; font-family:Geneva, Arial, Helvetica, sans-serif;
	line-height:180%;
}
a { color: #333; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
img { border: none; }
li { list-style: none; white-space: nowrap; }
input,textarea { border: 1px solid #ccc; padding-left: 2px; padding-right: 2px; }
textarea { overflow: auto; }
input .checkbox { border: none; }
.clear{clear:both;}

/*************    ¶¥²¿    **************/
#header{
	margin:0;
	padding:10px 0;
}
#header h1{
	float:left;
	width:300px;
	margin:0;
	padding:0;
	height:45px;
	text-align:left;
	color:#660000;
	font-size:24px;
	line-height:24px;
}
#header div.info{
	float:right;
	width:400px;
	margin:0;
	text-align: right; 
	height: 45px !important; 
	height: 35px; 
}
.left{
	float:left;
	width:560px;
	height:420px;
}
#gmap{
	width:100%;
	height:100%;
}
.right{
	float:left;
	width:300px;
	padding-left:10px;
}
#progress{
	height:5px;
	background-color:#FF0000;
}
/*************    µ×²¿    **************/
#footer { clear: both; border-top: 1px solid #dbdbdb; padding-top: 13px; padding-bottom: 15px; margin-top:2em;}
#footer a { float: left; color: #000; border-left: 1px solid #ddd; padding-right: 5px; padding-left: 5px }
#footer a.fm { border-left: 0; padding-left: 0; }
#footer span { float: right; }


.form_widget_amount_slider{
	border-top:1px solid #9d9c99;
	border-left:1px solid #9d9c99;
	border-bottom:1px solid #eee;
	border-right:1px solid #eee;
	background-color:#f0ede0;
	height:3px;
	position:absolute;
	bottom:0px;
	width:300px;
}