body{
	padding: 0; margin: 0; font-size: 12px; font-family:Geneva, Arial, Helvetica, sans-serif;
}
a { color: #333; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
img { border: none; }
li { list-style: none; white-space: nowrap; }
input,textarea { border: 1px solid #ccc; padding-left: 2px; padding-right: 2px; }
textarea { overflow: auto; }
input .checkbox { border: none; }
h1 { font-size: 12pt; margin-top: 25px; font-weight: bold; color: #FF9933; text-decoration: none; line-height:150%; }
h2 { font-size: 13px; color: #000; text-decoration: none; margin-top: 20px; margin-bottom: 5px; font-weight: bold; cursor: pointer; }
h2:hover { color: #f93; text-decoration: none; }
h3 { font-size: 13px; color: #000; text-decoration: none; margin-top: 20px; margin-bottom: 5px; font-weight: bold; cursor: pointer; }
h3:hover { color: #f93; text-decoration: none; }
p { line-height: 120%; }
div { line-height: 150%; }
.clear{clear:both;}

/*************    ¶¥²¿    **************/
#header { text-align: right; height: 45px !important; height: 35px; margin-top: 5px; }

#gmap{
	width:600px;
	height:450px;
}
#track{
	position:relative;
	width:300px;
	left:610px;
	top:-450px;
}

/*************    µ×²¿    **************/
#footer { clear: both; border-top: 1px solid #dbdbdb; padding-top: 13px; padding-bottom: 15px; margin-top:2em;}
#footer a { float: left; color: #000; border-left: 1px solid #ddd; padding-right: 5px; padding-left: 5px }
#footer a.fm { border-left: 0; padding-left: 0; }
#footer span { float: right; }

